pi/node-red/flows.json
[
    {
        "id": "c0a0000000000001",
        "type": "tab",
        "label": "00 Configuratie",
        "disabled": false,
        "info": "Centrale configuratie: spelerslijst en paaltjeslijst. Zie pi/node-red/blokken/00_configuratie/README.md",
        "env": []
    },
    {
        "id": "2e777e46958a814c",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[CONFIG] Spelerslijst",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"48:87:2d:9d:bb:7d\": \"Lilou\", \"48:87:2d:9d:ba:5c\": \"Zoë\", \"48:87:2d:9d:ba:cc\": \"Louisa\", \"48:87:2d:9d:ba:5f\": \"Lola\", \"48:87:2d:9d:bb:0b\": \"Maud\", \"48:87:2d:9d:ba:a5\": \"Mien\"}",
        "payloadType": "json",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "4b34e1666df93bbb"
            ]
        ]
    },
    {
        "id": "4b34e1666df93bbb",
        "type": "change",
        "z": "c0a0000000000001",
        "name": "Sla op als spelersLijst",
        "rules": [
            {
                "t": "set",
                "p": "spelersLijst",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "e6288a7d9dcaa5c1"
            ]
        ]
    },
    {
        "id": "e6288a7d9dcaa5c1",
        "type": "debug",
        "z": "c0a0000000000001",
        "name": "spelersLijst (controle)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "c0a0000000000002",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[CONFIG] Paaltjeslijst",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.2,
        "topic": "",
        "payload": "[1,2,3]",
        "payloadType": "json",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "c0a0000000000003"
            ]
        ]
    },
    {
        "id": "c0a0000000000003",
        "type": "change",
        "z": "c0a0000000000001",
        "name": "Sla op als paaltjesLijst",
        "rules": [
            {
                "t": "set",
                "p": "paaltjesLijst",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "c0a0000000000004"
            ]
        ]
    },
    {
        "id": "c0a0000000000004",
        "type": "debug",
        "z": "c0a0000000000001",
        "name": "paaltjesLijst (controle)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "124aa052f3987c33",
        "type": "tab",
        "label": "01 Locatiebepaling",
        "disabled": false,
        "info": "Bepaalt op welke paal elke speler zich bevindt. Zie pi/node-red/blokken/01_locatiebepaling/README.md",
        "env": []
    },
    {
        "id": "74b552b9f7b0487b",
        "type": "mqtt in",
        "z": "124aa052f3987c33",
        "name": "Ontvang Paal/MAC Data",
        "topic": "plaatjes/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0f3c274c3514a5f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 160,
        "wires": [
            [
                "144dea3e2a41356e",
                "b956f233d2dcdefc"
            ]
        ]
    },
    {
        "id": "144dea3e2a41356e",
        "type": "debug",
        "z": "124aa052f3987c33",
        "name": "Ontvangen Slave data van Masters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "b956f233d2dcdefc",
        "type": "function",
        "z": "124aa052f3987c33",
        "name": "Locatiebepaling Spelers",
        "func": "// ============================================================\n// Locatiebepaling: tijd-gevensterde argmax met hysteresis\n// ============================================================\n// Per speler houden we per paal recente RSSI-samples (met timestamp) bij.\n// Samples ouder dan VENSTER_MS vervallen, zodat een verlaten paal vanzelf\n// uit beeld raakt (geen 'kleven' meer aan een oude sterke meting).\n// De speler staat bij de paal met het sterkste recente gemiddelde (argmax);\n// wisselen gebeurt pas als die duidelijk sterker is dan de huidige paal.\n\n// --- TUNING (pas aan na veldtest) ---\nconst VENSTER_MS     = 5500;  // alleen samples jonger dan dit tellen mee\nconst MAX_SAMPLES    = 65;     // max bewaarde samples per paal\nconst HYSTERESE_DBM  = 25;     // nieuwe paal moet huidige met >= dit verslaan\nconst MIN_SAMPLES    = 1;     // min. recente samples om kandidaat te zijn\n\n// --- 0. SMOELENBOEK ---\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nconst ruweMac = msg.payload.mac;\nconst spelerNaam = spelersLijst[ruweMac];\nif (!spelerNaam) return null; // Onbekende beacon negeren\nconst gepauzeerd = global.get(\"gespauzeerdePlayers\") || {};\nif (gepauzeerd[spelerNaam] === true) return null;\n\nconst paal = msg.payload.paal;\nconst rssi = msg.payload.rssi;\nconst nu = Date.now();\n\n// --- 1. GEHEUGEN ---\nlet geschiedenis = context.get(\"geschiedenis\") || {};\nlet spelerLocaties = global.get(\"spelerLocaties\") || {};\n\nif (!geschiedenis[spelerNaam] || !geschiedenis[spelerNaam].samples) {\n    geschiedenis[spelerNaam] = { huidigePaal: null, samples: {} };\n}\nlet g = geschiedenis[spelerNaam];\n\n// --- 2. NIEUWE SAMPLE + PRUNE ---\nif (!g.samples[paal]) g.samples[paal] = [];\ng.samples[paal].push({ rssi: rssi, ts: nu });\n\nfor (const p in g.samples) {\n    // verouderde samples weggooien\n    g.samples[p] = g.samples[p].filter(s => (nu - s.ts) <= VENSTER_MS);\n    // lengte begrenzen (laatste MAX_SAMPLES houden)\n    if (g.samples[p].length > MAX_SAMPLES) {\n        g.samples[p] = g.samples[p].slice(-MAX_SAMPLES);\n    }\n    // lege palen verwijderen zodat ze geen kandidaat meer zijn\n    if (g.samples[p].length === 0) delete g.samples[p];\n}\n\n// --- 3. GEMIDDELDE RSSI PER PAAL (recente samples) ---\nfunction gem(arr) {\n    return arr.reduce((a, b) => a + b.rssi, 0) / arr.length;\n}\nlet gemiddelden = {};\nfor (const p in g.samples) {\n    gemiddelden[p] = gem(g.samples[p]);\n}\n\n// --- 4. ARGMAX: sterkste paal met genoeg recente samples ---\nlet bestePaal = null;\nlet besteRssi = -Infinity;\nfor (const p in g.samples) {\n    if (g.samples[p].length < MIN_SAMPLES) continue;\n    if (gemiddelden[p] > besteRssi) {\n        besteRssi = gemiddelden[p];\n        bestePaal = parseInt(p, 10);\n    }\n}\n\n// --- 5. BESLISSING MET HYSTERESIS ---\nconst vorigePaal = g.huidigePaal;\nif (bestePaal !== null) {\n    if (vorigePaal === null || vorigePaal === undefined) {\n        // eerste lokalisatie van deze speler\n        g.huidigePaal = bestePaal;\n    } else if (!(vorigePaal in gemiddelden)) {\n        // huidige paal heeft geen recente data meer -> direct loslaten\n        g.huidigePaal = bestePaal;\n    } else if (bestePaal !== vorigePaal &&\n               gemiddelden[bestePaal] > gemiddelden[vorigePaal] + HYSTERESE_DBM) {\n        // nieuwe paal duidelijk sterker -> wisselen\n        g.huidigePaal = bestePaal;\n    }\n}\n\n// Beweging-event ALLEEN bij een echte wissel (niet bij eerste lokalisatie),\n// zodat het puntensysteem geen levensuur toekent op de allereerste detectie.\nlet bewegingEvent = null;\nif (g.huidigePaal !== vorigePaal &&\n    vorigePaal !== null && vorigePaal !== undefined) {\n    bewegingEvent = { payload: { speler: spelerNaam, vanPaal: vorigePaal, naarPaal: g.huidigePaal } };\n}\n\ncontext.set(\"geschiedenis\", geschiedenis);\n\n// --- 6. CENTRALE WAARHEID ---\nif (g.huidigePaal !== null && g.huidigePaal !== undefined) {\n    spelerLocaties[spelerNaam] = g.huidigePaal;\n    global.set(\"spelerLocaties\", spelerLocaties);\n}\n\n// --- 7. TABELDATA (incl. levensuren/levensdagen uit flow 04) ---\nconst stats = global.get(\"spelerStats\") || {};\nlet tabelData = [];\nfor (let speler in spelerLocaties) {\n    const totaalUren = (stats[speler] && stats[speler].totaalUren) || 0;\n    const huidige = spelerLocaties[speler];\n    // toon het gemiddelde RSSI over het venster voor de actieve paal\n    let rssiTekst = \"?\";\n    const sg = geschiedenis[speler] && geschiedenis[speler].samples;\n    if (sg && sg[huidige] && sg[huidige].length) {\n        rssiTekst = Math.round(gem(sg[huidige]));\n    }\n    tabelData.push({\n        \"Speler\": speler,\n        \"Locatie\": \"Paal \" + huidige,\n        \"RSSI\": rssiTekst,\n        \"Levensdagen\": Math.floor(totaalUren / 24),\n        \"Levensuren\": totaalUren % 24,\n        \"Achterstand\": (stats[speler] && stats[speler].achterstand) || 0\n    });\n}\n\nmsg.payload = tabelData;\n// Output 1: radar-tabel  |  Output 2: beweging-event naar puntensysteem\nreturn [msg, bewegingEvent];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "7c11e3f6ff689eda",
                "2f75d20d1f49851d"
            ],
            [
                "c1b0000000000001"
            ]
        ]
    },
    {
        "id": "7c11e3f6ff689eda",
        "type": "debug",
        "z": "124aa052f3987c33",
        "name": "Locatiebepaling spelers",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "2f75d20d1f49851d",
        "type": "ui-table",
        "z": "124aa052f3987c33",
        "group": "33309fae52329839",
        "name": "Tabel Locatie Spelers",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Naam",
                "key": "Speler",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Actieve paal",
                "key": "Locatie",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Signaal (dBm)",
                "key": "RSSI",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Levensdagen",
                "key": "Levensdagen",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Levensuren",
                "key": "Levensuren",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Achterstand",
                "key": "Achterstand",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "10ca71e000000001",
        "type": "inject",
        "z": "124aa052f3987c33",
        "name": "[TEST] Detectie Lilou paal 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\":1,\"mac\":\"48:87:2d:9d:bb:7d\",\"rssi\":-55}",
        "payloadType": "json",
        "x": 220,
        "y": 320,
        "wires": [
            [
                "b956f233d2dcdefc"
            ]
        ]
    },
    {
        "id": "10ca71e000000002",
        "type": "inject",
        "z": "124aa052f3987c33",
        "name": "[TEST] Detectie Zoë paal 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\":2,\"mac\":\"48:87:2d:9d:ba:5c\",\"rssi\":-58}",
        "payloadType": "json",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "b956f233d2dcdefc"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60101",
        "type": "tab",
        "label": "02 Spelstatus",
        "disabled": false,
        "info": "Toont de gezondheid van het spel; moet OK zijn vóór de start. Zie pi/node-red/blokken/02_spelstatus/README.md",
        "env": []
    },
    {
        "id": "a1b2c3d4e5f60102",
        "type": "mqtt in",
        "z": "a1b2c3d4e5f60101",
        "name": "Ontvang detecties",
        "topic": "plaatjes/data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0f3c274c3514a5f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a1b2c3d4e5f60103",
                "a1b2c3d4e5f60129"
            ]
        ]
    },
    {
        "id": "10ca71e000000003",
        "type": "inject",
        "z": "a1b2c3d4e5f60101",
        "name": "[TEST] Detectie",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\":1,\"mac\":\"48:87:2d:9d:bb:7d\",\"rssi\":-60}",
        "payloadType": "json",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a1b2c3d4e5f60103"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60103",
        "type": "function",
        "z": "a1b2c3d4e5f60101",
        "name": "Registreer detectie",
        "func": "// Detectie binnen via plaatjes/data: {paal, mac, rssi}\nconst nu = Date.now();\nconst d = msg.payload;\nif (!d || d.paal === undefined || !d.mac) { return null; }\n\nlet macSeen = global.get(\"status_lastSeenMac\") || {};\nlet paalSeen = global.get(\"status_lastSeenPaal\") || {};\n\nmacSeen[d.mac] = nu;\npaalSeen[d.paal] = nu;\n\nglobal.set(\"status_lastSeenMac\", macSeen);\nglobal.set(\"status_lastSeenPaal\", paalSeen);\nglobal.set(\"status_lastDataTs\", nu);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "a1b2c3d4e5f6010c"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f6010c",
        "type": "debug",
        "z": "a1b2c3d4e5f60101",
        "name": "Detectie (debug)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f60106",
        "type": "inject",
        "z": "a1b2c3d4e5f60101",
        "name": "Evalueer (elke 3s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "a1b2c3d4e5f60107"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60107",
        "type": "function",
        "z": "a1b2c3d4e5f60101",
        "name": "Evalueer spelstatus",
        "func": "// Spel gestopt: stop evaluatie en toon gestopt-status\nif (global.get(\"spelToestand\") === \"gestopt\") {\n    return [\n        { payload: [] },\n        { payload: [] },\n        { payload: [{ Code: \"-\", Niveau: \"INFO\", Onderdeel: \"-\", Omschrijving: \"Spel is gestopt\" }] },\n        { payload: \"GESTOPT — spel is beëindigd\" }\n    ];\n}\n// === Spelstatus evaluatie ===\nconst nu = Date.now();\n\n// Instelbare drempels\nconst SPELER_TIMEOUT_MS = 15000;\nconst SLAVE_STALE_MS = 60000;\nconst GEEN_DATA_MS = 10000;\n\n// Bronnen\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nconst paaltjesLijst = global.get(\"paaltjesLijst\") || [];\nconst macSeen = global.get(\"status_lastSeenMac\") || {};\nconst paalSeen = global.get(\"status_lastSeenPaal\") || {};\nconst lastDataTs = global.get(\"status_lastDataTs\") || 0;\nconst batterijPaal = global.get(\"status_batterijPaal\") || {};\nconst toonBatterij = global.get(\"status_toonBatterij\") === true;\nconst override = global.get(\"status_override\") === true;\n\nlet fouten = [];\n\n// 1. SPELERS\nlet spelersTabel = [];\nfor (const mac in spelersLijst) {\n    const naam = spelersLijst[mac];\n    const t = macSeen[mac];\n    let status, ouderdom;\n    if (!t) {\n        status = \"NIET GEZIEN\";\n        ouderdom = \"-\";\n        fouten.push({ Code: \"ST-001\", Niveau: \"FOUT\", Onderdeel: naam, Omschrijving: \"Speler nog niet gedetecteerd in het veld\" });\n    } else if (nu - t > SPELER_TIMEOUT_MS) {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"VERLOREN\";\n        fouten.push({ Code: \"ST-001\", Niveau: \"FOUT\", Onderdeel: naam, Omschrijving: \"Speler al \" + ouderdom + \" niet meer gezien\" });\n    } else {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"OK\";\n    }\n    spelersTabel.push({ Speler: naam, Status: status, \"Laatst gezien\": ouderdom });\n}\n\n// 2. SLAVES / PALEN\nlet palenTabel = [];\nfor (const paal of paaltjesLijst) {\n    const t = paalSeen[paal];\n    let status, ouderdom;\n    if (!t) {\n        status = \"GEEN CONTACT\";\n        ouderdom = \"-\";\n        fouten.push({ Code: \"ST-002\", Niveau: \"WAARSCHUWING\", Onderdeel: \"Paal \" + paal, Omschrijving: \"Slave heeft nog geen data gestuurd\" });\n    } else if (nu - t > SLAVE_STALE_MS) {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"VEROUDERD\";\n        fouten.push({ Code: \"ST-002\", Niveau: \"WAARSCHUWING\", Onderdeel: \"Paal \" + paal, Omschrijving: \"Slave al \" + ouderdom + \" stil\" });\n    } else {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"OK\";\n    }\n    // Batterij-kolom: gevuld als toggle aan staat, anders \"-\"\n    let batterijTekst = \"-\";\n    if (toonBatterij) {\n        const b = batterijPaal[paal];\n        batterijTekst = (b && typeof b.volt === \"number\")\n            ? b.volt.toFixed(2) + \" V\"\n            : \"?\";\n    }\n    palenTabel.push({ Paal: paal, Status: status, \"Laatst gezien\": ouderdom, \"Batterij\": batterijTekst });\n}\n\n// 3. DATASTROOM\nif (lastDataTs === 0) {\n    fouten.push({ Code: \"ST-003\", Niveau: \"FOUT\", Onderdeel: \"Datastroom\", Omschrijving: \"Nog geen enkel bericht ontvangen op plaatjes/data\" });\n} else if (nu - lastDataTs > GEEN_DATA_MS) {\n    fouten.push({ Code: \"ST-003\", Niveau: \"FOUT\", Onderdeel: \"Datastroom\", Omschrijving: \"Al \" + Math.round((nu - lastDataTs) / 1000) + \"s geen data - controleer master/bridge\" });\n}\n\n// 4. ONBEKENDE BEACONS (informatief)\nfor (const mac in macSeen) {\n    if (!spelersLijst[mac] && (nu - macSeen[mac] < SPELER_TIMEOUT_MS)) {\n        fouten.push({ Code: \"ST-004\", Niveau: \"INFO\", Onderdeel: mac, Omschrijving: \"Onbekende beacon gedetecteerd (niet geregistreerd)\" });\n    }\n}\n\n// SAMENVATTING\nconst aantalFout = fouten.filter(f => f.Niveau === \"FOUT\").length;\nconst spelOk = aantalFout === 0 && spelersTabel.length > 0 && palenTabel.length > 0;\n\nglobal.set(\"status_ok\", spelOk);\nglobal.set(\"status_fouten\", fouten);\n\nlet statusTekst;\nif (spelOk) {\n    statusTekst = override\n        ? \"GO - spelstatus OK (override actief)\"\n        : \"GO - spelstatus OK, klaar om te starten\";\n} else if (override) {\n    statusTekst = \"NO-GO - \" + aantalFout + \" fout(en) - OVERRIDE actief, Start spel mogelijk\";\n} else {\n    statusTekst = \"NO-GO - \" + aantalFout + \" fout(en), zie foutcodes\";\n}\n\nconst foutenTabel = fouten.length > 0\n    ? fouten\n    : [{ Code: \"-\", Niveau: \"INFO\", Onderdeel: \"-\", Omschrijving: \"Geen fouten\" }];\n\nreturn [\n    { payload: spelersTabel },\n    { payload: palenTabel },\n    { payload: foutenTabel },\n    { payload: statusTekst }\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "a1b2c3d4e5f60108"
            ],
            [
                "a1b2c3d4e5f60109"
            ],
            [
                "a1b2c3d4e5f6010a"
            ],
            [
                "a1b2c3d4e5f6010b"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f6010b",
        "type": "ui-text",
        "z": "a1b2c3d4e5f60101",
        "group": "a1b2c3d4e5f6010e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Spelstatus",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f60108",
        "type": "ui-table",
        "z": "a1b2c3d4e5f60101",
        "group": "a1b2c3d4e5f6010f",
        "name": "Tabel Spelers",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Speler",
                "key": "Speler",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Status",
                "key": "Status",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Laatst gezien",
                "key": "Laatst gezien",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f60109",
        "type": "ui-table",
        "z": "a1b2c3d4e5f60101",
        "group": "a1b2c3d4e5f60110",
        "name": "Tabel Palen",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Paal",
                "key": "Paal",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Status",
                "key": "Status",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Laatst gezien",
                "key": "Laatst gezien",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Batterij",
                "key": "Batterij",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "a1b2c3d4e5f6010a",
        "type": "ui-table",
        "z": "a1b2c3d4e5f60101",
        "group": "a1b2c3d4e5f60111",
        "name": "Tabel Foutcodes",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Code",
                "key": "Code",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Niveau",
                "key": "Niveau",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Onderdeel",
                "key": "Onderdeel",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Omschrijving",
                "key": "Omschrijving",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "left"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 710,
        "y": 440,
        "wires": []
    },
    {
        "id": "b3d1000000000001",
        "type": "tab",
        "label": "03 Bediening",
        "disabled": false,
        "info": "Interactief dashboard om het spel te starten/pauzeren/herstarten. Zie pi/node-red/blokken/03_bediening/README.md",
        "env": []
    },
    {
        "id": "b3d1000000000002",
        "type": "ui-button",
        "z": "b3d1000000000001",
        "group": "b3d100000000000a",
        "name": "Start spel",
        "label": "Start spel",
        "order": 1,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "start",
        "payloadType": "str",
        "topic": "bediening",
        "topicType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b3d1000000000006"
            ]
        ]
    },
    {
        "id": "b3d1000000000003",
        "type": "ui-button",
        "z": "b3d1000000000001",
        "group": "b3d100000000000a",
        "name": "Pauzeer",
        "label": "Pauzeer",
        "order": 2,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "pauzeer",
        "payloadType": "str",
        "topic": "bediening",
        "topicType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "b3d1000000000006"
            ]
        ]
    },
    {
        "id": "b3d1000000000004",
        "type": "ui-button",
        "z": "b3d1000000000001",
        "group": "b3d100000000000a",
        "name": "Hervat",
        "label": "Hervat",
        "order": 3,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "hervat",
        "payloadType": "str",
        "topic": "bediening",
        "topicType": "str",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "b3d1000000000006"
            ]
        ]
    },
    {
        "id": "b3d1000000000005",
        "type": "ui-button",
        "z": "b3d1000000000001",
        "group": "b3d100000000000a",
        "name": "Herstart",
        "label": "Herstart",
        "order": 4,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "herstart",
        "payloadType": "str",
        "topic": "bediening",
        "topicType": "str",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "b3d1000000000006"
            ]
        ]
    },
    {
        "id": "b3d1000000000008",
        "type": "inject",
        "z": "b3d1000000000001",
        "name": "Toon toestand bij opstart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "toon",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "b3d1000000000006"
            ]
        ]
    },
    {
        "id": "b3d1000000000006",
        "type": "function",
        "z": "b3d1000000000001",
        "name": "Verwerk bediening",
        "func": "// Verwerk een knop van het Bediening-dashboard\nconst actie = msg.payload;\nlet toestand = global.get(\"spelToestand\") || \"gestopt\";\nconst statusOk = global.get(\"status_ok\");\nconst override = global.get(\"status_override\") === true;\nlet melding = \"\";\n\nswitch (actie) {\n    case \"start\":\n        if (toestand === \"lopend\") {\n            melding = \"Spel liep al.\";\n        } else if (statusOk === false && !override) {\n            // NO-GO en geen override: weiger te starten\n            melding = \"NO-GO - kan niet starten. Los fouten op of zet OVERRIDE aan.\";\n        } else {\n            toestand = \"lopend\";\n            if (statusOk === false && override) {\n                melding = \"Spel GESTART met OVERRIDE - spelstatus was NIET OK\";\n            } else {\n                melding = \"Spel gestart.\";\n            }\n        }\n        break;\n    case \"pauzeer\":\n        if (toestand === \"lopend\") {\n            toestand = \"gepauzeerd\";\n            melding = \"Spel gepauzeerd.\";\n        } else {\n            melding = \"Pauzeren kan enkel terwijl het spel loopt.\";\n        }\n        break;\n    case \"hervat\":\n        if (toestand === \"gepauzeerd\") {\n            toestand = \"lopend\";\n            melding = \"Spel hervat.\";\n        } else {\n            melding = \"Hervatten kan enkel vanuit pauze.\";\n        }\n        break;\n    case \"herstart\":\n        toestand = \"lopend\";\n        melding = \"Spel herstart - toestand teruggezet naar het begin.\";\n        break;\n    case \"toon\":\n        melding = \"Huidige toestand.\";\n        break;\n    default:\n        melding = \"Onbekende actie: \" + actie;\n}\n\nglobal.set(\"spelToestand\", toestand);\n\nmsg.payload = \"Toestand: \" + toestand.toUpperCase() + \"  |  \" + melding;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "b3d1000000000007"
            ]
        ]
    },
    {
        "id": "b3d1000000000007",
        "type": "ui-text",
        "z": "b3d1000000000001",
        "group": "b3d100000000000a",
        "order": 5,
        "width": 12,
        "height": 1,
        "name": "Huidige speltoestand",
        "label": "Speltoestand",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    },
    {
        "id": "0f3c274c3514a5f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.43",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2560e15da2c4a046",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "f4af76d3be7f4001",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "a1b2c3d4e5f6010d",
        "type": "ui-page",
        "name": "Spelstatus",
        "ui": "2560e15da2c4a046",
        "path": "/spelstatus",
        "icon": "check-circle",
        "layout": "grid",
        "theme": "f4af76d3be7f4001",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a1b2c3d4e5f6010e",
        "type": "ui-group",
        "name": "Spelstatus",
        "page": "a1b2c3d4e5f6010d",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f6010f",
        "type": "ui-group",
        "name": "Spelers",
        "page": "a1b2c3d4e5f6010d",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f60110",
        "type": "ui-group",
        "name": "Palen / Slaves",
        "page": "a1b2c3d4e5f6010d",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f60111",
        "type": "ui-group",
        "name": "Foutcodes",
        "page": "a1b2c3d4e5f6010d",
        "width": 12,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b3d1000000000009",
        "type": "ui-page",
        "name": "Bediening",
        "ui": "2560e15da2c4a046",
        "path": "/bediening",
        "icon": "gamepad-variant",
        "layout": "grid",
        "theme": "f4af76d3be7f4001",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b3d100000000000a",
        "type": "ui-group",
        "name": "Speltoestand",
        "page": "b3d1000000000009",
        "width": 12,
        "height": 5,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "33309fae52329839",
        "type": "ui-group",
        "name": "Live Radar",
        "page": "b3d1000000000009",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f60120",
        "type": "ui-group",
        "name": "MQTT",
        "page": "a1b2c3d4e5f6010d",
        "width": 2,
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f60121",
        "type": "ui-group",
        "name": "Bediening status",
        "page": "a1b2c3d4e5f6010d",
        "width": 4,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a1b2c3d4e5f60122",
        "type": "status",
        "z": "a1b2c3d4e5f60101",
        "name": "MQTT status watcher",
        "scope": [
            "a1b2c3d4e5f60102"
        ],
        "x": 170,
        "y": 500,
        "wires": [
            [
                "a1b2c3d4e5f60123"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60123",
        "type": "function",
        "z": "a1b2c3d4e5f60101",
        "name": "Map naar groen/rood",
        "func": "// Status-event van de MQTT-in node: bepaal of de broker bereikbaar is.\n// node-red zet fill='green' bij 'connected', anders rood/grijs/geel.\nconst fill = msg.status && msg.status.fill;\nconst text = (msg.status && msg.status.text) || \"\";\nconst connected = (fill === \"green\")\n    || /connected/i.test(text);\nreturn { payload: connected };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "a1b2c3d4e5f60124"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60124",
        "type": "ui-template",
        "z": "a1b2c3d4e5f60101",
        "group": "a1b2c3d4e5f60120",
        "page": "",
        "ui": "",
        "name": "MQTT indicator",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div :style=\"{\n        backgroundColor: msg && msg.payload ? '#2e7d32' : '#c62828',\n        color: 'white',\n        padding: '14px 8px',\n        textAlign: 'center',\n        fontWeight: 'bold',\n        borderRadius: '4px',\n        fontSize: '16px',\n        letterSpacing: '0.5px'\n    }\">\n        MQTT {{ msg && msg.payload ? '✓ OK' : '✗ WEG' }}\n    </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b2c3d4e5f60125",
        "type": "ui-switch",
        "z": "a1b2c3d4e5f60101",
        "name": "Toon batterij",
        "label": "Toon batterij",
        "group": "a1b2c3d4e5f60121",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "true",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60126"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60126",
        "type": "change",
        "z": "a1b2c3d4e5f60101",
        "name": "Sla status_toonBatterij op",
        "rules": [
            {
                "t": "set",
                "p": "status_toonBatterij",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 580,
        "wires": [
            [
                "a1b2c3d4e5f60107"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60127",
        "type": "ui-switch",
        "z": "a1b2c3d4e5f60101",
        "name": "Override NO-GO",
        "label": "Override NO-GO",
        "group": "a1b2c3d4e5f60121",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "true",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "a1b2c3d4e5f60128"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60128",
        "type": "change",
        "z": "a1b2c3d4e5f60101",
        "name": "Sla status_override op",
        "rules": [
            {
                "t": "set",
                "p": "status_override",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "a1b2c3d4e5f60107"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60129",
        "type": "function",
        "z": "a1b2c3d4e5f60101",
        "name": "Registreer batterij",
        "func": "// Batterij-regel binnen via plaatjes/data: {paal, batt}\n// Tegelijk gebruiken als heartbeat zodat een paal met 0 spelers ook\n// als 'levend' geldt in de spelstatus.\nconst nu = Date.now();\nconst d = msg.payload;\nif (!d || d.paal === undefined || d.batt === undefined) return null;\n\nlet batterijPaal = global.get(\"status_batterijPaal\") || {};\nbatterijPaal[d.paal] = { volt: d.batt, ts: nu };\nglobal.set(\"status_batterijPaal\", batterijPaal);\n\nlet paalSeen = global.get(\"status_lastSeenPaal\") || {};\npaalSeen[d.paal] = nu;\nglobal.set(\"status_lastSeenPaal\", paalSeen);\nglobal.set(\"status_lastDataTs\", nu);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b2c3d4e5f6012a",
        "type": "inject",
        "z": "a1b2c3d4e5f60101",
        "name": "Init toggles bij opstart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "a1b2c3d4e5f60126",
                "a1b2c3d4e5f60128"
            ]
        ]
    },
    {
        "id": "c1b0000000000001",
        "type": "link out",
        "z": "124aa052f3987c33",
        "name": "Beweging naar Puntensysteem",
        "mode": "link",
        "links": [
            "c4a0000000000002"
        ],
        "x": 855,
        "y": 320,
        "wires": []
    },
    {
        "id": "c4a0000000000001",
        "type": "tab",
        "label": "04 Puntensysteem",
        "disabled": false,
        "info": "Houdt levensuren/levensdagen per speler bij. Zie pi/node-red/blokken/04_puntensysteem/README.md",
        "env": []
    },
    {
        "id": "c4a0000000000002",
        "type": "link in",
        "z": "c4a0000000000001",
        "name": "Beweging van Locatiebepaling",
        "links": [
            "c1b0000000000001"
        ],
        "x": 160,
        "y": 120,
        "wires": [
            [
                "c4a0000000000003"
            ]
        ]
    },
    {
        "id": "c4a0000000000003",
        "type": "function",
        "z": "c4a0000000000001",
        "name": "Bereken levensuren",
        "func": "// === Puntensysteem: levensuren op de 24-uurs klok (deficit-model) ===\n// Inkomend event: { speler, vanPaal, naarPaal }. Zie docs/spel.md.\n//  - elk uur VOORUIT = +1 levensuur; 24 levensuren = 1 levensdag\n//  - ACHTERUIT = -1 per uur, normaal NIET toegestaan (per speler 'tijdTerug')\n//  - score telt alleen tijdens een lopend spel (global.spelToestand)\n//  - 'achterstand' = hoeveel uur de speler illegaal onder zijn hoogste legale\n//    positie zit. Vooruit haalt eerst die achterstand in voordat er punten\n//    bijkomen, zodat terug-en-weer-vooruit geen gratis levensuren oplevert.\n//  - Plates-of-Fate regel maxVerplaatsing begrenst de vooruit-stappen per ronde.\nconst AANTAL_UREN = 24;\n\nconst ev = msg.payload;\nif (!ev || !ev.speler || ev.vanPaal === undefined || ev.naarPaal === undefined) {\n    return null;\n}\n\nlet stats = global.get(\"spelerStats\") || {};\nlet s = stats[ev.speler] || {};\nif (s.totaalUren === undefined) s.totaalUren = 0;\nif (s.tijdTerug === undefined) s.tijdTerug = false;\nif (s.achterstand === undefined) s.achterstand = 0;\nif (s.verplaatstRonde === undefined) s.verplaatstRonde = 0;\n\n// Alleen scoren tijdens een lopend spel. Anders enkel positie bijwerken.\nconst toestand = global.get(\"spelToestand\") || \"gestopt\";\nif (toestand !== \"lopend\") {\n    s.huidigePaal = ev.naarPaal;\n    stats[ev.speler] = s;\n    global.set(\"spelerStats\", stats);\n    msg.payload = {\n        speler: ev.speler, van: ev.vanPaal, naar: ev.naarPaal,\n        richting: \"genegeerd\", stappen: 0,\n        totaalUren: s.totaalUren,\n        levensdagen: Math.floor(s.totaalUren / 24),\n        levensuren: s.totaalUren % 24,\n        achterstand: s.achterstand,\n        tijdTerug: s.tijdTerug,\n        melding: ev.speler + \" bewoog (\" + ev.vanPaal + \"->\" + ev.naarPaal + \") maar spel is \" + toestand.toUpperCase() + \" - geen levensuren\"\n    };\n    return msg;\n}\n\n// Plates-of-Fate effect: speler 'mag niet bewegen' -> beweging telt niet mee.\nconst _fx = (global.get(\"spelerEffecten\") || {})[ev.speler] || [];\nif (_fx.some(e => e.effect === \"mag_niet_bewegen\")) {\n    s.huidigePaal = ev.naarPaal;\n    stats[ev.speler] = s;\n    global.set(\"spelerStats\", stats);\n    msg.payload = {\n        speler: ev.speler, van: ev.vanPaal, naar: ev.naarPaal,\n        richting: \"geblokkeerd\", stappen: 0,\n        totaalUren: s.totaalUren,\n        levensdagen: Math.floor(s.totaalUren / 24),\n        levensuren: s.totaalUren % 24,\n        achterstand: s.achterstand, tijdTerug: s.tijdTerug,\n        melding: ev.speler + \" mag niet bewegen (Plates-of-Fate effect) - geen wijziging\"\n    };\n    return msg;\n}\n\n// Verplaatsing op de cirkel van AANWEZIGE palen (paaltjesLijst als ring).\n// Van de hoogste naar de laagste aanwezige paal telt zo als 1 stap vooruit\n// (de cirkel sluit), niet als grote sprong achteruit.\nconst palen = (global.get(\"paaltjesLijst\") || []).slice().sort((a, b) => a - b);\nconst N = palen.length;\nconst iVan = palen.indexOf(ev.vanPaal);\nconst iNaar = palen.indexOf(ev.naarPaal);\nlet richting, stappen;\nif (N < 2 || iVan < 0 || iNaar < 0) {\n    richting = \"geen\"; stappen = 0;   // onbekende paal -> geen wijziging\n} else {\n    let vooruit = (((iNaar - iVan) % N) + N) % N;\n    let achteruit = N - vooruit;\n    if (vooruit === 0) { richting = \"geen\"; stappen = 0; }\n    else if (vooruit <= achteruit) { richting = \"vooruit\"; stappen = vooruit; }\n    else { richting = \"achteruit\"; stappen = achteruit; }\n}\n\nconst regels = global.get(\"pofRegels\") || {};\nlet melding;\n\nif (richting === \"vooruit\") {\n    let toegestaan = stappen;\n    let illegaalExtra = 0;\n    // Plates-of-Fate: begrens vooruit-verplaatsing per ronde.\n    if (regels.maxVerplaatsing !== undefined && regels.maxVerplaatsing !== null) {\n        const ruimte = Math.max(0, regels.maxVerplaatsing - s.verplaatstRonde);\n        if (toegestaan > ruimte) {\n            illegaalExtra = toegestaan - ruimte;\n            toegestaan = ruimte;\n        }\n    }\n    // Eerst de achterstand inhalen, dan pas punten toekennen.\n    if (toegestaan > 0) {\n        if (s.achterstand >= toegestaan) {\n            s.achterstand -= toegestaan;\n        } else {\n            const nieuw = toegestaan - s.achterstand;\n            s.achterstand = 0;\n            s.totaalUren += nieuw;\n        }\n        s.verplaatstRonde += toegestaan;\n    }\n    // Illegale extra (regel-overtreding) -> als achterstand, nooit belonen.\n    if (illegaalExtra > 0) {\n        s.achterstand += illegaalExtra;\n        melding = ev.speler + \": regel max \" + regels.maxVerplaatsing + \" overschreden, \" + illegaalExtra + \" uur genegeerd\";\n    } else {\n        melding = ev.speler + \" +\" + toegestaan + \" levensuur(en) (vooruit)\";\n    }\n} else if (richting === \"achteruit\") {\n    if (s.tijdTerug) {\n        s.totaalUren = Math.max(0, s.totaalUren - stappen);\n        melding = ev.speler + \" -\" + stappen + \" levensuur(en) (terug in de tijd)\";\n    } else {\n        // Illegaal terug: geen aftrek, maar de achterstand groeit zodat de\n        // speler eerst weer terug omhoog moet voordat hij punten verdient.\n        s.achterstand += stappen;\n        melding = ev.speler + \" ging achteruit (illegaal) - geen aftrek, achterstand nu \" + s.achterstand;\n    }\n} else {\n    melding = ev.speler + \" geen netto verplaatsing\";\n}\n\ns.huidigePaal = ev.naarPaal;\nstats[ev.speler] = s;\nglobal.set(\"spelerStats\", stats);\n\nmsg.payload = {\n    speler: ev.speler, van: ev.vanPaal, naar: ev.naarPaal,\n    richting: richting, stappen: stappen,\n    totaalUren: s.totaalUren,\n    levensdagen: Math.floor(s.totaalUren / 24),\n    levensuren: s.totaalUren % 24,\n    achterstand: s.achterstand,\n    verplaatstRonde: s.verplaatstRonde,\n    tijdTerug: s.tijdTerug,\n    melding: melding\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 120,
        "wires": [
            [
                "c4a0000000000004"
            ]
        ]
    },
    {
        "id": "c4a0000000000004",
        "type": "debug",
        "z": "c4a0000000000001",
        "name": "Levensjaren (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.melding",
        "targetType": "msg",
        "statusVal": "payload.melding",
        "statusType": "msg",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "c5a0000000000001",
        "type": "tab",
        "label": "05 Admin",
        "disabled": false,
        "info": "Admin-paneel: levensjaren resetten achter twee-staps verificatie. Zie pi/node-red/blokken/05_admin/README.md",
        "env": []
    },
    {
        "id": "c5a0000000000010",
        "type": "ui-page",
        "name": "Admin",
        "ui": "2560e15da2c4a046",
        "path": "/admin",
        "icon": "shield-lock",
        "layout": "grid",
        "theme": "f4af76d3be7f4001",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c5a0000000000011",
        "type": "ui-group",
        "name": "Levensjaren beheer",
        "page": "c5a0000000000010",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c5a0000000000002",
        "type": "ui-switch",
        "z": "c5a0000000000001",
        "name": "Admin ontgrendelen",
        "label": "Admin ontgrendelen (stap 1)",
        "group": "c5a0000000000011",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "true",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "c5a0000000000003"
            ]
        ]
    },
    {
        "id": "c5a0000000000003",
        "type": "change",
        "z": "c5a0000000000001",
        "name": "Sla admin_unlocked op",
        "rules": [
            {
                "t": "set",
                "p": "admin_unlocked",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c5a0000000000004",
        "type": "ui-button",
        "z": "c5a0000000000001",
        "group": "c5a0000000000011",
        "name": "Reset Levensdagen",
        "label": "Levensdagen → 0 (stap 2)",
        "order": 2,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Zet de levensdagen van alle spelers op 0 (uren blijven)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "calendar-remove",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "go",
        "payloadType": "str",
        "topic": "reset_dagen",
        "topicType": "str",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c5a0000000000006"
            ]
        ]
    },
    {
        "id": "c5a0000000000005",
        "type": "ui-button",
        "z": "c5a0000000000001",
        "group": "c5a0000000000011",
        "name": "Reset Levensuren",
        "label": "Levensuren → 0 (stap 2)",
        "order": 3,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Zet de losse levensuren van alle spelers op 0 (hele dagen blijven)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "clock-remove",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "go",
        "payloadType": "str",
        "topic": "reset_uren",
        "topicType": "str",
        "x": 200,
        "y": 260,
        "wires": [
            [
                "c5a0000000000006"
            ]
        ]
    },
    {
        "id": "c5a0000000000006",
        "type": "function",
        "z": "c5a0000000000001",
        "name": "Admin reset",
        "func": "// Admin-reset met twee-staps verificatie.\n// Stap 1: 'Admin ontgrendelen' moet AAN (global.admin_unlocked).\n// Stap 2: een resetknop. Na uitvoeren vergrendelt het paneel weer.\nconst topic = msg.topic;\nconst unlocked = global.get(\"admin_unlocked\") === true;\n\nif (!unlocked) {\n    msg.payload = \"VERGRENDELD - zet eerst 'Admin ontgrendelen' aan (stap 1).\";\n    return [msg, null];\n}\n\nlet stats = global.get(\"spelerStats\") || {};\nlet aantal = 0;\nlet wat;\nlet eenheid = \"speler(s)\";\n\nif (topic === \"reset_dagen\") {\n    for (let naam in stats) {\n        const t = stats[naam].totaalUren || 0;\n        stats[naam].totaalUren = t % 24;            // dagen weg, uren-rest blijft\n        stats[naam].achterstand = 0;\n        stats[naam].verplaatstRonde = 0;\n        aantal++;\n    }\n    wat = \"Levensdagen\";\n} else if (topic === \"reset_uren\") {\n    for (let naam in stats) {\n        const t = stats[naam].totaalUren || 0;\n        stats[naam].totaalUren = Math.floor(t / 24) * 24;  // uren-rest weg, dagen blijven\n        stats[naam].achterstand = 0;\n        stats[naam].verplaatstRonde = 0;\n        aantal++;\n    }\n    wat = \"Levensuren\";\n} else if (topic === \"reset_achterstand\") {\n    for (let naam in stats) {\n        stats[naam].achterstand = 0;\n        aantal++;\n    }\n    wat = \"Achterstand\";\n} else if (topic === \"reset_paaleffecten\") {\n    const bord = global.get(\"bordStaat\") || {};\n    aantal = Object.keys(bord).length;\n    global.set(\"bordStaat\", {});\n    wat = \"Paal-effecten\"; eenheid = \"paal/palen\";\n} else if (topic === \"reset_spelereffecten\") {\n    const se = global.get(\"spelerEffecten\") || {};\n    const we = global.get(\"wereldEffecten\") || [];\n    aantal = Object.keys(se).length + we.length;\n    global.set(\"spelerEffecten\", {});\n    global.set(\"wereldEffecten\", []);\n    wat = \"Speler- + Wereld-effecten\"; eenheid = \"effect(en)\";\n} else {\n    msg.payload = \"Onbekende reset-actie: \" + topic;\n    return [msg, null];\n}\n\nglobal.set(\"spelerStats\", stats);\nglobal.set(\"admin_unlocked\", false);   // automatisch hervergrendelen\n\nmsg.payload = wat + \" gereset (\" + aantal + \" \" + eenheid + \"). Paneel weer vergrendeld.\";\nreturn [msg, { payload: false }];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 230,
        "wires": [
            [
                "c5a0000000000007"
            ],
            [
                "c5a0000000000002"
            ]
        ]
    },
    {
        "id": "c5a0000000000007",
        "type": "ui-notification",
        "z": "c5a0000000000001",
        "ui": "2560e15da2c4a046",
        "name": "Admin melding",
        "position": "center",
        "colorDefault": true,
        "color": "#0094CE",
        "displayTime": "4",
        "showCountdown": true,
        "outputs": 0,
        "allowConfirm": false,
        "confirmText": "",
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "c5a0000000000008",
        "type": "inject",
        "z": "c5a0000000000001",
        "name": "Init: vergrendeld bij opstart",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "c5a0000000000003"
            ]
        ]
    },
    {
        "id": "c6a0000000000001",
        "type": "tab",
        "label": "06 Plates of Fate",
        "disabled": false,
        "info": "Plates of Fate engine: kiest events, leest voor (audio), kiest doelwitten en voert gevolgen uit. Zie pi/node-red/blokken/06_plates_of_fate/README.md",
        "env": []
    },
    {
        "id": "c6a0000000000002",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "[CONFIG] Speler-events",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.3,
        "topic": "speler",
        "payload": "[{\"id\": \"verplaatsing1\", \"naam\": \"verplaatsingMin\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"Minimum x uur vooruit.\", \"reactietijd_s\": 15, \"doelwit\": {\"type\": \"speler\", \"selectie\": \"willekeurig\", \"aantal\": \"laag\"}, \"getal\": \"midden\", \"voorwaarde\": \"min\", \"gevolgen\": [{\"type\": \"geen\"}]}, {\"id\": \"verplaatsing2\", \"naam\": \"verplaatsingMax\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"Maximum x uur.\", \"reactietijd_s\": 15, \"doelwit\": {\"type\": \"speler\", \"selectie\": \"willekeurig\", \"aantal\": \"laag\"}, \"getal\": \"midden\", \"voorwaarde\": \"max\", \"gevolgen\": [{\"type\": \"geen\"}]}]",
        "payloadType": "json",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c6a0000000000003"
            ]
        ]
    },
    {
        "id": "c6a0000000000003",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Sla pofEvents op (merge per categorie)",
        "x": 480,
        "y": 200,
        "wires": [
            []
        ],
        "func": "// Merge events per categorie zodat de drie config-injects elkaar niet overschrijven.\nconst cat = msg.topic;\nlet all = global.get(\"pofEvents\") || [];\nall = all.filter(e => e.categorie !== cat);\nif (Array.isArray(msg.payload)) all = all.concat(msg.payload);\nglobal.set(\"pofEvents\", all);\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": []
    },
    {
        "id": "c6a0000000000004",
        "type": "ui-button",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Start POF",
        "label": "Start POF",
        "order": 1,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Start de Plates-of-Fate engine",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "play",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "start",
        "payloadType": "str",
        "topic": "pof_start",
        "topicType": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "c6a0000000000007"
            ]
        ]
    },
    {
        "id": "c6a0000000000005",
        "type": "ui-button",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Stop POF",
        "label": "Stop POF",
        "order": 2,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Stop de Plates-of-Fate engine",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "stop",
        "payloadType": "str",
        "topic": "pof_stop",
        "topicType": "str",
        "x": 200,
        "y": 240,
        "wires": [
            [
                "c6a0000000000007"
            ]
        ]
    },
    {
        "id": "c6a0000000000007",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Engine tick",
        "func": "// Plates-of-Fate toestandsmachine. Gevoed door de 1s-ticker en de knoppen.\n// out1: start CHOOSE (-> Kies event) | out2: start VERIFY (-> Verifieer) | out3: timer-display | out4: trigger uitvoer (-> Voer gevolg uit)\nconst AANLOOP_S = 5;\nconst t = msg.topic;\nconst manueel = global.get(\"pofManueel\") === true;\nconst lopend = (global.get(\"spelToestand\") || \"gestopt\") === \"lopend\";\nconst disp = (tekst) => ({ payload: tekst });\n\nif (t === \"pof_start\") {\n    global.set(\"pofActief\", true);\n    global.set(\"pofEventenRonde\", 0);\n    global.set(\"pofDoelwitDisplay\", null);\n    if (manueel) {\n        global.set(\"pofFase\", \"wacht\"); global.set(\"pofTeller\", 0);\n        return [null, null, disp(\"Wacht op 'Volgende event'\")];\n    }\n    global.set(\"pofFase\", \"aanloop\"); global.set(\"pofTeller\", AANLOOP_S);\n    return [null, null, disp(\"Volgend event over: \" + AANLOOP_S + \"s\")];\n}\nif (t === \"pof_stop\") {\n    global.set(\"pofActief\", false); global.set(\"pofFase\", \"idle\");\n    return [null, null, disp(\"POF gestopt\")];\n}\nif (t === \"pof_volgende\") {\n    if (global.get(\"pofActief\") === true && lopend) {\n        global.set(\"pofFase\", \"bezig\");\n        return [{ start: true }, null, disp(\"Event gekozen...\")];\n    }\n    return null;\n}\nif (t === \"pof_controle\") {\n    const fa = global.get(\"pofFase\");\n    if (global.get(\"pofActief\") === true && lopend) {\n        if (fa === \"wacht_uitvoer\") {\n            const pending = global.get(\"pofPendingEvent\");\n            if (!pending) return null;\n            global.set(\"pofPendingEvent\", null);\n            const doel = pending.doelwit || [];\n            const dTekst = doel.length ? doel.join(\", \") : \"niemand\";\n            global.set(\"pofDoelwitDisplay\", \"Doelwit: \" + dTekst);\n            global.set(\"pofFase\", \"wacht_controle\");\n            return [null, null, disp(\"Doelwit: \" + dTekst), pending];\n        }\n        if (fa === \"wacht_controle\") {\n            global.set(\"pofFase\", \"bezig\");\n            return [null, { verify: true }, disp(\"Controle...\")];\n        }\n    }\n    return null;\n}\n\n// tick (alleen tijdens een lopend spel met actieve engine)\nif (global.get(\"pofActief\") !== true || !lopend) return null;\nlet fase = global.get(\"pofFase\") || \"idle\";\nlet teller = global.get(\"pofTeller\") || 0;\n\nif (fase === \"aanloop\") {\n    teller--;\n    if (teller <= 0) { global.set(\"pofFase\", \"bezig\"); return [{ start: true }, null, disp(\"Event gekozen...\")]; }\n    global.set(\"pofTeller\", teller);\n    return [null, null, disp(\"Volgend event over: \" + teller + \"s\")];\n}\nif (fase === \"reactie\") {\n    teller--;\n    if (teller <= 0) { global.set(\"pofFase\", \"bezig\"); return [null, { verify: true }, disp(\"Controle...\")]; }\n    global.set(\"pofTeller\", teller);\n    return [null, null, disp(\"Reactietijd: \" + teller + \"s\")];\n}\nif (fase === \"wacht_controle\") {\n    const dTekst = global.get(\"pofDoelwitDisplay\") || \"Wacht op controle-knop\";\n    return [null, null, disp(dTekst)];\n}\nif (fase === \"wacht_uitvoer\") {\n    return [null, null, disp(\"Wacht op controle (doelwit tonen)\")];\n}\nif (fase === \"wacht\") {\n    return [null, null, disp(\"Wacht op 'Volgende event'\")];\n}\nreturn null;",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 210,
        "wires": [
            [
                "c6a0000000000008"
            ],
            [
                "c6a0000000000027"
            ],
            [
                "c6a0000000000028"
            ],
            [
                "c6a000000000000c"
            ]
        ]
    },
    {
        "id": "c6a0000000000008",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Kies event",
        "func": "// CHOOSE: kies event, rol eventueel getal en vul 'x' in de tekst.\n// out1: chain -> Verouder | out2: audio | out3: Huidig event-display | out4: events-teller-display\nconst events = global.get(\"pofEvents\") || [];\nconst categorie = msg.categorie || null;\nlet pool = categorie ? events.filter(e => e.categorie === categorie) : events;\nif (!pool.length) { node.warn(\"Geen pofEvents\" + (categorie ? \" voor \" + categorie : \"\")); return null; }\n\nconst OPTIE={enkel:[1,1],laag:[1,3],midden:[1,6],hoog:[3,10]};\nfunction rol(o){const r=OPTIE[o]||[1,1];return r[0]+Math.floor(Math.random()*(r[1]-r[0]+1));}\n\nconst event = pool[Math.floor(Math.random() * pool.length)];\nlet tekst = event.tekst;\nlet getalWaarde = null;\nif (event.getal) {\n    getalWaarde = rol(event.getal);\n    tekst = tekst.replace(/\\bx\\b/g, getalWaarde);   // vervang losse 'x' door het getal\n}\n\nconst huidig = Object.assign({}, event, { tekstIngevuld: tekst, getalWaarde: getalWaarde });\nglobal.set(\"pofHuidigEvent\", huidig);\nglobal.set(\"pofEventenRonde\", (global.get(\"pofEventenRonde\") || 0) + 1);\n\nmsg.event = event;\nmsg.getalWaarde = getalWaarde;\nconst audio = { payload: { fase: \"event\", tekst: tekst, prioriteit: \"normaal\" } };\nconst display = { payload: event.naam + \" - \" + tekst };\nconst teller = { payload: \"Events deze ronde: \" + global.get(\"pofEventenRonde\") };\nreturn [msg, audio, display, teller];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 240,
        "wires": [
            [
                "c6a0000000000012"
            ],
            [
                "c6a000000000000f",
                "c6a0000000000011"
            ],
            [
                "c6a0000000000010"
            ],
            [
                "c6a000000000002d"
            ]
        ]
    },
    {
        "id": "c6a000000000000a",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Kies doelwit",
        "func": "// Kies doelwitten + snapshot beginposities voor de controle.\nconst event = msg.event;\nconst d = event.doelwit || { type: \"geen\" };\nconst OPTIE={enkel:[1,1],laag:[1,3],midden:[1,6],hoog:[3,10]};\nfunction rol(o){const r=OPTIE[o]||[1,1];return r[0]+Math.floor(Math.random()*(r[1]-r[0]+1));}\nfunction steekproef(arr,n){const k=arr.slice(),u=[];while(u.length<n&&k.length)u.push(k.splice(Math.floor(Math.random()*k.length),1)[0]);return u;}\n\n// aantal kan een optie-string zijn (\"enkel\"/\"laag\"/...) of een vast getal.\nlet aantal = (typeof d.aantal === \"string\") ? rol(d.aantal) : (d.aantal || 1);\n\nlet doelwit = [];\nif (d.type === \"speler\") {\n    const lijst = global.get(\"spelersLijst\") || {};\n    let namen = Object.keys(lijst).map(k => lijst[k]);\n    const _gp = global.get(\"gespauzeerdePlayers\") || {};\n    namen = namen.filter(n => !_gp[n]);\n    if (d.selectie === \"rang\") {\n        const stats = global.get(\"spelerStats\") || {};\n        const w = (naam) => { const s = stats[naam] || {}; return d.veld === \"achterstand\" ? (s.achterstand||0) : (s.totaalUren||0); };\n        namen.sort((a,b) => d.richting === \"laagste\" ? w(a)-w(b) : w(b)-w(a));\n        doelwit = namen.slice(0, aantal);\n    } else if (d.selectie === \"alle\") { doelwit = namen; }\n    else { doelwit = steekproef(namen, aantal); }\n} else if (d.type === \"uur\") {\n    let palen = (global.get(\"paaltjesLijst\")||[]).slice();\n    if (d.selectie === \"rang\") {\n        const loc = global.get(\"spelerLocaties\")||{};\n        const bez = (u)=>Object.keys(loc).filter(n=>loc[n]===u).length;\n        const w = (u)=> d.veld===\"bezetting\"? bez(u): u;\n        palen.sort((a,b)=> d.richting===\"laagste\"? w(a)-w(b): w(b)-w(a));\n        doelwit = palen.slice(0, aantal);\n    } else if (d.selectie === \"alle\") { doelwit = palen; }\n    else { doelwit = steekproef(palen, aantal); }\n}\nmsg.doelwit = doelwit;\n\n// Snapshot beginposities van ALLE spelers (niet-doelwit moet stil blijven).\nconst loc = global.get(\"spelerLocaties\") || {};\nconst spelers = global.get(\"spelersLijst\") || {};\nlet startPosities = {};\nfor (const mac in spelers) { const naam = spelers[mac]; startPosities[naam] = (loc[naam] !== undefined ? loc[naam] : null); }\nglobal.set(\"pofVerificatie\", {\n    voorwaarde: event.voorwaarde || \"geen\",\n    getal: msg.getalWaarde,\n    doelwit: doelwit,\n    startPosities: startPosities\n});\n\nlet tekst;\nif (!doelwit.length) tekst = \"Dit raakt niemand in het bijzonder.\";\nelse if (d.type === \"uur\") tekst = \"Getroffen uren: \" + doelwit.join(\", \") + \".\";\nelse tekst = \"Getroffen spelers: \" + doelwit.join(\", \") + \".\";\nconst audio = { payload: { fase: \"doelwit\", tekst: tekst, prioriteit: \"normaal\" } };\n// Typewriter-duur: elke naam heeft 1.6s animatietijd + 1.5s buffer na de laatste\nconst typewriterDuur = Math.max(1500, doelwit.length * 1600 + 1500);\nmsg.delay = typewriterDuur;\nconst twMsg = { payload: { actief: true, eventNaam: event.naam, getalWaarde: msg.getalWaarde || null, doelwit: doelwit } };\nconst manueel = global.get(\"pofManueel\") === true;\nif (manueel) {\n    global.set(\"pofPendingEvent\", msg);\n    global.set(\"pofFase\", \"wacht_uitvoer\");\n    global.set(\"pofTeller\", 0);\n    return [null, audio, twMsg, twMsg];\n}\nreturn [msg, audio, twMsg, twMsg];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "c6a000000000fd01"
            ],
            [
                "c6a000000000000f"
            ],
            [
                "c6a000000000fd02"
            ],
            [
                "c6a000000000fe01"
            ]
        ]
    },
    {
        "id": "c6a000000000000c",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Voer gevolg uit",
        "func": "// Voer gevolgen uit (commando/score/effect/geen). Start daarna de reactietijd.\nconst event = msg.event;\nconst doelwit = msg.doelwit || [];\nconst gevolgen = event.gevolgen || [];\nlet stats = global.get(\"spelerStats\") || {};\nlet bord = global.get(\"bordStaat\") || {};\nlet se = global.get(\"spelerEffecten\") || {};\nlet we = global.get(\"wereldEffecten\") || [];\nfunction doelUren(){ if(event.doelwit&&event.doelwit.type===\"uur\")return doelwit;\n  if(event.doelwit&&event.doelwit.type===\"speler\")return doelwit.map(n=>stats[n]&&stats[n].huidigePaal).filter(p=>p!=null); return []; }\nlet nextId = Date.now();\nfunction maakEffect(g){ return {id:\"fx\"+(nextId++),effect:g.effect,naam:g.naam||(event&&event.tag)||g.effect,resterendeRondes:g.duurRondes||1,data:g.data||{}}; }\n\nlet commandos = [];\nfor (const g of gevolgen) {\n  if (g.type === \"commando\") { for (const p of doelUren()) commandos.push({ payload: { paal: p, actie: g.actie } }); }\n  else if (g.type === \"score\") { for (const n of doelwit){ let s=stats[n]||{totaalUren:0}; if(s.totaalUren===undefined)s.totaalUren=0; s.totaalUren=Math.max(0,s.totaalUren+(g.delta||0)); stats[n]=s; } }\n  else if (g.type === \"effect\") {\n     if (g.niveau===\"wereld\") we.push(maakEffect(g));\n     else if (g.niveau===\"speler\") for(const n of doelwit){(se[n]=se[n]||[]).push(maakEffect(g));}\n     else if (g.niveau===\"uur\") for(const u of doelUren()){bord[u]=bord[u]||{effecten:[]};bord[u].effecten.push(maakEffect(g));}\n     else node.warn(\"effect zonder geldig niveau\");\n  }\n  else if (g.type === \"geen\") { /* geen neveneffect */ }\n  else node.warn(\"Onbekend gevolg-type: \" + g.type);\n}\nglobal.set(\"spelerStats\",stats); global.set(\"bordStaat\",bord); global.set(\"spelerEffecten\",se); global.set(\"wereldEffecten\",we);\n\n// Start de reactietijd (zichtbaar afgeteld door de Engine tick). events_sneller halveert.\nlet reactie = event.reactietijd_s || 10;\nif (we.some(e => e.effect === \"events_sneller\")) reactie = Math.max(1, Math.round(reactie/2));\n// In manueel-modus wachten we op de Controle-knop i.p.v. automatisch af te tellen.\nif (global.get(\"pofManueel\") === true) {\n    global.set(\"pofFase\", \"wacht_controle\");\n    global.set(\"pofTeller\", 0);\n} else {\n    global.set(\"pofFase\", \"reactie\");\n    global.set(\"pofTeller\", reactie);\n}\n\nreturn [commandos];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "c6a000000000000e"
            ]
        ]
    },
    {
        "id": "c6a000000000000e",
        "type": "mqtt out",
        "z": "c6a0000000000001",
        "name": "commando/master1",
        "topic": "commando/master1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f3c274c3514a5f8",
        "x": 980,
        "y": 460,
        "wires": []
    },
    {
        "id": "c6a000000000000f",
        "type": "mqtt out",
        "z": "c6a0000000000001",
        "name": "audio/afspelen",
        "topic": "audio/afspelen",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f3c274c3514a5f8",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "c6a0000000000010",
        "type": "ui-text",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "Huidig event",
        "label": "Huidig event",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    },
    {
        "id": "c6a0000000000011",
        "type": "debug",
        "z": "c6a0000000000001",
        "name": "POF audio (debug)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.tekst",
        "targetType": "msg",
        "statusVal": "payload.tekst",
        "statusType": "msg",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "c6a0000000000021",
        "type": "ui-group",
        "name": "Plates of Fate besturing",
        "page": "b3d1000000000009",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c6a0000000000012",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Verouder effecten",
        "func": "// Tel alle blijvende effecten één ronde af; verwijder afgelopen effecten.\n// out1: chain -> Kies doelwit | out2: trigger -> Bouw effecten-tabel\nfunction veroud(arr) {\n    return (arr || [])\n        .map(e => Object.assign({}, e, { resterendeRondes: e.resterendeRondes - 1 }))\n        .filter(e => e.resterendeRondes > 0);\n}\n\nlet bord = global.get(\"bordStaat\") || {};\nfor (const uur in bord) {\n    bord[uur].effecten = veroud(bord[uur].effecten);\n    if (!bord[uur].effecten.length) delete bord[uur];\n}\nglobal.set(\"bordStaat\", bord);\n\nlet se = global.get(\"spelerEffecten\") || {};\nfor (const naam in se) {\n    se[naam] = veroud(se[naam]);\n    if (!se[naam].length) delete se[naam];\n}\nglobal.set(\"spelerEffecten\", se);\n\nglobal.set(\"wereldEffecten\", veroud(global.get(\"wereldEffecten\")));\n\nreturn [msg, { payload: \"rebuild\" }];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "c6a000000000000a"
            ],
            [
                "c6a0000000000013"
            ]
        ]
    },
    {
        "id": "c6a0000000000013",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Bouw effecten-tabel",
        "func": "// Plat de drie effect-registers tot tabelrijen voor de Live Radar.\nlet rijen = [];\nconst bord = global.get(\"bordStaat\") || {};\nfor (const uur in bord) {\n    for (const e of bord[uur].effecten) {\n        rijen.push({ Niveau: \"uur\", Doel: \"Paal \" + uur, Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n    }\n}\nconst se = global.get(\"spelerEffecten\") || {};\nfor (const naam in se) {\n    for (const e of se[naam]) {\n        rijen.push({ Niveau: \"speler\", Doel: naam, Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n    }\n}\nfor (const e of (global.get(\"wereldEffecten\") || [])) {\n    rijen.push({ Niveau: \"wereld\", Doel: \"-\", Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n}\nif (!rijen.length) {\n    rijen = [{ Niveau: \"-\", Doel: \"-\", Effect: \"geen actieve effecten\", \"Rondes resterend\": \"-\" }];\n}\nmsg.payload = rijen;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "c6a0000000000015"
            ]
        ]
    },
    {
        "id": "c6a0000000000014",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "Ververs effecten-tabel (2s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 620,
        "wires": [
            [
                "c6a0000000000013",
                "c6a000000000002f"
            ]
        ]
    },
    {
        "id": "c6a0000000000015",
        "type": "ui-table",
        "z": "c6a0000000000001",
        "group": "c6a0000000000016",
        "name": "Tabel Actieve effecten",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Niveau",
                "key": "Niveau",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Doel",
                "key": "Doel",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Effect",
                "key": "Effect",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Rondes resterend",
                "key": "Rondes resterend",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "c6a000000000002f",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Bouw wereld-tabel",
        "func": "const we = global.get(\"wereldEffecten\") || [];\nlet rijen = we.map(e => ({ Effect: e.naam, \"Rondes resterend\": e.resterendeRondes }));\nif (!rijen.length) rijen = [{ Effect: \"geen actieve wereld-effecten\", \"Rondes resterend\": \"-\" }];\nmsg.payload = rijen;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "c6a0000000000030"
            ]
        ]
    },
    {
        "id": "c6a0000000000030",
        "type": "ui-table",
        "z": "c6a0000000000001",
        "group": "c6a000000000002e",
        "name": "Tabel Wereld-effecten",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Effect",
                "key": "Effect",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "left"
            },
            {
                "title": "Rondes resterend",
                "key": "Rondes resterend",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 760,
        "y": 700,
        "wires": []
    },
    {
        "id": "c6a000000000002e",
        "type": "ui-group",
        "name": "Wereld-effecten",
        "page": "b3d1000000000009",
        "width": 6,
        "height": 1,
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c6a0000000000016",
        "type": "ui-group",
        "name": "Actieve effecten (bord-staat)",
        "page": "b3d1000000000009",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c6a0000000000017",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "[BEHEER] Wis alle effecten",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 700,
        "wires": [
            [
                "c6a0000000000018"
            ]
        ]
    },
    {
        "id": "c6a0000000000018",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Wis effecten",
        "func": "// Wis alle blijvende effecten (handig bij testen / herstart van een cyclus).\nglobal.set(\"bordStaat\", {});\nglobal.set(\"spelerEffecten\", {});\nglobal.set(\"wereldEffecten\", []);\nmsg.payload = \"rebuild\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 700,
        "wires": [
            [
                "c6a0000000000013"
            ]
        ]
    },
    {
        "id": "c5a0000000000009",
        "type": "ui-button",
        "z": "c5a0000000000001",
        "group": "c5a0000000000011",
        "name": "Reset Achterstand",
        "label": "Achterstand → 0 (stap 2)",
        "order": 4,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Zet de achterstand van alle spelers op 0",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "backup-restore",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "go",
        "payloadType": "str",
        "topic": "reset_achterstand",
        "topicType": "str",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "c5a0000000000006"
            ]
        ]
    },
    {
        "id": "c6a000000000002a",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "[CONFIG] Uur-events",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.4,
        "topic": "uur",
        "payload": "[{\"id\":\"test_uur_groen\",\"naam\":\"Test: uur groen\",\"categorie\":\"uur\",\"tekst\":\"Eén willekeurig uur wordt groen voor de test.\",\"reactietijd_s\":10,\"doelwit\":{\"type\":\"uur\",\"selectie\":\"willekeurig\",\"aantal\":\"enkel\"},\"gevolgen\":[{\"type\":\"commando\",\"actie\":2}]}]",
        "payloadType": "json",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "c6a0000000000003"
            ]
        ]
    },
    {
        "id": "c6a000000000002b",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "[CONFIG] Wereld-events",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "wereld",
        "payload": "[]",
        "payloadType": "json",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "c6a0000000000003"
            ]
        ]
    },
    {
        "id": "c6a0000000000027",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Verifieer beweging",
        "func": "// Controleer na de reactietijd of aan de beweging-voorwaarden voldaan is.\nconst v = global.get(\"pofVerificatie\") || {};\nconst loc = global.get(\"spelerLocaties\") || {};\nconst se = global.get(\"spelerEffecten\") || {};\nconst we = global.get(\"wereldEffecten\") || [];\nconst bord = global.get(\"bordStaat\") || {};\nconst palen = (global.get(\"paaltjesLijst\") || []).slice().sort((a, b) => a - b);\nconst M = palen.length;\nfunction netto(start, eind) {\n    if (start == null || eind == null) return null;\n    const iVan = palen.indexOf(start), iNaar = palen.indexOf(eind);\n    if (M < 2 || iVan < 0 || iNaar < 0) return null;\n    const vooruit = (((iNaar - iVan) % M) + M) % M;\n    const achteruit = M - vooruit;\n    return (vooruit <= achteruit) ? vooruit : -achteruit;  // signed kortste op de ring\n}\nconst doelwitSet = new Set(v.doelwit || []);\nconst start = v.startPosities || {};\nlet rijen = [];\nfor (const naam in start) {\n    const n = netto(start[naam], (loc[naam] !== undefined ? loc[naam] : null));\n    let status;\n    if (n === null) status = \"onbekend\";\n    else if (doelwitSet.has(naam)) {\n        if (v.voorwaarde === \"min\") status = (n >= v.getal) ? \"OK\" : \"TE WEINIG\";\n        else if (v.voorwaarde === \"max\") status = (n <= v.getal) ? \"OK\" : \"TE VEEL\";\n        else status = \"OK\";\n    } else {\n        status = (n === 0) ? \"OK (stil)\" : \"BEWOOG (mocht niet)\";\n    }\n    const paalFX = ((bord[loc[naam]] || {}).effecten || []).map(e => e.naam);\n    const allFX = [...(se[naam] || []).map(e => e.naam), ...we.map(e => e.naam), ...paalFX];\n    const tag = allFX.length ? allFX.join(\", \") : \"-\";\n    rijen.push({ Speler: naam, Tag: tag,\n                 Verplaatst: (n === null ? \"?\" : n), Status: status });\n}\n\n// Volgende fase: automatisch nieuwe aanloop, of wachten in manueel-modus.\nconst manueel = global.get(\"pofManueel\") === true;\nglobal.set(\"pofFase\", manueel ? \"wacht\" : \"aanloop\");\nglobal.set(\"pofTeller\", manueel ? 0 : 5);\n\nmsg.payload = rijen.length ? rijen : [{ Speler:\"-\", Tag:\"-\", Verplaatst:\"-\", Status:\"geen spelers\" }];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "c6a0000000000029",
                "c6a0000000000011"
            ]
        ]
    },
    {
        "id": "c6a0000000000022",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "1s-ticker",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tick",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "c6a0000000000007"
            ]
        ]
    },
    {
        "id": "c6a0000000000024",
        "type": "ui-switch",
        "z": "c6a0000000000001",
        "name": "Manueel",
        "label": "Manueel",
        "group": "c6a0000000000021",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "true",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "c6a0000000000025"
            ]
        ]
    },
    {
        "id": "c6a0000000000025",
        "type": "change",
        "z": "c6a0000000000001",
        "name": "Sla pofManueel op",
        "rules": [
            {
                "t": "set",
                "p": "pofManueel",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c6a0000000000026",
        "type": "ui-button",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Volgende event",
        "label": "Volgende event",
        "order": 4,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "In manueel-modus: start het volgende event",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "skip-next",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "volgende",
        "payloadType": "str",
        "topic": "pof_volgende",
        "topicType": "str",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "c6a0000000000007"
            ]
        ]
    },
    {
        "id": "c6a0000000000028",
        "type": "ui-text",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "order": 6,
        "width": 6,
        "height": 1,
        "name": "Timer",
        "label": "Timer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    },
    {
        "id": "c6a000000000002d",
        "type": "ui-text",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "order": 9,
        "width": 6,
        "height": 1,
        "name": "Events deze ronde",
        "label": "Events deze ronde",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    },
    {
        "id": "c6a0000000000029",
        "type": "ui-table",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Controle",
        "label": "Controle laatste event",
        "order": 8,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": false,
        "showSearch": false,
        "deselect": true,
        "selectionType": "none",
        "columns": [
            {
                "title": "Speler",
                "key": "Speler",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Tag",
                "key": "Tag",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Verplaatst",
                "key": "Verplaatst",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            },
            {
                "title": "Status",
                "key": "Status",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "center"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 980,
        "y": 540,
        "wires": []
    },
    {
        "id": "c5a000000000000a",
        "type": "ui-button",
        "z": "c5a0000000000001",
        "group": "c5a0000000000011",
        "name": "Reset Paal-effecten",
        "label": "Paal-effecten → 0 (stap 2)",
        "order": 5,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Wis alle blijvende effecten op de palen (bordStaat)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "lightbulb-off",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "go",
        "payloadType": "str",
        "topic": "reset_paaleffecten",
        "topicType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "c5a0000000000006"
            ]
        ]
    },
    {
        "id": "c5a000000000000b",
        "type": "ui-button",
        "z": "c5a0000000000001",
        "group": "c5a0000000000011",
        "name": "Reset Speler-effecten",
        "label": "Speler-effecten → 0 (stap 2)",
        "order": 6,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Wis alle blijvende effecten op spelers (spelerEffecten) en de wereld (wereldEffecten)",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "account-off",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "go",
        "payloadType": "str",
        "topic": "reset_spelereffecten",
        "topicType": "str",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "c5a0000000000006"
            ]
        ]
    },
    {
        "id": "c6a000000000002c",
        "type": "ui-button",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Controle",
        "label": "Controle (manueel)",
        "order": 5,
        "width": 3,
        "height": 1,
        "emulateClick": false,
        "tooltip": "In manueel-modus: voer nu de controle van het event uit",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "check-decagram",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "controle",
        "payloadType": "str",
        "topic": "pof_controle",
        "topicType": "str",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "c6a0000000000007"
            ]
        ]
    },
    {
        "id": "c0a0000000000010",
        "type": "mqtt out",
        "z": "c0a0000000000001",
        "name": "commando/master1",
        "topic": "commando/master1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f3c274c3514a5f8",
        "x": 760,
        "y": 460,
        "wires": []
    },
    {
        "id": "c0a0000000000011",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 1 AAN",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 3}",
        "payloadType": "json",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0a0000000000012",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 1 UIT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 4}",
        "payloadType": "json",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0a0000000000013",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 2 AAN",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 2, \"actie\": 3}",
        "payloadType": "json",
        "x": 230,
        "y": 500,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0a0000000000014",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 2 UIT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 2, \"actie\": 4}",
        "payloadType": "json",
        "x": 230,
        "y": 540,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0a0000000000015",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 3 AAN",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 3, \"actie\": 3}",
        "payloadType": "json",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0a0000000000016",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] Buzzer paal 3 UIT",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"paal\": 3, \"actie\": 4}",
        "payloadType": "json",
        "x": 230,
        "y": 640,
        "wires": [
            [
                "c0a0000000000010"
            ]
        ]
    },
    {
        "id": "c0b0000000000001",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED NIETS - alles uit (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 0}",
        "payloadType": "json",
        "x": 250, "y": 720,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000002",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED ROOD (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 1}",
        "payloadType": "json",
        "x": 250, "y": 760,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000003",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED GROEN (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 2}",
        "payloadType": "json",
        "x": 250, "y": 800,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000004",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] BUZZER AAN - 2060 Hz continu (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 3}",
        "payloadType": "json",
        "x": 250, "y": 840,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000005",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] BUZZER UIT (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 4}",
        "payloadType": "json",
        "x": 250, "y": 880,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000006",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED BLAUW (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 5}",
        "payloadType": "json",
        "x": 250, "y": 920,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000007",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED WIT (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 6}",
        "payloadType": "json",
        "x": 250, "y": 960,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000008",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED GEEL (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 7}",
        "payloadType": "json",
        "x": 250, "y": 1000,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000009",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED PAARS (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 8}",
        "payloadType": "json",
        "x": 250, "y": 1040,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000a",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED CYAAN (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 9}",
        "payloadType": "json",
        "x": 250, "y": 1080,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000b",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] LED ORANJE (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 10}",
        "payloadType": "json",
        "x": 250, "y": 1120,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000c",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Knipperen snel - wit 4 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 11}",
        "payloadType": "json",
        "x": 250, "y": 1160,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000d",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Knipperen traag - wit 1 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 12}",
        "payloadType": "json",
        "x": 250, "y": 1200,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000e",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Pulseren rood - breathing 2s (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 13}",
        "payloadType": "json",
        "x": 250, "y": 1240,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b000000000000f",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Pulseren blauw - breathing 2s (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 14}",
        "payloadType": "json",
        "x": 250, "y": 1280,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000010",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Regenboog - hue rotatie 3s (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 15}",
        "payloadType": "json",
        "x": 250, "y": 1320,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000011",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] ANIM Politie - rood/blauw 8 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 16}",
        "payloadType": "json",
        "x": 250, "y": 1360,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000012",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Een piep - 1000 Hz 200ms (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 17}",
        "payloadType": "json",
        "x": 250, "y": 1400,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000013",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Twee piep - 2x 100ms (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 18}",
        "payloadType": "json",
        "x": 250, "y": 1440,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000014",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Oplopend - 500→750→1000 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 19}",
        "payloadType": "json",
        "x": 250, "y": 1480,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000015",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Aflopend - 1000→750→500 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 20}",
        "payloadType": "json",
        "x": 250, "y": 1520,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000016",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Alarm - 5x 400/800 Hz (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 21}",
        "payloadType": "json",
        "x": 250, "y": 1560,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c0b0000000000017",
        "type": "inject",
        "z": "c0a0000000000001",
        "name": "[TEST] MEL Fanfare - C4-E4-G4-E4-C4 (paal 1)",
        "props": [{"p": "payload"}],
        "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "topic": "",
        "payload": "{\"paal\": 1, \"actie\": 22}",
        "payloadType": "json",
        "x": 250, "y": 1600,
        "wires": [["c0a0000000000010"]]
    },
    {
        "id": "c5a000000000000a",
        "type": "ui-group",
        "name": "Speler pauze",
        "page": "c5a0000000000010",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c5a000000000000b",
        "type": "inject",
        "z": "c5a0000000000001",
        "name": "Ververs pauze (2s)",
        "props": [{"p": "payload"}],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 460,
        "wires": [["c5a000000000000c"]]
    },
    {
        "id": "c5a000000000000c",
        "type": "function",
        "z": "c5a0000000000001",
        "name": "Bouw pauze-overzicht",
        "func": "const spelersLijst = global.get(\"spelersLijst\") || {};\nconst gp = global.get(\"gespauzeerdePlayers\") || {};\nmsg.payload = Object.values(spelersLijst).map(naam => ({\n    naam: naam,\n    gepauzeerd: gp[naam] === true\n}));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 460,
        "wires": [["c5a000000000000d"]]
    },
    {
        "id": "c5a000000000000d",
        "type": "ui-template",
        "z": "c5a0000000000001",
        "group": "c5a000000000000a",
        "page": "",
        "ui": "",
        "name": "Speler pauze knoppen",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <div v-for=\"speler in (msg.payload || [])\" :key=\"speler.naam\"\n         style=\"display:flex; align-items:center; padding:8px 4px; border-bottom:1px solid #eee;\">\n        <span style=\"flex:1; font-size:16px;\">{{ speler.naam }}</span>\n        <v-btn\n            :color=\"speler.gepauzeerd ? 'warning' : 'success'\"\n            variant=\"tonal\"\n            @click=\"send({payload:{speler:speler.naam, gepauzeerd:!speler.gepauzeerd}})\"\n        >\n            {{ speler.gepauzeerd ? 'GEPAUZEERD' : 'Actief' }}\n        </v-btn>\n    </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 700,
        "y": 460,
        "wires": [["c5a000000000000e"]]
    },
    {
        "id": "c5a000000000000e",
        "type": "function",
        "z": "c5a0000000000001",
        "name": "Verwerk speler pauze",
        "func": "if (!msg.payload || !msg.payload.speler) return null;\nconst gp = global.get(\"gespauzeerdePlayers\") || {};\ngp[msg.payload.speler] = msg.payload.gepauzeerd;\nglobal.set(\"gespauzeerdePlayers\", gp);\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nmsg.payload = Object.values(spelersLijst).map(naam => ({\n    naam: naam,\n    gepauzeerd: gp[naam] === true\n}));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 460,
        "wires": [["c5a000000000000d"]]
    },
    {
        "id": "b3d1000000000010",
        "type": "ui-group",
        "name": "Noodstop",
        "page": "b3d1000000000009",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b3d1000000000011",
        "type": "ui-switch",
        "z": "b3d1000000000001",
        "name": "Bevestig stop",
        "label": "Bevestig stop (stap 1)",
        "group": "b3d1000000000010",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "true",
        "topic": "",
        "topicType": "str",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 400,
        "wires": [["b3d1000000000012"]]
    },
    {
        "id": "b3d1000000000012",
        "type": "change",
        "z": "b3d1000000000001",
        "name": "Sla stop_bevestigd op",
        "rules": [
            {
                "t": "set",
                "p": "stop_bevestigd",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "b3d1000000000013",
        "type": "ui-button",
        "z": "b3d1000000000001",
        "group": "b3d1000000000010",
        "name": "Stop spel",
        "label": "STOP SPEL (stap 2)",
        "order": 2,
        "width": 6,
        "height": 1,
        "emulateClick": false,
        "tooltip": "Stopt het huidige spel definitief. Scores en uren blijven bewaard.",
        "color": "white",
        "bgcolor": "#b71c1c",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "payload": "stop_spel",
        "payloadType": "str",
        "topic": "noodstop",
        "topicType": "str",
        "x": 200,
        "y": 460,
        "wires": [["b3d1000000000014"]]
    },
    {
        "id": "b3d1000000000014",
        "type": "function",
        "z": "b3d1000000000001",
        "name": "Verwerk noodstop",
        "func": "const bevestigd = global.get(\"stop_bevestigd\") === true;\nif (!bevestigd) {\n    msg.payload = \"GEBLOKKEERD - zet eerst 'Bevestig stop' aan (stap 1).\";\n    return [msg, null];\n}\nglobal.set(\"spelToestand\", \"gestopt\");\nglobal.set(\"pofActief\", false);\nglobal.set(\"pofFase\", \"idle\");\nglobal.set(\"stop_bevestigd\", false);\nglobal.set(\"pofEventenRonde\", 0);\nmsg.payload = \"Spel GESTOPT. Levensuren en levensdagen blijven bewaard.\";\nreturn [msg, { payload: false }, { payload: \"Gestopt\" }, { payload: \"Events deze ronde: 0\" }, { payload: \"—\" }];",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 460,
        "wires": [
            ["b3d1000000000015"],
            ["b3d1000000000011"],
            ["b3d1000000000007"],
            ["c6a000000000002d"],
            ["c6a000000000fe02"]
        ]
    },
    {
        "id": "b3d1000000000015",
        "type": "ui-notification",
        "z": "b3d1000000000001",
        "ui": "2560e15da2c4a046",
        "name": "Noodstop melding",
        "position": "center",
        "colorDefault": false,
        "color": "#b71c1c",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 0,
        "allowConfirm": false,
        "confirmText": "",
        "allowDismiss": true,
        "dismissText": "OK",
        "raw": false,
        "className": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "b3d1000000000016",
        "type": "inject",
        "z": "b3d1000000000001",
        "name": "Init: stop_bevestigd=false bij opstart",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 240,
        "y": 340,
        "wires": [["b3d1000000000012"]]
    },
    {
        "id": "7b7840fe576ebdbe",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "c6a000000000ff01",
        "type": "inject",
        "z": "c6a0000000000001",
        "name": "pof/status ticker",
        "props": [{ "p": "payload" }],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 400,
        "wires": [["c6a000000000ff02"]]
    },
    {
        "id": "c6a000000000ff02",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Bouw pof/status",
        "func": "const actief = global.get(\"pofActief\") === true;\nconst fase   = global.get(\"pofFase\") || \"idle\";\nconst event  = global.get(\"pofHuidigEvent\") || {};\nconst teller = global.get(\"pofTeller\") ?? null;\nconst maxT   = global.get(\"pofTellerMax\") ?? null;\nconst ver    = global.get(\"pofVerificatie\") || {};\n\nmsg.payload = {\n    actief,\n    fase,\n    eventNaam:   event.naam || \"\",\n    eventTekst:  event.tekstIngevuld || \"\",\n    doelwit:     ver.doelwit || [],\n    getalWaarde: event.getalWaarde ?? null,\n    teller,\n    maxTeller: maxT\n};\nmsg.topic = \"pof/status\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 400,
        "wires": [["c6a000000000ff03"]]
    },
    {
        "id": "c6a000000000ff03",
        "type": "mqtt out",
        "z": "c6a0000000000001",
        "name": "pof/status",
        "topic": "pof/status",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f3c274c3514a5f8",
        "x": 1290,
        "y": 400,
        "wires": []
    },
    {
        "id": "c6a000000000fd01",
        "type": "delay",
        "z": "c6a0000000000001",
        "name": "Typewriter pauze",
        "pauseType": "delayV",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 720,
        "y": 460,
        "wires": [["c6a000000000000c"]]
    },
    {
        "id": "c6a000000000fd02",
        "type": "ui-template",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "name": "Doelwit typewriter",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align:center;padding:16px;min-height:80px;\">\n  <div id=\"pof-tw-event\" style=\"font-size:1.3em;font-weight:bold;margin-bottom:10px;\"></div>\n  <div id=\"pof-tw-namen\"></div>\n</div>\n<script>\n(function(){\n  $scope.$watch('msg',function(msg){\n    if(!msg||!msg.payload)return;\n    const p=msg.payload;\n    const hdr=document.getElementById('pof-tw-event');\n    const cnt=document.getElementById('pof-tw-namen');\n    if(!p.actief){hdr.textContent='';cnt.innerHTML='';return;}\n    hdr.textContent=(p.eventNaam||'')+(p.getalWaarde!=null?' ('+p.getalWaarde+')':'');\n    cnt.innerHTML='';\n    (p.doelwit||[]).forEach((naam,i)=>{\n      setTimeout(()=>{\n        const div=document.createElement('div');\n        div.style.cssText='font-size:1.15em;margin:6px 0;';\n        cnt.appendChild(div);\n        let j=0,str=naam.toString();\n        const iv=setInterval(()=>{\n          if(j>=str.length){clearInterval(iv);return;}\n          div.textContent+=str[j++];\n        },60);\n      },i*1600);\n    });\n  });\n})();\n<\/script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 980,
        "y": 460,
        "wires": [[]]
    },
    {
        "id": "c6a000000000fe01",
        "type": "function",
        "z": "c6a0000000000001",
        "name": "Formatteer doelwit",
        "func": "const p = msg.payload;\nif (!p || !Array.isArray(p.doelwit)) return null;\nmsg.payload = p.doelwit.length\n    ? p.doelwit.map(d => \"• \" + d).join(\"\\n\")\n    : \"(niemand)\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 360,
        "wires": [["c6a000000000fe02"]]
    },
    {
        "id": "c6a000000000fe02",
        "type": "ui-text",
        "z": "c6a0000000000001",
        "group": "c6a0000000000021",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Doelwit",
        "label": "Doelwit",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wires": []
    }
]
