pi/node-red/flows.json
[
    {"disabled":false,"env":[],"id":"c0a0000000000001","info":"Centrale configuratie: spelerslijst en paaltjeslijst. Zie pi/node-red/blokken/00_configuratie/README.md","label":"00 Configuratie","type":"tab"},
    {"action":"","from":"","id":"4b34e1666df93bbb","name":"Sla op als spelersLijst","property":"","reg":false,"rules":[{"p":"spelersLijst","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[["e6288a7d9dcaa5c1"]],"x":480,"y":120,"z":"c0a0000000000001"},
    {"active":true,"complete":"payload","console":false,"id":"e6288a7d9dcaa5c1","name":"spelersLijst (controle)","statusType":"auto","statusVal":"","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","wires":[],"x":760,"y":120,"z":"c0a0000000000001"},
    {"action":"","from":"","id":"c0a0000000000003","name":"Sla op als paaltjesLijst","property":"","reg":false,"rules":[{"p":"paaltjesLijst","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[["c0a0000000000004"]],"x":480,"y":240,"z":"c0a0000000000001"},
    {"active":true,"complete":"payload","console":false,"id":"c0a0000000000004","name":"paaltjesLijst (controle)","statusType":"auto","statusVal":"","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","wires":[],"x":760,"y":240,"z":"c0a0000000000001"},
    {"disabled":false,"env":[],"id":"124aa052f3987c33","info":"Bepaalt op welke paal elke speler zich bevindt. Zie pi/node-red/blokken/01_locatiebepaling/README.md","label":"01 Locatiebepaling","type":"tab"},
    {"broker":"0f3c274c3514a5f8","datatype":"auto-detect","id":"74b552b9f7b0487b","inputs":0,"name":"Ontvang Paal/MAC Data","nl":false,"qos":"2","rap":true,"rh":0,"topic":"plaatjes/data","type":"mqtt in","wires":[["144dea3e2a41356e","b956f233d2dcdefc","e1a0000000000021"]],"x":200,"y":160,"z":"124aa052f3987c33"},
    {"active":true,"complete":"payload","console":false,"id":"144dea3e2a41356e","name":"Ontvangen Slave data van Masters","statusType":"auto","statusVal":"","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","wires":[],"x":540,"y":100,"z":"124aa052f3987c33"},
    {"finalize":"","func":"// ============================================================\n// Locatiebepaling: tijd-gevensterde argmax met hysteresis\n// ============================================================\n// Per speler houden we per paal recente RSSI-samples (met timestamp) bij.\n// Samples ouder dan VENSTER_MS vervallen, zodat een verlaten paal vanzelf\n// uit beeld raakt (geen 'kleven' meer aan een oude sterke meting).\n// De speler staat bij de paal met het sterkste recente gemiddelde (argmax);\n// wisselen gebeurt pas als die duidelijk sterker is dan de huidige paal.\n\n// In simulatiemodus negeert de echte locatiebepaling alle plaatjes/data en\n// [TEST]-injects, zodat 'Sim directe locatie' de enige schrijver van\n// spelerLocaties is (standalone, geen vervuiling).\nif (global.get(\"simVeld24\") === true) return null;\n\n// --- TUNING: live uit global.locParams (defaults veilig) ---\nconst P = global.get(\"locParams\") || {};\nconst VENSTER_MS     = P.vensterMs    ?? 6000;\nconst HYSTERESE_DBM  = P.hystereseDbm ?? 6;\nconst RSSI_VLOER     = P.rssiVloer    ?? -92;\nconst GRACE_MS       = P.graceMs      ?? 4000;\nconst SWITCH_SAMPLES = P.switchSamples ?? 2;\nconst MIN_SAMPLES    = P.minSamples   ?? 2;\nconst MAX_SAMPLES    = 80;\n\n// --- 0. SMOELENBOEK ---\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nconst ruweMac = msg.payload.mac;\nconst spelerNaam = spelersLijst[ruweMac];\nif (!spelerNaam) return null; // Onbekende beacon negeren\nconst gepauzeerd = global.get(\"gespauzeerdePlayers\") || {};\nif (gepauzeerd[spelerNaam] === true) return null;\n\nconst paal = msg.payload.paal;\nconst kal = (global.get(\"beaconKalibratie\") || {})[ruweMac] || 0;\nconst rssi = msg.payload.rssi + kal;\nconst nu = Date.now();\nif (rssi < RSSI_VLOER) return null; // te zwak = ruis, niet meetellen\n\n// --- 1. GEHEUGEN ---\nlet geschiedenis = context.get(\"geschiedenis\") || {};\nlet spelerLocaties = global.get(\"spelerLocaties\") || {};\n\nif (!geschiedenis[spelerNaam] || !geschiedenis[spelerNaam].samples) {\n    geschiedenis[spelerNaam] = { huidigePaal: null, samples: {}, laatstPaal: {}, uitdager: null, uitdagerTeller: 0 };\n}\nlet g = geschiedenis[spelerNaam];\nif (!g.laatstPaal) g.laatstPaal = {};\n\n// --- 2. NIEUWE SAMPLE + PRUNE ---\nif (!g.samples[paal]) g.samples[paal] = [];\ng.samples[paal].push({ rssi: rssi, ts: nu });\ng.laatstPaal[paal] = nu;\n\nfor (const p in g.samples) {\n    // verouderde samples weggooien\n    g.samples[p] = g.samples[p].filter(s => (nu - s.ts) <= VENSTER_MS);\n    // lengte begrenzen (laatste MAX_SAMPLES houden)\n    if (g.samples[p].length > MAX_SAMPLES) {\n        g.samples[p] = g.samples[p].slice(-MAX_SAMPLES);\n    }\n    // lege palen verwijderen zodat ze geen kandidaat meer zijn\n    if (g.samples[p].length === 0) delete g.samples[p];\n}\n\n// --- 3. MEDIAAN RSSI PER PAAL (robuust tegen uitschieters) ---\nfunction mediaan(arr) {\n    const a = arr.map(s => s.rssi).sort((x, y) => x - y);\n    const m = a.length >> 1;\n    return a.length % 2 ? a[m] : (a[m - 1] + a[m]) / 2;\n}\nlet med = {};\nfor (const p in g.samples) {\n    if (g.samples[p].length >= MIN_SAMPLES) med[p] = mediaan(g.samples[p]);\n}\n\n// --- 4. ARGMAX kandidaat (sterkste mediaan) ---\nlet bestePaal = null;\nlet besteRssi = -Infinity;\nfor (const p in med) {\n    if (med[p] > besteRssi) { besteRssi = med[p]; bestePaal = parseInt(p, 10); }\n}\n\n// --- 5. BESLISSING: grace + sustained-switch ---\nconst vorigePaal = g.huidigePaal;\nif (bestePaal !== null) {\n    if (vorigePaal === null || vorigePaal === undefined) {\n        g.huidigePaal = bestePaal; g.uitdager = null; g.uitdagerTeller = 0;\n    } else {\n        const huidigeHeeftData = (vorigePaal in med);\n        const stilMs = nu - (g.laatstPaal[vorigePaal] || 0);\n        if (!huidigeHeeftData) {\n            // huidige paal stil: vasthouden binnen grace, daarna pas loslaten\n            if (stilMs > GRACE_MS) { g.huidigePaal = bestePaal; g.uitdager = null; g.uitdagerTeller = 0; }\n        } else if (bestePaal !== vorigePaal && med[bestePaal] >= med[vorigePaal] + HYSTERESE_DBM) {\n            // uitdager duidelijk sterker -> moet SWITCH_SAMPLES keer leiden\n            if (g.uitdager === bestePaal) g.uitdagerTeller++; else { g.uitdager = bestePaal; g.uitdagerTeller = 1; }\n            if (g.uitdagerTeller >= SWITCH_SAMPLES) { g.huidigePaal = bestePaal; g.uitdager = null; g.uitdagerTeller = 0; }\n        } else {\n            g.uitdager = null; g.uitdagerTeller = 0;\n        }\n    }\n}\n\n// Beweging-event ALLEEN bij een echte wissel (niet bij eerste lokalisatie),\n// zodat het puntensysteem geen levensuur toekent op de allereerste detectie.\nlet bewegingEvent = null;\nif (g.huidigePaal !== vorigePaal &&\n    vorigePaal !== null && vorigePaal !== undefined) {\n    bewegingEvent = { payload: { speler: spelerNaam, vanPaal: vorigePaal, naarPaal: g.huidigePaal } };\n}\n\ncontext.set(\"geschiedenis\", geschiedenis);\n\n// --- 6. CENTRALE WAARHEID ---\nif (g.huidigePaal !== null && g.huidigePaal !== undefined) {\n    spelerLocaties[spelerNaam] = g.huidigePaal;\n    global.set(\"spelerLocaties\", spelerLocaties);\n}\n\n// --- 7. TABELDATA (incl. levensuren/levensdagen uit flow 04) ---\nconst stats = global.get(\"spelerStats\") || {};\nlet tabelData = [];\nfor (let speler in spelerLocaties) {\n    const totaalUren = (stats[speler] && stats[speler].totaalUren) || 0;\n    const huidige = spelerLocaties[speler];\n    // toon de mediaan-RSSI over het venster voor de actieve paal\n    let rssiTekst = \"?\";\n    const sg = geschiedenis[speler] && geschiedenis[speler].samples;\n    if (sg && sg[huidige] && sg[huidige].length) {\n        rssiTekst = Math.round(mediaan(sg[huidige]));\n    }\n    tabelData.push({\n        \"Speler\": speler,\n        \"Locatie\": \"Paal \" + huidige,\n        \"RSSI\": rssiTekst,\n        \"Levensdagen\": Math.floor(totaalUren / 24),\n        \"Levensuren\": totaalUren % 24,\n        \"Sterftes\": (stats[speler] && stats[speler].sterftes) || 0\n    });\n}\n\nmsg.payload = tabelData;\n// Output 1: radar-tabel  |  Output 2: beweging-event naar puntensysteem\nreturn [msg, bewegingEvent];","id":"b956f233d2dcdefc","initialize":"","libs":[],"name":"Locatiebepaling Spelers","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["7c11e3f6ff689eda","2f75d20d1f49851d"],["c1b0000000000001"]],"x":530,"y":200,"z":"124aa052f3987c33"},
    {"active":false,"complete":"payload","console":false,"id":"7c11e3f6ff689eda","name":"Locatiebepaling spelers","statusType":"auto","statusVal":"","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","wires":[],"x":850,"y":140,"z":"124aa052f3987c33"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Naam","type":"text","width":""},{"align":"center","key":"Locatie","keyType":"key","title":"Actieve paal","type":"text","width":""},{"align":"center","key":"RSSI","keyType":"key","title":"Signaal (dBm)","type":"text","width":""},{"align":"center","key":"Levensdagen","keyType":"key","title":"Levensdagen","type":"text","width":""},{"align":"center","key":"Levensuren","keyType":"key","title":"Levensuren","type":"text","width":""},{"align":"center","key":"Sterftes","keyType":"key","title":"Sterftes","type":"text","width":""}],"deselect":true,"group":"33309fae52329839","height":0,"id":"2f75d20d1f49851d","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Locatie Spelers","order":1,"passthru":false,"selectionType":"none","showSearch":true,"type":"ui-table","width":0,"wires":[],"x":860,"y":240,"z":"124aa052f3987c33"},
    {"crontab":"","id":"10ca71e000000001","name":"[TEST] Detectie Lilou paal 1","once":false,"onceDelay":0.1,"payload":"{\"paal\":1,\"mac\":\"48:87:2d:9d:bb:7d\",\"rssi\":-55}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["b956f233d2dcdefc"]],"x":220,"y":320,"z":"124aa052f3987c33"},
    {"crontab":"","id":"10ca71e000000002","name":"[TEST] Detectie Zoë paal 2","once":false,"onceDelay":0.1,"payload":"{\"paal\":2,\"mac\":\"48:87:2d:9d:ba:5c\",\"rssi\":-58}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["b956f233d2dcdefc"]],"x":220,"y":380,"z":"124aa052f3987c33"},
    {"disabled":false,"env":[],"id":"a1b2c3d4e5f60101","info":"Toont de gezondheid van het spel; moet OK zijn vóór de start. Zie pi/node-red/blokken/02_spelstatus/README.md","label":"02 Spelstatus","type":"tab"},
    {"broker":"0f3c274c3514a5f8","datatype":"auto-detect","id":"a1b2c3d4e5f60102","inputs":0,"name":"Ontvang detecties","nl":false,"qos":"0","rap":true,"rh":0,"topic":"plaatjes/data","type":"mqtt in","wires":[["a1b2c3d4e5f60103","a1b2c3d4e5f60129"]],"x":170,"y":120,"z":"a1b2c3d4e5f60101"},
    {"crontab":"","id":"10ca71e000000003","name":"[TEST] Detectie","once":false,"onceDelay":0.1,"payload":"{\"paal\":1,\"mac\":\"48:87:2d:9d:bb:7d\",\"rssi\":-60}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["a1b2c3d4e5f60103"]],"x":170,"y":200,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Detectie binnen via plaatjes/data: {paal, mac, rssi}\nconst nu = Date.now();\nconst d = msg.payload;\nif (!d || d.paal === undefined || !d.mac) { return null; }\n\nlet macSeen = global.get(\"status_lastSeenMac\") || {};\nlet paalSeen = global.get(\"status_lastSeenPaal\") || {};\n\nmacSeen[d.mac] = nu;\npaalSeen[d.paal] = nu;\n\nglobal.set(\"status_lastSeenMac\", macSeen);\nglobal.set(\"status_lastSeenPaal\", paalSeen);\nglobal.set(\"status_lastDataTs\", nu);\n\nreturn msg;","id":"a1b2c3d4e5f60103","initialize":"","libs":[],"name":"Registreer detectie","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["a1b2c3d4e5f6010c"]],"x":430,"y":120,"z":"a1b2c3d4e5f60101"},
    {"active":false,"complete":"payload","console":false,"id":"a1b2c3d4e5f6010c","name":"Detectie (debug)","statusType":"auto","statusVal":"","targetType":"msg","tosidebar":true,"tostatus":false,"type":"debug","wires":[],"x":680,"y":120,"z":"a1b2c3d4e5f60101"},
    {"crontab":"","id":"a1b2c3d4e5f60106","name":"Evalueer (elke 3s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"1","topic":"","type":"inject","wires":[["a1b2c3d4e5f60107"]],"x":180,"y":360,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Pre-flight check: deze evaluatie loopt CONTINU (elke ~1s), óók als het spel gestopt of\n// gepauzeerd is — de bron-data (laatst gezien per speler/paal, datastroom, batterij) wordt los\n// van de spel-toestand bijgewerkt, zodat je de veld-status altijd kunt aflezen voor de start.\n// === Spelstatus evaluatie ===\nconst nu = Date.now();\n\n// Instelbare drempels\nconst SPELER_TIMEOUT_MS = 15000;\nconst SLAVE_STALE_MS = 60000;\nconst GEEN_DATA_MS = 10000;\n\n// Bronnen\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nconst paaltjesLijst = global.get(\"paaltjesLijst\") || [];\nconst macSeen = global.get(\"status_lastSeenMac\") || {};\nconst paalSeen = global.get(\"status_lastSeenPaal\") || {};\nconst lastDataTs = global.get(\"status_lastDataTs\") || 0;\nconst batterijPaal = global.get(\"status_batterijPaal\") || {};\nconst toonBatterij = global.get(\"status_toonBatterij\") === true;\nconst override = global.get(\"status_override\") === true;\n\n// In simulatiemodus alleen actieve (niet-verwijderde) spelers evalueren\nconst _sim = global.get(\"simVeld24\") === true;\nconst _locAanwezig = global.get(\"spelerLocaties\") || {};\n\nlet fouten = [];\n\n// 1. SPELERS\nlet spelersTabel = [];\nfor (const mac in spelersLijst) {\n    const naam = spelersLijst[mac];\n    if (_sim && !(naam in _locAanwezig)) continue;\n    const t = macSeen[mac];\n    let status, ouderdom;\n    if (!t) {\n        status = \"NIET GEZIEN\";\n        ouderdom = \"-\";\n        fouten.push({ Code: \"ST-001\", Niveau: \"FOUT\", Onderdeel: naam, Omschrijving: \"Speler nog niet gedetecteerd in het veld\" });\n    } else if (nu - t > SPELER_TIMEOUT_MS) {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"VERLOREN\";\n        fouten.push({ Code: \"ST-001\", Niveau: \"FOUT\", Onderdeel: naam, Omschrijving: \"Speler al \" + ouderdom + \" niet meer gezien\" });\n    } else {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"OK\";\n    }\n    spelersTabel.push({ Speler: naam, Status: status, \"Laatst gezien\": ouderdom });\n}\n\n// 2. SLAVES / PALEN\nlet palenTabel = [];\nfor (const paal of paaltjesLijst) {\n    const t = paalSeen[paal];\n    let status, ouderdom;\n    if (!t) {\n        status = \"GEEN CONTACT\";\n        ouderdom = \"-\";\n        fouten.push({ Code: \"ST-002\", Niveau: \"WAARSCHUWING\", Onderdeel: \"Paal \" + paal, Omschrijving: \"Slave heeft nog geen data gestuurd\" });\n    } else if (nu - t > SLAVE_STALE_MS) {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"VEROUDERD\";\n        fouten.push({ Code: \"ST-002\", Niveau: \"WAARSCHUWING\", Onderdeel: \"Paal \" + paal, Omschrijving: \"Slave al \" + ouderdom + \" stil\" });\n    } else {\n        ouderdom = (nu - t > 300000) ? \">300s\" : Math.round((nu - t) / 1000) + \"s\";\n        status = \"OK\";\n    }\n    // Batterij-kolom: gevuld als toggle aan staat, anders \"-\"\n    let batterijTekst = \"-\";\n    if (toonBatterij) {\n        const b = batterijPaal[paal];\n        batterijTekst = (b && typeof b.volt === \"number\")\n            ? b.volt.toFixed(2) + \" V\"\n            : \"?\";\n    }\n    palenTabel.push({ Paal: paal, Status: status, \"Laatst gezien\": ouderdom, \"Batterij\": batterijTekst });\n}\n\n// 3. DATASTROOM\nif (lastDataTs === 0) {\n    fouten.push({ Code: \"ST-003\", Niveau: \"FOUT\", Onderdeel: \"Datastroom\", Omschrijving: \"Nog geen enkel bericht ontvangen op plaatjes/data\" });\n} else if (nu - lastDataTs > GEEN_DATA_MS) {\n    fouten.push({ Code: \"ST-003\", Niveau: \"FOUT\", Onderdeel: \"Datastroom\", Omschrijving: \"Al \" + Math.round((nu - lastDataTs) / 1000) + \"s geen data - controleer master/bridge\" });\n}\n\n// 4. ONBEKENDE BEACONS (informatief)\nfor (const mac in macSeen) {\n    if (!spelersLijst[mac] && (nu - macSeen[mac] < SPELER_TIMEOUT_MS)) {\n        fouten.push({ Code: \"ST-004\", Niveau: \"INFO\", Onderdeel: mac, Omschrijving: \"Onbekende beacon gedetecteerd (niet geregistreerd)\" });\n    }\n}\n\n// SAMENVATTING\nconst aantalFout = fouten.filter(f => f.Niveau === \"FOUT\").length;\nconst spelOk = aantalFout === 0 && spelersTabel.length > 0 && palenTabel.length > 0;\n\nglobal.set(\"status_ok\", spelOk);\nglobal.set(\"status_fouten\", fouten);\n\nlet statusTekst;\nif (spelOk) {\n    statusTekst = override\n        ? \"GO - spelstatus OK (override actief)\"\n        : \"GO - spelstatus OK, klaar om te starten\";\n} else if (override) {\n    statusTekst = \"NO-GO - \" + aantalFout + \" fout(en) - OVERRIDE actief, Start spel mogelijk\";\n} else {\n    statusTekst = \"NO-GO - \" + aantalFout + \" fout(en), zie foutcodes\";\n}\n\nconst foutenTabel = fouten.length > 0\n    ? fouten\n    : [{ Code: \"-\", Niveau: \"INFO\", Onderdeel: \"-\", Omschrijving: \"Geen fouten\" }];\n\nreturn [\n    { payload: spelersTabel },\n    { payload: palenTabel },\n    { payload: foutenTabel },\n    { payload: statusTekst }\n];","id":"a1b2c3d4e5f60107","initialize":"","libs":[],"name":"Evalueer spelstatus","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["a1b2c3d4e5f60108"],["a1b2c3d4e5f60109"],["a1b2c3d4e5f6010a"],["a1b2c3d4e5f6010b"]],"x":440,"y":360,"z":"a1b2c3d4e5f60101"},
    {"className":"","format":"<template>\n  <div :style=\"{ backgroundColor: kleur, color:'white', padding:'12px 8px', textAlign:'center', fontWeight:'bold', borderRadius:'4px', fontSize:'16px' }\">{{ tekst }}</div>\n</template>\n<script>\nexport default {\n  computed: {\n    tekst(){ return (this.msg && this.msg.payload!=null && this.msg.payload!=='') ? String(this.msg.payload) : '-'; },\n    kleur(){ const t=this.tekst.toLowerCase(); if(/no-?go|gestopt|geblokkeerd/.test(t)) return '#c62828'; if(/pauze|wacht/.test(t)) return '#f9a825'; if(/\\bgo\\b|loopt|lopend|actief|klaar/.test(t)) return '#2e7d32'; return '#717171'; }\n  }\n}\n</script>","group":"a1b2c3d4e5f6010e","head":"","height":0,"id":"a1b2c3d4e5f6010b","name":"Spelstatus","order":1,"page":"","passthru":true,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":0,"wires":[[]],"x":700,"y":120,"z":"a1b2c3d4e5f60101"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Speler","type":"text","width":""},{"align":"center","key":"Status","keyType":"key","title":"Status","type":"text","width":""},{"align":"center","key":"Laatst gezien","keyType":"key","title":"Laatst gezien","type":"text","width":""}],"deselect":true,"group":"a1b2c3d4e5f6010f","height":0,"id":"a1b2c3d4e5f60108","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Spelers","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":320,"z":"a1b2c3d4e5f60101"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Paal","keyType":"key","title":"Paal","type":"text","width":""},{"align":"center","key":"Status","keyType":"key","title":"Status","type":"text","width":""},{"align":"center","key":"Laatst gezien","keyType":"key","title":"Laatst gezien","type":"text","width":""},{"align":"center","key":"Batterij","keyType":"key","title":"Batterij","type":"text","width":""}],"deselect":true,"group":"a1b2c3d4e5f60110","height":0,"id":"a1b2c3d4e5f60109","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Palen","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":380,"z":"a1b2c3d4e5f60101"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Code","keyType":"key","title":"Code","type":"text","width":""},{"align":"center","key":"Niveau","keyType":"key","title":"Niveau","type":"text","width":""},{"align":"center","key":"Onderdeel","keyType":"key","title":"Onderdeel","type":"text","width":""},{"align":"left","key":"Omschrijving","keyType":"key","title":"Omschrijving","type":"text","width":""}],"deselect":true,"group":"a1b2c3d4e5f60111","height":0,"id":"a1b2c3d4e5f6010a","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Foutcodes","order":1,"passthru":false,"selectionType":"none","showSearch":true,"type":"ui-table","width":0,"wires":[],"x":710,"y":440,"z":"a1b2c3d4e5f60101"},
    {"disabled":false,"env":[],"id":"b3d1000000000001","info":"Interactief dashboard om het spel te starten/pauzeren/herstarten. Zie pi/node-red/blokken/03_bediening/README.md","label":"03 Bediening","type":"tab"},
    {"crontab":"","id":"b3d1000000000008","name":"Toon toestand bij opstart","once":true,"onceDelay":1,"payload":"toon","payloadType":"str","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["b3d1000000000006"]],"x":200,"y":360,"z":"b3d1000000000001"},
    {"finalize":"","func":"// Verwerk een knop van het Bediening-/Simulatie-dashboard\nconst actie = msg.payload;\nlet toestand = global.get(\"spelToestand\") || \"gestopt\";\nconst statusOk = global.get(\"status_ok\");\nconst override = global.get(\"status_override\") === true;\nlet melding = \"\";\n\n// Reset van de PARTIJ-staat (gedeeld door stop en herstart). De GLOBALE stats\n// (totaalUren/levensdagen/sterftes/skills) blijven bewaard — die wis je apart met\n// [BEHEER] Wis globale stats.\nfunction resetSpelStaat() {\n    const _af = global.get(\"pofHuidigSpel\");\n    if (_af && _af.events && _af.events.length) {\n        _af.eind = new Date().toISOString();\n        const _h = global.get(\"spelHistorie\") || [];\n        _h.unshift(_af);\n        global.set(\"spelHistorie\", _h);\n    }\n    global.set(\"pofHuidigSpel\", null);\n    global.set(\"pofHuidigEvent\", null);\n    global.set(\"pofWachtrij\", []);\n    global.set(\"pofActief\", false);\n    global.set(\"pofFase\", \"idle\");\n    global.set(\"pofTeller\", 0);\n    global.set(\"pofEventenRonde\", 0);\n    global.set(\"pofDoelwitReveal\", \"\");\n    global.set(\"bordStaat\", {});\n    global.set(\"spelerEffecten\", {});\n    global.set(\"wereldEffecten\", []);\n    global.set(\"ziekeSpelers\", {});\n    global.set(\"pofGenezen\", []);\n    global.set(\"dienaars\", {});\n    global.set(\"middernachtOogst\", false);\n    global.set(\"middernachtActief\", false);\n    global.set(\"pofVerificatie\", {});\n    global.set(\"pofLaatsteControle\", []);\n}\n\nswitch (actie) {\n    case \"start\":\n        if (toestand === \"lopend\") {\n            melding = \"Spel liep al.\";\n        } else if (statusOk === false && !override) {\n            melding = \"NO-GO - kan niet starten. Los fouten op of zet OVERRIDE aan.\";\n        } else {\n            toestand = \"lopend\";\n            melding = (statusOk === false && override) ? \"Spel GESTART met OVERRIDE - spelstatus was NIET OK\" : \"Spel gestart.\";\n        }\n        break;\n    case \"pauzeer\":\n        if (toestand === \"lopend\") { toestand = \"gepauzeerd\"; melding = \"Spel gepauzeerd.\"; }\n        else melding = \"Pauzeren kan enkel terwijl het spel loopt.\";\n        break;\n    case \"hervat\":\n        if (toestand === \"gepauzeerd\") { toestand = \"lopend\"; melding = \"Spel hervat.\"; }\n        else melding = \"Hervatten kan enkel vanuit pauze.\";\n        break;\n    case \"herstart\":\n        resetSpelStaat();\n        toestand = \"lopend\";\n        melding = \"Spel herstart - partij teruggezet (globale stats blijven).\";\n        break;\n    case \"stop\":\n        resetSpelStaat();\n        toestand = \"gestopt\";\n        melding = \"Spel GESTOPT - partij gereset (globale stats blijven).\";\n        break;\n    case \"toon\":\n        melding = \"Huidige toestand.\";\n        break;\n    default:\n        melding = \"Onbekende actie: \" + actie;\n}\n\nglobal.set(\"spelToestand\", toestand);\n\nif ((actie === \"start\" || actie === \"herstart\") && toestand === \"lopend\") {\n    global.set(\"pofHuidigSpel\", { id: Date.now(), start: new Date().toISOString(), events: [] });\n}\n\nmsg.payload = \"Toestand: \" + toestand.toUpperCase() + \"  |  \" + melding;\n// Bij stop/herstart: trigger Ziekte-beheer zodat pof/ziekte (retained) geleegd wordt en de medicijn-LEDs doven.\nconst zReset = (actie === \"stop\" || actie === \"herstart\") ? {} : null;\nreturn [msg, zReset];\n","id":"b3d1000000000006","initialize":"","libs":[],"name":"Verwerk bediening","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["b3d1000000000007"],["c6a0000000000071"]],"x":480,"y":200,"z":"b3d1000000000001"},
    {"className":"","format":"<template>\n  <div :style=\"{ backgroundColor: kleur, color:'white', padding:'12px 8px', textAlign:'center', fontWeight:'bold', borderRadius:'4px', fontSize:'18px' }\">{{ tekst }}</div>\n</template>\n<script>\nexport default {\n  computed: {\n    tekst(){ return (this.msg && this.msg.payload!=null && this.msg.payload!=='') ? String(this.msg.payload) : '-'; },\n    kleur(){ const t=this.tekst.toLowerCase(); if(/no-?go|gestopt|geblokkeerd/.test(t)) return '#c62828'; if(/pauze|wacht/.test(t)) return '#f9a825'; if(/\\bgo\\b|loopt|lopend|actief|klaar/.test(t)) return '#2e7d32'; return '#717171'; }\n  }\n}\n</script>","group":"b3d100000000000a","head":"","height":1,"id":"b3d1000000000007","name":"Huidige speltoestand","order":20,"page":"","passthru":true,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":12,"wires":[[]],"x":700,"y":220,"z":"b3d1000000000001"},
    {"autoConnect":true,"autoUnsubscribe":true,"birthMsg":{},"birthPayload":"","birthQos":"0","birthRetain":"false","birthTopic":"","broker":"192.168.1.43","cleansession":true,"clientid":"","closeMsg":{},"closePayload":"","closeQos":"0","closeRetain":"false","closeTopic":"","id":"0f3c274c3514a5f8","keepalive":60,"name":"","port":1883,"protocolVersion":4,"sessionExpiry":"","type":"mqtt-broker","userProps":"","usetls":false,"willMsg":{},"willPayload":"","willQos":"0","willRetain":"false","willTopic":""},
    {"acceptsClientConfig":["ui-notification","ui-control"],"allowInstall":false,"appIcon":"","headerContent":"page","id":"2560e15da2c4a046","includeClientData":true,"name":"My Dashboard","navigationStyle":"default","notificationDisplayTime":4,"path":"/dashboard","showDisconnectNotification":true,"showPathInSidebar":false,"showReconnectNotification":true,"titleBarStyle":"default","type":"ui-base"},
    {"colors":{"bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc","primary":"#0094CE","surface":"#ffffff"},"id":"f4af76d3be7f4001","name":"Default Theme","sizes":{"density":"default","groupBorderRadius":"4px","groupGap":"12px","pagePadding":"12px","widgetGap":"12px"},"type":"ui-theme"},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"check-circle","id":"a1b2c3d4e5f6010d","layout":"grid","name":"Spelstatus","order":1,"path":"/spelstatus","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f6010e","name":"Spelstatus","order":2,"page":"a1b2c3d4e5f6010d","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f6010f","name":"Spelers","order":4,"page":"a1b2c3d4e5f6010d","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f60110","name":"Palen / Slaves","order":5,"page":"a1b2c3d4e5f6010d","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f60111","name":"Foutcodes","order":6,"page":"a1b2c3d4e5f6010d","showTitle":true,"type":"ui-group","visible":"true","width":12},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"gamepad-variant","id":"b3d1000000000009","layout":"grid","name":"Bediening","order":2,"path":"/bediening","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":5,"id":"b3d100000000000a","name":"Speltoestand","order":1,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":12},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"33309fae52329839","name":"Live Radar","order":3,"page":"b3d1000000000009","showTitle":false,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f60120","name":"MQTT","order":1,"page":"a1b2c3d4e5f6010d","showTitle":false,"type":"ui-group","visible":"true","width":2},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"a1b2c3d4e5f60121","name":"Bediening status","order":3,"page":"a1b2c3d4e5f6010d","showTitle":true,"type":"ui-group","visible":"true","width":4},
    {"id":"a1b2c3d4e5f60122","name":"MQTT status watcher","scope":["a1b2c3d4e5f60102"],"type":"status","wires":[["a1b2c3d4e5f60123"]],"x":170,"y":500,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Status-event van de MQTT-in node: bepaal of de broker bereikbaar is.\n// node-red zet fill='green' bij 'connected', anders rood/grijs/geel.\nconst fill = msg.status && msg.status.fill;\nconst text = (msg.status && msg.status.text) || \"\";\nconst connected = (fill === \"green\")\n    || /connected/i.test(text);\nreturn { payload: connected };","id":"a1b2c3d4e5f60123","initialize":"","libs":[],"name":"Map naar groen/rood","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["a1b2c3d4e5f60124"]],"x":410,"y":500,"z":"a1b2c3d4e5f60101"},
    {"className":"","format":"<template>\n    <div :style=\"{\n        backgroundColor: msg && msg.payload ? '#2e7d32' : '#c62828',\n        color: 'white',\n        padding: '14px 8px',\n        textAlign: 'center',\n        fontWeight: 'bold',\n        borderRadius: '4px',\n        fontSize: '16px',\n        letterSpacing: '0.5px'\n    }\">\n        MQTT {{ msg && msg.payload ? '✓ OK' : '✗ WEG' }}\n    </div>\n</template>","group":"a1b2c3d4e5f60120","head":"","height":0,"id":"a1b2c3d4e5f60124","name":"MQTT indicator","order":1,"page":"","passthru":true,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":0,"wires":[[]],"x":660,"y":500,"z":"a1b2c3d4e5f60101"},
    {"className":"","decouple":"true","group":"a1b2c3d4e5f60121","height":0,"id":"a1b2c3d4e5f60125","label":"Toon batterij","name":"Toon batterij","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#0277bd","onicon":"","onvalue":"true","onvalueType":"bool","order":1,"passthru":false,"style":"","topic":"","topicType":"str","type":"ui-switch","width":0,"wires":[["f0a0000000000001"]],"x":180,"y":580,"z":"a1b2c3d4e5f60101"},
    {"action":"","from":"","id":"a1b2c3d4e5f60126","name":"Sla status_toonBatterij op","property":"","reg":false,"rules":[{"p":"status_toonBatterij","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[["a1b2c3d4e5f60107"]],"x":460,"y":580,"z":"a1b2c3d4e5f60101"},
    {"className":"","decouple":"true","group":"a1b2c3d4e5f60121","height":0,"id":"a1b2c3d4e5f60127","label":"Override NO-GO","name":"Override NO-GO","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#f9a825","onicon":"","onvalue":"true","onvalueType":"bool","order":2,"passthru":false,"style":"","topic":"","topicType":"str","type":"ui-switch","width":0,"wires":[["f0a0000000000002"]],"x":180,"y":640,"z":"a1b2c3d4e5f60101"},
    {"action":"","from":"","id":"a1b2c3d4e5f60128","name":"Sla status_override op","property":"","reg":false,"rules":[{"p":"status_override","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[["a1b2c3d4e5f60107"]],"x":460,"y":640,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Batterij-regel binnen via plaatjes/data: {paal, batt}\n// Tegelijk gebruiken als heartbeat zodat een paal met 0 spelers ook\n// als 'levend' geldt in de spelstatus.\nconst nu = Date.now();\nconst d = msg.payload;\nif (!d || d.paal === undefined || d.batt === undefined) return null;\n\nlet batterijPaal = global.get(\"status_batterijPaal\") || {};\nbatterijPaal[d.paal] = { volt: d.batt, ts: nu };\nglobal.set(\"status_batterijPaal\", batterijPaal);\n\nlet paalSeen = global.get(\"status_lastSeenPaal\") || {};\npaalSeen[d.paal] = nu;\nglobal.set(\"status_lastSeenPaal\", paalSeen);\nglobal.set(\"status_lastDataTs\", nu);\nreturn null;","id":"a1b2c3d4e5f60129","initialize":"","libs":[],"name":"Registreer batterij","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":430,"y":160,"z":"a1b2c3d4e5f60101"},
    {"crontab":"","id":"a1b2c3d4e5f6012a","name":"Init toggles bij opstart","once":true,"onceDelay":0.5,"payload":"false","payloadType":"bool","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["a1b2c3d4e5f60126","a1b2c3d4e5f60128"]],"x":180,"y":700,"z":"a1b2c3d4e5f60101"},
    {"id":"c1b0000000000001","links":["c4a0000000000002"],"mode":"link","name":"Beweging naar Puntensysteem","type":"link out","wires":[],"x":855,"y":320,"z":"124aa052f3987c33"},
    {"disabled":false,"env":[],"id":"c4a0000000000001","info":"Houdt levensuren/levensdagen per speler bij. Zie pi/node-red/blokken/04_puntensysteem/README.md","label":"04 Puntensysteem","type":"tab"},
    {"id":"c4a0000000000002","links":["c1b0000000000001"],"name":"Beweging van Locatiebepaling","type":"link in","wires":[["c4a0000000000003"]],"x":160,"y":120,"z":"c4a0000000000001"},
    {"finalize":"","func":"// Positie-update + PAD-OPNAME. Levensuren worden niet hier toegekend, maar bij de\n// controle (Verifieer beweging) op basis van het opgenomen pad.\nconst ev = msg.payload;\nif (!ev || !ev.speler || ev.vanPaal === undefined || ev.naarPaal === undefined) {\n    return null;\n}\nlet stats = global.get(\"spelerStats\") || {};\nlet s = stats[ev.speler] || {};\nif (s.totaalUren === undefined) s.totaalUren = 0;\nif (s.sterftes === undefined) s.sterftes = 0;\nif (s.tijdTerug === undefined) s.tijdTerug = false;\n\n// Tijdens de bewegingsfase elke settled paalwissel als hop bewaren (geordend pad).\nconst fase = global.get(\"pofFase\") || \"idle\";\nif (fase === \"reactie\" || fase === \"wacht_controle\") {\n    let pad = global.get(\"pofPad\") || {};\n    (pad[ev.speler] = pad[ev.speler] || []).push([ev.vanPaal, ev.naarPaal]);\n    global.set(\"pofPad\", pad);\n}\n\ns.huidigePaal = ev.naarPaal;\nstats[ev.speler] = s;\nglobal.set(\"spelerStats\", stats);\nmsg.payload = {\n    speler: ev.speler, van: ev.vanPaal, naar: ev.naarPaal,\n    totaalUren: s.totaalUren,\n    levensdagen: Math.floor(s.totaalUren / 24),\n    levensuren: s.totaalUren % 24,\n    sterftes: s.sterftes,\n    melding: ev.speler + \" positie -> paal \" + ev.naarPaal + \" (scoren bij de controle)\"\n};\nreturn msg;\n","id":"c4a0000000000003","initialize":"","libs":[],"name":"Bereken levensuren","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c4a0000000000004"]],"x":430,"y":120,"z":"c4a0000000000001"},
    {"active":true,"complete":"payload.melding","console":false,"id":"c4a0000000000004","name":"Levensjaren (debug)","statusType":"msg","statusVal":"payload.melding","targetType":"msg","tosidebar":true,"tostatus":true,"type":"debug","wires":[],"x":720,"y":120,"z":"c4a0000000000001"},
    {"disabled":false,"env":[],"id":"c5a0000000000001","info":"Admin-paneel: levensjaren resetten achter twee-staps verificatie. Zie pi/node-red/blokken/05_admin/README.md","label":"05 Admin","type":"tab"},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"shield-lock","id":"c5a0000000000010","layout":"grid","name":"Admin","order":4,"path":"/admin","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c5a0000000000011","name":"Levensjaren beheer","order":1,"page":"c5a0000000000010","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","decouple":"true","group":"c5a0000000000011","height":0,"id":"c5a0000000000002","label":"Admin ontgrendelen (stap 1)","name":"Admin ontgrendelen","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#f9a825","onicon":"","onvalue":"true","onvalueType":"bool","order":1,"passthru":false,"style":"","topic":"","topicType":"str","type":"ui-switch","width":0,"wires":[["f0a0000000000003"]],"x":200,"y":120,"z":"c5a0000000000001"},
    {"action":"","from":"","id":"c5a0000000000003","name":"Sla admin_unlocked op","property":"","reg":false,"rules":[{"p":"admin_unlocked","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[[]],"x":480,"y":120,"z":"c5a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"calendar-remove","iconPosition":"left","id":"c5a0000000000004","label":"Levensdagen → 0 (stap 2)","name":"Reset Levensdagen","order":2,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Zet de levensdagen van alle spelers op 0 (uren blijven)","topic":"reset_dagen","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":200,"z":"c5a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"clock-remove","iconPosition":"left","id":"c5a0000000000005","label":"Levensuren → 0 (stap 2)","name":"Reset Levensuren","order":3,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Zet de losse levensuren van alle spelers op 0 (hele dagen blijven)","topic":"reset_uren","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":260,"z":"c5a0000000000001"},
    {"finalize":"","func":"// Admin-reset met twee-staps verificatie.\n// Stap 1: 'Admin ontgrendelen' moet AAN (global.admin_unlocked).\n// Stap 2: een resetknop. Na uitvoeren vergrendelt het paneel weer.\nconst topic = msg.topic;\nconst unlocked = global.get(\"admin_unlocked\") === true;\n\nif (!unlocked) {\n    msg.payload = \"VERGRENDELD - zet eerst 'Admin ontgrendelen' aan (stap 1).\";\n    return [msg, null];\n}\n\nlet stats = global.get(\"spelerStats\") || {};\nlet aantal = 0;\nlet wat;\nlet eenheid = \"speler(s)\";\nlet triggerZiekte = false;\n\nif (topic === \"reset_dagen\") {\n    for (let naam in stats) {\n        const t = stats[naam].totaalUren || 0;\n        stats[naam].totaalUren = t % 24;            // dagen weg, uren-rest blijft\n        stats[naam].achterstand = 0;\n        stats[naam].verplaatstRonde = 0;\n        aantal++;\n    }\n    wat = \"Levensdagen\";\n} else if (topic === \"reset_uren\") {\n    for (let naam in stats) {\n        const t = stats[naam].totaalUren || 0;\n        stats[naam].totaalUren = Math.floor(t / 24) * 24;  // uren-rest weg, dagen blijven\n        stats[naam].achterstand = 0;\n        stats[naam].verplaatstRonde = 0;\n        aantal++;\n    }\n    wat = \"Levensuren\";\n} else if (topic === \"reset_sterftes\") {\n    for (let naam in stats) {\n        stats[naam].sterftes = 0;\n        aantal++;\n    }\n    wat = \"Sterftes\";\n} else if (topic === \"reset_paaleffecten\") {\n    const bord = global.get(\"bordStaat\") || {};\n    aantal = Object.keys(bord).length;\n    global.set(\"bordStaat\", {});\n    wat = \"Paal-effecten\"; eenheid = \"paal/palen\";\n} else if (topic === \"reset_spelereffecten\") {\n    const se = global.get(\"spelerEffecten\") || {};\n    const we = global.get(\"wereldEffecten\") || [];\n    aantal = Object.keys(se).length + we.length;\n    global.set(\"spelerEffecten\", {});\n    global.set(\"wereldEffecten\", []);\n    wat = \"Speler- + Wereld-effecten\"; eenheid = \"effect(en)\";\n} else if (topic === \"reset_spelertoestanden\") {\n    const se = global.get(\"spelerEffecten\") || {};\n    const zk = global.get(\"ziekeSpelers\") || {};\n    const dn = global.get(\"dienaars\") || {};\n    aantal = Object.keys(se).length + Object.keys(zk).length + Object.keys(dn).length;\n    global.set(\"spelerEffecten\", {});\n    global.set(\"ziekeSpelers\", {});\n    global.set(\"dienaars\", {});\n    global.set(\"pofGenezen\", []);\n    triggerZiekte = true;   // laat Ziekte-beheer lege pof/ziekte + pof/dienaars publiceren\n    wat = \"Speler-toestanden (effecten/ziekte/dienaar)\"; eenheid = \"toestand(en)\";\n} else if (topic === \"reset_alles\") {\n    // Alle individuele resets in één klik.\n    for (let naam in stats) {\n        stats[naam].totaalUren = 0;\n        stats[naam].achterstand = 0;\n        stats[naam].verplaatstRonde = 0;\n        stats[naam].sterftes = 0;\n        aantal++;\n    }\n    global.set(\"bordStaat\", {});\n    global.set(\"spelerEffecten\", {});\n    global.set(\"wereldEffecten\", []);\n    global.set(\"ziekeSpelers\", {});\n    global.set(\"dienaars\", {});\n    global.set(\"pofGenezen\", []);\n    triggerZiekte = true;\n    wat = \"ALLES (levensuren/dagen, sterftes, alle effecten, ziekte, dienaars)\";\n} else {\n    msg.payload = \"Onbekende reset-actie: \" + topic;\n    return [msg, null];\n}\n\nglobal.set(\"spelerStats\", stats);\nglobal.set(\"admin_unlocked\", false);   // automatisch hervergrendelen\n\nmsg.payload = wat + \" gereset (\" + aantal + \" \" + eenheid + \"). Paneel weer vergrendeld.\";\nreturn [msg, { payload: false }, triggerZiekte ? {} : null];","id":"c5a0000000000006","initialize":"","libs":[],"name":"Admin reset","noerr":0,"outputs":3,"timeout":0,"type":"function","wires":[["c5a0000000000007"],["c5a0000000000002"],["c6a0000000000071"]],"x":480,"y":230,"z":"c5a0000000000001"},
    {"allowConfirm":false,"allowDismiss":true,"className":"","color":"#0094CE","colorDefault":true,"confirmText":"","dismissText":"OK","displayTime":"4","id":"c5a0000000000007","name":"Admin melding","outputs":0,"position":"center","raw":false,"showCountdown":true,"type":"ui-notification","ui":"2560e15da2c4a046","wires":[],"x":720,"y":200,"z":"c5a0000000000001"},
    {"crontab":"","id":"c5a0000000000008","name":"Init: vergrendeld bij opstart","once":true,"onceDelay":0.5,"payload":"false","payloadType":"bool","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c5a0000000000003"]],"x":220,"y":160,"z":"c5a0000000000001"},
    {"disabled":false,"env":[],"id":"c6a0000000000001","info":"Plates of Fate engine: kiest events, leest voor (audio), kiest doelwitten en voert gevolgen uit. Zie pi/node-red/blokken/06_plates_of_fate/README.md","label":"06 Plates of Fate","type":"tab"},
    {"crontab":"","id":"c6a0000000000002","name":"[CONFIG] Speler-events","once":true,"onceDelay":0.3,"payload":"[{\"id\": \"verplaatsing2\", \"naam\": \"verplaatsingMax\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"Maximum x uur.\", \"reactietijd_s\": 20, \"doelwit\": {\"type\": \"speler\", \"selectie\": \"willekeurig\", \"aantal\": \"laag\"}, \"getal\": \"midden\", \"voorwaarde\": \"max\", \"audioVoor\": \"verplaatsing2_voor.wav\", \"audioNa\": \"verplaatsing2_na.wav\", \"gevolgen\": [{\"type\": \"geen\"}]}, {\"id\": \"of_verplaatsing\", \"naam\": \"Of-verplaatsing\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"x of y uur vooruit.\", \"reactietijd_s\": 20, \"doelwit\": {\"type\": \"speler\", \"selectie\": \"willekeurig\", \"aantal\": \"midden\"}, \"getal\": \"laag\", \"getal2\": [4, 6], \"voorwaarde\": \"of\", \"audioVoor\": \"of_verplaatsing_voor.wav\", \"audioNa\": \"of_verplaatsing_na.wav\", \"gevolgen\": [{\"type\": \"geen\"}]}, {\"id\": \"groep_verplaatsing\", \"naam\": \"Groep-verplaatsing\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"maximum x uur vooruit.\", \"reactietijd_s\": 20, \"doelwit\": {\"type\": \"groep\", \"veld\": \"willekeurig\", \"selectie\": \"willekeurig\"}, \"getal\": \"midden\", \"voorwaarde\": \"max\", \"audioVoor\": \"groep_verplaatsing_voor.wav\", \"audioNa\": \"groep_verplaatsing_na.wav\", \"gevolgen\": [{\"type\": \"geen\"}]}, {\"id\": \"groep_of_verplaatsing\", \"naam\": \"Groep-of-verplaatsing\", \"tag\": \"\", \"categorie\": \"speler\", \"tekst\": \"x of y uur vooruit.\", \"reactietijd_s\": 20, \"doelwit\": {\"type\": \"groep\", \"veld\": \"willekeurig\", \"selectie\": \"willekeurig\"}, \"getal\": \"laag\", \"getal2\": [4, 6], \"voorwaarde\": \"of\", \"audioVoor\": \"groep_of_verplaatsing_voor.wav\", \"audioNa\": \"groep_of_verplaatsing_na.wav\", \"gevolgen\": [{\"type\": \"geen\"}]}]","payloadType":"json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"speler","type":"inject","wires":[["c6a0000000000003"]],"x":200,"y":200,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Merge events per categorie zodat de drie config-injects elkaar niet overschrijven.\nconst cat = msg.topic;\nlet all = global.get(\"pofEvents\") || [];\nall = all.filter(e => e.categorie !== cat);\nif (Array.isArray(msg.payload)) all = all.concat(msg.payload);\nglobal.set(\"pofEvents\", all);\nreturn { topic: \"pof/events\", payload: all };","id":"c6a0000000000003","initialize":"","libs":[],"name":"Sla pofEvents op (merge per categorie)","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a000000000ee20"]],"x":480,"y":200,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Plates-of-Fate toestandsmachine. Gevoed door de 1s-ticker en de knoppen.\n// out1: start CHOOSE | out2: start VERIFY | out3: timer-display | out4: trigger uitvoer\nconst AANLOOP_S = 5;\nconst t = msg.topic;\nconst manueel = global.get(\"pofManueel\") === true;\nconst lopend = (global.get(\"spelToestand\") || \"gestopt\") === \"lopend\";\nconst disp = (tekst) => ({ payload: tekst });\n\nif (t === \"pof_start\") {\n    global.set(\"pofActief\", true);\n    global.set(\"pofEventenRonde\", 0);\n    global.set(\"pofDoelwitDisplay\", null);\n    if (manueel) {\n        global.set(\"pofFase\", \"wacht\"); global.set(\"pofTeller\", 0);\n        return [null, null, disp(\"Wacht op 'Volgende event'\")];\n    }\n    global.set(\"pofFase\", \"aanloop\"); global.set(\"pofTeller\", AANLOOP_S);\n    return [null, null, disp(\"Volgend event over: \" + AANLOOP_S + \"s\")];\n}\nif (t === \"pof_stop\") {\n    global.set(\"pofActief\", false); global.set(\"pofFase\", \"idle\");\n    return [null, null, disp(\"POF gestopt\")];\n}\nif (t === \"pof_volgende\") {\n    if (global.get(\"pofActief\") === true && lopend && manueel) {\n        global.set(\"pofFase\", \"bezig\");\n        return [{ start: true }, null, disp(\"Event gekozen...\")];\n    }\n    return null;\n}\nif (t === \"pof_controle\") {\n    // Een klik: de gevolgen zijn na de reveal al uitgevoerd (fase wacht_controle); nu verifieren.\n    if (global.get(\"pofActief\") === true && lopend && global.get(\"pofFase\") === \"wacht_controle\") {\n        global.set(\"pofFase\", \"bezig\");\n        return [null, { verify: true }, disp(\"Controle...\")];\n    }\n    return null;\n}\n\n// tick (alleen tijdens een lopend spel met actieve engine)\nif (global.get(\"pofActief\") !== true || !lopend) return null;\nlet fase = global.get(\"pofFase\") || \"idle\";\nlet teller = global.get(\"pofTeller\") || 0;\n\nif (fase === \"aanloop\") {\n    teller--;\n    if (teller <= 0) { global.set(\"pofFase\", \"bezig\"); return [{ start: true }, null, disp(\"Event gekozen...\")]; }\n    global.set(\"pofTeller\", teller);\n    return [null, null, disp(\"Volgend event over: \" + teller + \"s\")];\n}\nif (fase === \"reactie\") {\n    teller--;\n    if (teller <= 0) { global.set(\"pofFase\", \"bezig\"); return [null, { verify: true }, disp(\"Controle...\")]; }\n    global.set(\"pofTeller\", teller);\n    return [null, null, disp(\"Reactietijd: \" + teller + \"s\")];\n}\nif (fase === \"regroup\") {\n    // Pauze na een NUKE: spelers hergroeperen; daarna terug naar de normale flow.\n    teller--;\n    if (teller <= 0) {\n        if (manueel) { global.set(\"pofFase\", \"wacht\"); global.set(\"pofTeller\", 0); return [null, null, disp(\"Wacht op 'Volgende event'\")]; }\n        global.set(\"pofFase\", \"aanloop\"); global.set(\"pofTeller\", AANLOOP_S);\n        return [null, null, disp(\"Volgend event over: \" + AANLOOP_S + \"s\")];\n    }\n    global.set(\"pofTeller\", teller);\n    return [null, null, disp(\"Regroup: \" + teller + \"s\")];\n}\nif (fase === \"wacht_controle\") {\n    return [null, null, disp(\"Wacht op de Controle-knop\")];\n}\nif (fase === \"wacht\") {\n    return [null, null, disp(\"Wacht op 'Volgende event'\")];\n}\nreturn null;\n","id":"c6a0000000000007","initialize":"","libs":[],"name":"Engine tick","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["c6a0000000000008"],["c6a0000000000027"],["c6a0000000000028"],["c6a000000000000c"]],"x":470,"y":210,"z":"c6a0000000000001"},
    {"finalize":"","func":"// CHOOSE: kies event (met max-limiet), rol getal, kies doelwit en bouw de afroep.\n// out1: chain -> Verouder | out2: audio | out3: Huidig event-display | out4: events-teller-display\nconst events = global.get(\"pofEvents\") || [];\nconst categorie = msg.categorie || null;\nlet pool = categorie ? events.filter(e => e.categorie === categorie) : events;\n\n// max-engine: tel actieve toestand-instanties per bron-event (distinct instId) en\n// sluit een event uit zolang zijn 'max' bereikt is.\nfunction actieveInstanties(id) {\n    const set = new Set();\n    const bord = global.get(\"bordStaat\") || {};\n    for (const u in bord) for (const e of (bord[u].effecten || [])) if (e.bron === id) set.add(e.instId);\n    const se = global.get(\"spelerEffecten\") || {};\n    for (const n in se) for (const e of se[n]) if (e.bron === id) set.add(e.instId);\n    for (const e of (global.get(\"wereldEffecten\") || [])) if (e.bron === id) set.add(e.instId);\n    return set.size;\n}\npool = pool.filter(e => (e.max == null) || actieveInstanties(e.id) < e.max);\nconst _uitgesloten = new Set(global.get(\"uitgeslotenEvents\") || []);\nif (_uitgesloten.size) pool = pool.filter(e => !_uitgesloten.has(e.id));\nif (!pool.length) { node.warn(\"Geen kiesbare pofEvents\" + (categorie ? \" voor \" + categorie : \"\") + \" (max bereikt?)\"); return null; }\n\nconst OPTIE={enkel:[1,1],laag:[1,3],midden:[1,6],hoog:[3,10]};\nfunction rol(o){const r=Array.isArray(o)?o:(OPTIE[o]||[1,1]);return r[0]+Math.floor(Math.random()*(r[1]-r[0]+1));}\nfunction steekproef(arr,n){const k=arr.slice(),u=[];while(u.length<n&&k.length)u.push(k.splice(Math.floor(Math.random()*k.length),1)[0]);return u;}\n\nlet _wachtrij = global.get(\"pofWachtrij\") || [];\nconst _poolIds = new Set(pool.map(e => e.id));\nlet event = null;\nwhile (_wachtrij.length) { const _id = _wachtrij.shift(); if (_poolIds.has(_id)) { event = pool.find(e => e.id === _id); break; } }\nglobal.set(\"pofWachtrij\", _wachtrij);\nif (!event) event = pool[Math.floor(Math.random() * pool.length)];\nlet tekst = event.tekst;\nlet getalWaarde = null;\nif (event.getal) {\n    getalWaarde = rol(event.getal);\n    tekst = tekst.replace(/\\bx\\b/g, getalWaarde);   // vervang losse 'x' door het getal\n}\nlet getalWaarde2 = null;\nif (event.getal2) {\n    getalWaarde2 = rol(event.getal2);\n    tekst = tekst.replace(/\\by\\b/g, getalWaarde2);   // vervang losse 'y' door het tweede getal (of-keuze)\n}\n\n// Doelwit nu al kiezen zodat het AANTAL vooraan in de afroep kan (bv. \"3 spelers ...\").\nconst d = event.doelwit || { type: \"geen\" };\nlet aantal = (typeof d.aantal === \"string\") ? rol(d.aantal) : (d.aantal || 1);\nlet doelwit = [];\nif (d.type === \"speler\") {\n    const _loc = global.get(\"spelerLocaties\") || {};\n    const _gp = global.get(\"gespauzeerdePlayers\") || {};\n    let namen = Object.keys(_loc).filter(n => !_gp[n]);\n    if (d.selectie === \"alle\") { doelwit = namen; }\n    else { doelwit = steekproef(namen, aantal); }\n} else if (d.type === \"uur\") {\n    let palen = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []).slice();\n    if (d.selectie === \"alle\") { doelwit = palen; }\n    else { doelwit = steekproef(palen, aantal); }\n} else if (d.type === \"groep\") {\n    // Groep-doelwit: kies een eigenschap-waarde (bv. kleur=rood) en richt het event op ALLE\n    // actieve spelers in die groep. Zo is het event minder exclusief bij veel spelers.\n    const eig = global.get(\"spelerEigenschappen\") || {};\n    const _loc = global.get(\"spelerLocaties\") || {};\n    const _gp = global.get(\"gespauzeerdePlayers\") || {};\n    const actief = Object.keys(_loc).filter(n => !_gp[n]);\n    const veld = (d.veld === \"willekeurig\" || !d.veld) ? (Math.random() < 0.5 ? \"kleur\" : \"jaar\") : d.veld;\n    const waarden = [...new Set(actief.map(n => eig[n] && eig[n][veld]).filter(v => v != null))];\n    const waarde = d.waarde || (waarden.length ? waarden[Math.floor(Math.random() * waarden.length)] : null);\n    doelwit = actief.filter(n => eig[n] && eig[n][veld] === waarde);\n    msg.groepVeld = veld; msg.groepWaarde = waarde;\n}\nmsg.doelwit = doelwit;\n\nconst huidig = Object.assign({}, event, { tekstIngevuld: tekst, getalWaarde: getalWaarde, getalWaarde2: getalWaarde2, groepVeld: msg.groepVeld, groepWaarde: msg.groepWaarde });\nglobal.set(\"pofHuidigEvent\", huidig);\nglobal.set(\"pofDoelwitReveal\", \"\");\nglobal.set(\"pofEventenRonde\", (global.get(\"pofEventenRonde\") || 0) + 1);\n\n// Historiek: log dit event in de huidige spel-bundel\nlet _spel = global.get(\"pofHuidigSpel\");\nif (!_spel) { _spel = { id: Date.now(), start: new Date().toISOString(), events: [] }; }\n_spel.events.push({ nr: _spel.events.length + 1, tijd: new Date().toISOString(), naam: event.naam, tekst: tekst, getalWaarde: getalWaarde, doelwit: [] });\nglobal.set(\"pofHuidigSpel\", _spel);\n\nmsg.event = event;\nmsg.getalWaarde = getalWaarde;\nmsg.getalWaarde2 = getalWaarde2;\n// Audio-segmenten (knip-en-plak): AANTAL-prefix (getal + zelfst. nw, enkel/meervoud)\n// + event-begin + getal + event-eind. De doelwitten zelf worden later afgeroepen.\nconst _seg = [];\nif (d.type === \"groep\") {\n    _seg.push(\"woorden/een_groep.wav\");\n} else if (doelwit.length && (d.type === \"speler\" || d.type === \"uur\")) {\n    _seg.push(\"getallen/\" + doelwit.length + \".wav\");\n    const enkel = doelwit.length === 1;\n    const woord = d.type === \"uur\" ? (enkel ? \"uur\" : \"uren\") : (enkel ? \"speler\" : \"spelers\");\n    _seg.push(\"woorden/\" + woord + \".wav\");\n}\nif (event.audioVoor) _seg.push(\"events/\" + event.audioVoor);\nif (getalWaarde != null) _seg.push(\"getallen/\" + getalWaarde + \".wav\");\nif (getalWaarde2 != null) { _seg.push(\"woorden/of.wav\"); _seg.push(\"getallen/\" + getalWaarde2 + \".wav\"); }\nif (event.audioNa) _seg.push(\"events/\" + event.audioNa);\nconst audio = { payload: { fase: \"event\", tekst: tekst, segments: _seg, prioriteit: \"normaal\" } };\nconst display = { payload: event.naam + \" - \" + tekst };\nconst teller = { payload: \"Events deze ronde: \" + global.get(\"pofEventenRonde\") };\nreturn [msg, audio, display, teller];\n","id":"c6a0000000000008","initialize":"","libs":[],"name":"Kies event","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["c6a0000000000012","c6a00000000000c2"],["c6a000000000000f","c6a0000000000011"],["c6a0000000000010"],["c6a000000000002d"]],"x":720,"y":240,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Snapshot beginposities + bouw de doelwit-reveal-audio.\n// Het doelwit is al gekozen in \"Kies event\" (msg.doelwit) zodat het aantal vooraan kan.\nconst event = msg.event;\nconst d = event.doelwit || { type: \"geen\" };\nconst doelwit = msg.doelwit || [];\n\n// Historiek: vul de doelwitten aan op het laatst gelogde event\nlet _spelH = global.get(\"pofHuidigSpel\");\nif (_spelH && _spelH.events.length) { _spelH.events[_spelH.events.length - 1].doelwit = doelwit.slice(); global.set(\"pofHuidigSpel\", _spelH); }\n\n// Snapshot beginposities van de ACTIEVE spelers (niet-doelwit moet stil blijven).\nconst loc = global.get(\"spelerLocaties\") || {};\nconst _gpSnap = global.get(\"gespauzeerdePlayers\") || {};\nlet startPosities = {};\nfor (const naam in loc) { if (!_gpSnap[naam]) startPosities[naam] = loc[naam]; }\nglobal.set(\"pofVerificatie\", {\n    voorwaarde: event.voorwaarde || \"geen\",\n    getal: msg.getalWaarde,\n    getal2: msg.getalWaarde2,\n    groepVeld: msg.groepVeld,\n    groepWaarde: msg.groepWaarde,\n    doelwit: doelwit,\n    startPosities: startPosities\n});\nmsg.groepLabel = msg.groepVeld ? (msg.groepVeld + \": \" + msg.groepWaarde) : null;\nglobal.set(\"pofPad\", {});   // pad-opname leegmaken voor deze ronde\n\nlet tekst;\nif (d.type === \"groep\") tekst = \"Groep \" + (msg.groepLabel || \"?\") + \".\";\nelse if (!doelwit.length) tekst = \"Dit raakt niemand in het bijzonder.\";\nelse if (d.type === \"uur\") tekst = \"Getroffen uren: \" + doelwit.join(\", \") + \".\";\nelse tekst = \"Getroffen spelers: \" + doelwit.join(\", \") + \".\";\nfunction _veilig(s){return String(s).toLowerCase().replace(/[^a-z0-9]+/g,\"_\");}\nconst _segD = [\"doelwit/voor.wav\"];\nif (d.type === \"groep\") { _segD.push(\"woorden/\" + msg.groepVeld + \".wav\"); _segD.push(\"groepen/\" + _veilig(msg.groepWaarde) + \".wav\"); }\nelse for (const _t of doelwit) _segD.push(d.type === \"uur\" ? \"uren/\" + _t + \".wav\" : \"spelers/\" + _veilig(_t) + \".wav\");\n_segD.push(\"doelwit/na.wav\");\nconst audio = { payload: { fase: \"doelwit\", tekst: tekst, segments: _segD, prioriteit: \"normaal\" } };\nglobal.set(\"pofDoelwitReveal\", \"\");\nreturn [msg, audio];\n","id":"c6a000000000000a","initialize":"","libs":[],"name":"Kies doelwit","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a000000000fd01"],["c6a000000000000f"]],"x":720,"y":360,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Voer gevolgen uit (commando/score/effect/geen). Start daarna de reactietijd.\nconst event = msg.event;\nconst doelwit = msg.doelwit || [];\nconst gevolgen = event.gevolgen || [];\nlet stats = global.get(\"spelerStats\") || {};\nlet bord = global.get(\"bordStaat\") || {};\nlet se = global.get(\"spelerEffecten\") || {};\nlet we = global.get(\"wereldEffecten\") || [];\nfunction doelUren(){ if(event.doelwit&&event.doelwit.type===\"uur\")return doelwit;\n  if(event.doelwit&&event.doelwit.type===\"speler\")return doelwit.map(n=>stats[n]&&stats[n].huidigePaal).filter(p=>p!=null); return []; }\nlet nextId = Date.now();\n// instId: 1 instantie per event-afvuring (zo telt een portaal van 2 palen als EEN toestand voor de max-engine).\nconst instId = \"i\" + Date.now() + \"_\" + Math.floor(Math.random()*1000);\nfunction rolDuur(o){const T={kort:[2,4],middel:[4,7],lang:[7,12]};const r=T[o]||[1,1];return r[0]+Math.floor(Math.random()*(r[1]-r[0]+1));}\n// duratie op event-niveau: vast getal, [min,max]-bereik (willekeurig), of preset-string.\nfunction rolDuratie(d){ if(Array.isArray(d)){const a=Number(d[0])||1,b=Number(d[1])||a,lo=Math.min(a,b),hi=Math.max(a,b);return lo+Math.floor(Math.random()*(hi-lo+1));} if(typeof d===\"string\")return rolDuur(d); return Number(d)||1; }\nfunction maakEffect(g, rondes){ return {id:\"fx\"+(nextId++), bron:(event&&event.id), instId:instId, effect:g.effect, naam:g.naam||(event&&event.tag)||g.effect, resterendeRondes:rondes, data:Object.assign({}, g.data||{})}; }\n\nlet commandos = [];\nlet nukeNu = false;\nfor (const g of gevolgen) {\n  if (g.type === \"commando\") { for (const p of doelUren()) commandos.push({ payload: { paal: p, actie: g.actie } }); }\n  else if (g.type === \"score\") { for (const n of doelwit){ let s=stats[n]||{totaalUren:0}; if(s.totaalUren===undefined)s.totaalUren=0; s.totaalUren=Math.max(0,s.totaalUren+(g.delta||0)); stats[n]=s; } }\n  else if (g.type === \"effect\") {\n     const rondes = (event && event.duratie != null) ? rolDuratie(event.duratie) : ((typeof g.duurRondes === \"string\") ? rolDuur(g.duurRondes) : (g.duurRondes||1));\n     if (g.niveau===\"wereld\") we.push(maakEffect(g, rondes));\n     else if (g.niveau===\"speler\") for(const n of doelwit){(se[n]=se[n]||[]).push(maakEffect(g, rondes));}\n     else if (g.niveau===\"uur\") { const uren=doelUren(); for(const u of uren){ const fx=maakEffect(g, rondes); const others=uren.filter(x=>x!==u); fx.data.partner=(others.length===1?others[0]:others); bord[u]=bord[u]||{effecten:[]}; bord[u].effecten.push(fx);} }\n     else node.warn(\"effect zonder geldig niveau\");\n  }\n  else if (g.type === \"ziekte\") {\n     // Maak de doelwit-spelers ziek (rondesOver = duratie) en plaats medicijn op evenveel VRIJE uren.\n     let ziek = global.get(\"ziekeSpelers\") || {};\n     const over = (event && event.duratie != null) ? event.duratie : 10;\n     for (const n of doelwit) ziek[n] = over;\n     global.set(\"ziekeSpelers\", ziek);\n     const palen = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []).slice();\n     const bezet = new Set(Object.values(global.get(\"spelerLocaties\") || {}));\n     const vrij = palen.filter(u => !(((bord[u] || {}).effecten) || []).length && !bezet.has(u));\n     for (let i = vrij.length - 1; i > 0; i--) { const j = Math.floor(Math.random()*(i+1)); const t = vrij[i]; vrij[i] = vrij[j]; vrij[j] = t; }\n     for (const u of vrij.slice(0, doelwit.length)) { const fx = maakEffect({ effect: \"medicijn\", naam: \"Medicijn\" }, 9999); bord[u] = bord[u] || { effecten: [] }; bord[u].effecten.push(fx); }\n  }\n  else if (g.type === \"nuke\") { global.set(\"nukeActief\", true); global.set(\"paalLedForceRebuild\", true); nukeNu = true; /* ontploffing bij de controle */ }\n  else if (g.type === \"geen\") { /* geen neveneffect */ }\n  else node.warn(\"Onbekend gevolg-type: \" + g.type);\n}\nglobal.set(\"spelerStats\",stats); global.set(\"bordStaat\",bord); global.set(\"spelerEffecten\",se); global.set(\"wereldEffecten\",we);\n\n// Start de reactietijd (zichtbaar afgeteld door de Engine tick). events_sneller halveert.\nlet reactie = event.reactietijd_s || 10;\nif (we.some(e => e.effect === \"events_sneller\")) reactie = Math.max(1, Math.round(reactie/2));\n// In manueel-modus wachten we op de Controle-knop i.p.v. automatisch af te tellen.\nif (global.get(\"pofManueel\") === true) {\n    global.set(\"pofFase\", \"wacht_controle\");\n    global.set(\"pofTeller\", 0);\n} else {\n    global.set(\"pofFase\", \"reactie\");\n    global.set(\"pofTeller\", reactie);\n}\n\nreturn [commandos, nukeNu ? {} : null];\n","id":"c6a000000000000c","initialize":"","libs":[],"name":"Voer gevolg uit","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a000000000000e"],["c6a0000000000050"]],"x":720,"y":460,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a000000000000e","name":"commando/master1","qos":"2","respTopic":"","retain":"","topic":"commando/master1","type":"mqtt out","userProps":"","wires":[],"x":980,"y":460,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a000000000000f","name":"audio/afspelen","qos":"0","respTopic":"","retain":"","topic":"audio/afspelen","type":"mqtt out","userProps":"","wires":[],"x":980,"y":300,"z":"c6a0000000000001"},
    {"color":"#717171","font":"","fontSize":16,"format":"{{msg.payload}}","group":"c6a0000000000021","height":1,"id":"c6a0000000000010","label":"Huidig event","layout":"row-spread","name":"Huidig event","order":7,"style":false,"type":"ui-text","width":6,"wires":[],"z":"c6a0000000000001"},
    {"active":true,"complete":"payload.tekst","console":false,"id":"c6a0000000000011","name":"POF audio (debug)","statusType":"msg","statusVal":"payload.tekst","targetType":"msg","tosidebar":true,"tostatus":true,"type":"debug","wires":[],"x":990,"y":220,"z":"c6a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c6a0000000000021","name":"Plates of Fate besturing","order":2,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"finalize":"","func":"// Tel alle blijvende effecten één ronde af; verwijder afgelopen effecten.\n// out1: chain -> Kies doelwit | out2: trigger -> Bouw effecten-tabel\nfunction veroud(arr) {\n    return (arr || [])\n        .map(e => e.effect === \"medicijn\" ? e : Object.assign({}, e, { resterendeRondes: e.resterendeRondes - 1 }))\n        .filter(e => e.resterendeRondes > 0);\n}\n\nlet bord = global.get(\"bordStaat\") || {};\nfor (const uur in bord) {\n    bord[uur].effecten = veroud(bord[uur].effecten);\n    if (!bord[uur].effecten.length) delete bord[uur];\n}\nglobal.set(\"bordStaat\", bord);\n\nlet se = global.get(\"spelerEffecten\") || {};\nfor (const naam in se) {\n    se[naam] = veroud(se[naam]);\n    if (!se[naam].length) delete se[naam];\n}\nglobal.set(\"spelerEffecten\", se);\n\nglobal.set(\"wereldEffecten\", veroud(global.get(\"wereldEffecten\")));\n\nreturn [msg, { payload: \"rebuild\" }];","id":"c6a0000000000012","initialize":"","libs":[],"name":"Verouder effecten","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a000000000000a"],["c6a0000000000013","c6a0000000000050"]],"x":720,"y":300,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Plat de drie effect-registers tot tabelrijen voor de Live Radar.\nlet rijen = [];\nconst bord = global.get(\"bordStaat\") || {};\nfor (const uur in bord) {\n    for (const e of bord[uur].effecten) {\n        rijen.push({ Niveau: \"uur\", Doel: \"Paal \" + uur, Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n    }\n}\nconst se = global.get(\"spelerEffecten\") || {};\nfor (const naam in se) {\n    for (const e of se[naam]) {\n        rijen.push({ Niveau: \"speler\", Doel: naam, Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n    }\n}\nfor (const e of (global.get(\"wereldEffecten\") || [])) {\n    rijen.push({ Niveau: \"wereld\", Doel: \"-\", Effect: e.naam, \"Rondes resterend\": e.resterendeRondes });\n}\nif (!rijen.length) {\n    rijen = [{ Niveau: \"-\", Doel: \"-\", Effect: \"geen actieve effecten\", \"Rondes resterend\": \"-\" }];\n}\nmsg.payload = rijen;\nreturn msg;","id":"c6a0000000000013","initialize":"","libs":[],"name":"Bouw effecten-tabel","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000015"]],"x":480,"y":620,"z":"c6a0000000000001"},
    {"crontab":"","id":"c6a0000000000014","name":"Ververs effecten-tabel (2s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["c6a0000000000013","c6a000000000002f","c6a0000000000050"]],"x":200,"y":620,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Sync de toestand-LEDs en publiceer de toestanden/portalen voor de simulator.\n// out1 -> pof/toestanden | out2 -> pof/portalen | out3 -> commando/master1 (LED per paal)\nconst bord = global.get(\"bordStaat\") || {};\n\n// 1) Toestanden-lijst: per actief uur-effect een rij (voor het sim-\"Toestanden\"-paneel).\nconst toestanden = [];\nfor (const u in bord) {\n    for (const e of (bord[u].effecten || [])) {\n        toestanden.push({ uur: parseInt(u, 10), effect: e.effect, naam: e.naam, resterendeRondes: e.resterendeRondes });\n    }\n}\n\n// 2) Portaal-paren (voor de paarse verbindingslijn in de simulator).\nconst seen = {};\nconst paren = [];\nfor (const u in bord) {\n    for (const e of (bord[u].effecten || [])) {\n        if (e.effect !== \"portaal\") continue;\n        const a = parseInt(u, 10);\n        const b = e.data && e.data.partner;\n        if (b == null) continue;\n        for (const pb of (Array.isArray(b) ? b : [b])) {\n            const key = a < pb ? a + \"-\" + pb : pb + \"-\" + a;\n            if (seen[key]) continue;\n            seen[key] = true;\n            paren.push({ palen: [a, pb] });\n        }\n    }\n}\n\n// 3) LED per paal volgt rechtstreeks uit de actieve toestand: portaal -> paars (1),\n// happy_hour -> goud (2), anders uit (0). Stuur enkel bij wijziging; zo gaan verlopen\n// of gestopte toestanden vanzelf weer uit (fixt de \"stale\" paarse palen).\nconst ACTIE = { portaal: 1, happy_hour: 2, medicijn: 4 };\nconst palenRing = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []).slice();\nconst nukeActief = global.get(\"nukeActief\") === true;\nconst oogstMoment = global.get(\"middernachtOogst\") === true;\nconst mnPaal = global.get(\"middernachtPaal\") || (palenRing.length ? Math.max.apply(null, palenRing) : null);\nconst gewenst = {};\nif (oogstMoment) {\n    // Dramatische oogst-animatie over de HELE ring (actie 11).\n    for (const u of palenRing) gewenst[u] = 11;\n} else if (nukeActief) {\n    // NUKE-ring: hele arena nucleair (actie 8).\n    for (const u of palenRing) gewenst[u] = 8;\n} else {\n    for (const u in bord) {\n        let actie = 0;\n        for (const e of (bord[u].effecten || [])) { if (ACTIE[e.effect] !== undefined) { actie = ACTIE[e.effect]; break; } }\n        if (actie) gewenst[u] = actie;\n    }\n    // Middernacht-poort op de middernacht-paal: wit (open) / rood (dicht), tenzij daar al een effect ligt.\n    if (global.get(\"middernachtActief\") === true && mnPaal != null && gewenst[mnPaal] === undefined) {\n        gewenst[mnPaal] = (global.get(\"midnightOpen\") === false) ? 10 : 9;\n    }\n}\n// Volledige re-send forceren (na nuke/oogst-overgang) zodat geen paal op een oude kleur blijft hangen.\n// We vullen 'vorige' met een sentinel (-1) voor ELKE ring-paal i.p.v. te legen: anders zou de uitzet-lus\n// over een lege map lopen en bleef de nuke-/oogst-animatie (actie 8/11) hangen omdat er nooit actie 0 ging.\nlet vorige = global.get(\"paalLedActie\") || {};\nif (global.get(\"paalLedForceRebuild\") === true) {\n    vorige = {}; for (const u of palenRing) vorige[u] = -1;\n    global.set(\"paalLedForceRebuild\", false);\n}\nconst cmds = [];\nfor (const u in gewenst) { if (vorige[u] !== gewenst[u]) cmds.push({ payload: { paal: parseInt(u, 10), actie: gewenst[u] } }); }\nfor (const u in vorige) { if (gewenst[u] === undefined) cmds.push({ payload: { paal: parseInt(u, 10), actie: 0 } }); }\nglobal.set(\"paalLedActie\", gewenst);\n\nreturn [\n    { topic: \"pof/toestanden\", payload: toestanden },\n    { topic: \"pof/portalen\", payload: paren },\n    cmds.length ? cmds : null\n];\n","id":"c6a0000000000050","initialize":"","libs":[],"name":"Sync toestanden + LEDs","noerr":0,"outputs":3,"timeout":0,"type":"function","wires":[["c6a0000000000052"],["c6a0000000000051"],["c6a000000000000e"]],"x":480,"y":680,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a0000000000051","name":"pof/portalen","qos":"0","respTopic":"","retain":"true","topic":"pof/portalen","type":"mqtt out","userProps":"","wires":[],"x":720,"y":680,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a0000000000052","name":"pof/toestanden","qos":"0","respTopic":"","retain":"true","topic":"pof/toestanden","type":"mqtt out","userProps":"","wires":[],"x":720,"y":640,"z":"c6a0000000000001"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Niveau","keyType":"key","title":"Niveau","type":"text","width":""},{"align":"center","key":"Doel","keyType":"key","title":"Doel","type":"text","width":""},{"align":"center","key":"Effect","keyType":"key","title":"Effect","type":"text","width":""},{"align":"center","key":"Rondes resterend","keyType":"key","title":"Rondes resterend","type":"text","width":""}],"deselect":true,"group":"c6a0000000000016","height":0,"id":"c6a0000000000015","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Actieve effecten","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":760,"y":620,"z":"c6a0000000000001"},
    {"finalize":"","func":"const we = global.get(\"wereldEffecten\") || [];\nlet rijen = we.map(e => ({ Effect: e.naam, \"Rondes resterend\": e.resterendeRondes }));\nif (!rijen.length) rijen = [{ Effect: \"geen actieve wereld-effecten\", \"Rondes resterend\": \"-\" }];\nmsg.payload = rijen;\nreturn msg;","id":"c6a000000000002f","initialize":"","libs":[],"name":"Bouw wereld-tabel","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000030"]],"x":480,"y":700,"z":"c6a0000000000001"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"left","key":"Effect","keyType":"key","title":"Effect","type":"text","width":""},{"align":"center","key":"Rondes resterend","keyType":"key","title":"Rondes resterend","type":"text","width":""}],"deselect":true,"group":"c6a000000000002e","height":0,"id":"c6a0000000000030","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Wereld-effecten","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":760,"y":700,"z":"c6a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c6a000000000002e","name":"Wereld-effecten","order":6,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c6a0000000000016","name":"Actieve effecten (bord-staat)","order":5,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"crontab":"","id":"c6a0000000000017","name":"[BEHEER] Wis alle effecten","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c6a0000000000018"]],"x":210,"y":700,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Wis alle blijvende effecten (handig bij testen / herstart van een cyclus).\nglobal.set(\"bordStaat\", {});\nglobal.set(\"spelerEffecten\", {});\nglobal.set(\"wereldEffecten\", []);\nmsg.payload = \"rebuild\";\nreturn msg;","id":"c6a0000000000018","initialize":"","libs":[],"name":"Wis effecten","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000013"]],"x":480,"y":700,"z":"c6a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"backup-restore","iconPosition":"left","id":"c5a0000000000009","label":"Sterftes → 0 (stap 2)","name":"Reset sterftes","order":4,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Zet de sterftes van alle spelers op 0","topic":"reset_sterftes","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":320,"z":"c5a0000000000001"},
    {"crontab":"","id":"c6a000000000002a","name":"[CONFIG] Toestand-events","once":true,"onceDelay":0.4,"payload":"[{\"id\":\"portalen\",\"naam\":\"Portalen\",\"categorie\":\"toestand\",\"tekst\":\"Een portaal opent tussen twee uren.\",\"reactietijd_s\":5,\"max\":1,\"duratie\":[2,4],\"doelwit\":{\"type\":\"uur\",\"selectie\":\"willekeurig\",\"aantal\":2},\"audioVoor\":\"portalen_voor.wav\",\"audioNa\":\"portalen_na.wav\",\"gevolgen\":[{\"type\":\"effect\",\"niveau\":\"uur\",\"effect\":\"portaal\",\"data\":{}}]},{\"id\":\"happy_hour\",\"naam\":\"Happy Hour\",\"categorie\":\"toestand\",\"tekst\":\"worden Happy Hour.\",\"reactietijd_s\":5,\"max\":1,\"duratie\":[3,6],\"doelwit\":{\"type\":\"uur\",\"selectie\":\"willekeurig\",\"aantal\":\"laag\"},\"audioVoor\":\"happy_hour_voor.wav\",\"audioNa\":\"happy_hour_na.wav\",\"gevolgen\":[{\"type\":\"effect\",\"niveau\":\"uur\",\"effect\":\"happy_hour\",\"data\":{}}]},{\"id\":\"ziekte\",\"naam\":\"Ziekte\",\"categorie\":\"toestand\",\"tekst\":\"worden ziek.\",\"reactietijd_s\":5,\"max\":1,\"duratie\":10,\"doelwit\":{\"type\":\"speler\",\"selectie\":\"willekeurig\",\"aantal\":\"laag\"},\"audioVoor\":\"ziekte_voor.wav\",\"audioNa\":\"ziekte_na.wav\",\"gevolgen\":[{\"type\":\"ziekte\"}]}]","payloadType":"json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"toestand","type":"inject","wires":[["c6a0000000000003"]],"x":200,"y":140,"z":"c6a0000000000001"},
    {"crontab":"","id":"c6a000000000002b","name":"[CONFIG] Wereld-events","once":true,"onceDelay":0.5,"payload":"[{\"id\":\"nuke\",\"naam\":\"Nuke\",\"categorie\":\"wereld\",\"tekst\":\"Nuke.\",\"reactietijd_s\":5,\"regroup_s\":60,\"max\":1,\"doelwit\":{\"type\":\"geen\"},\"audioVoor\":\"nuke.wav\",\"gevolgen\":[{\"type\":\"nuke\"}]}]","payloadType":"json","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","topic":"wereld","type":"inject","wires":[["c6a0000000000003"]],"x":200,"y":200,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Controle: scoort op basis van het OPGENOMEN PAD (geordende hops), actie per actie.\n// STAP = 1 levensuur (nooit achteruit); TELEPORT (tussen twee actieve portaal-palen) =\n// 0 stappen, geen richtingcheck. Geen netto begin/eind-vergelijking.\nconst v = global.get(\"pofVerificatie\") || {};\nconst loc = global.get(\"spelerLocaties\") || {};\nconst se = global.get(\"spelerEffecten\") || {};\nconst we = global.get(\"wereldEffecten\") || [];\nconst bord = global.get(\"bordStaat\") || {};\nconst ziek = global.get(\"ziekeSpelers\") || {};\nconst dienaars = global.get(\"dienaars\") || {};\nconst mnDicht = global.get(\"middernachtActief\") === true && global.get(\"midnightOpen\") === false;\nconst mnPaal = global.get(\"middernachtPaal\");\nconst pad = global.get(\"pofPad\") || {};\nlet stats = global.get(\"spelerStats\") || {};\nconst palen = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []).slice().sort((a, b) => a - b);\nconst N = palen.length;\nconst idx = (p) => palen.indexOf(p);\n\nfunction portaalPartner(p) {\n    const fx = ((bord[p] || {}).effecten || []).find(e => e.effect === \"portaal\" && e.data && e.data.partner != null);\n    return fx ? fx.data.partner : null;\n}\n\n// Ontleed het pad van een speler -> voorwaartse/achterwaartse stappen, teleports, geldigheid.\nfunction ontleed(hops) {\n    let voor = 0, achter = 0, ongeldig = false, bewogen = false, kruist = false;\n    const portaalGebruik = {};\n    for (const h of (hops || [])) {\n        bewogen = true;\n        const van = h[0], naar = h[1];\n        if (portaalPartner(van) === naar) {            // TELEPORT\n            const key = van < naar ? van + \"-\" + naar : naar + \"-\" + van;\n            portaalGebruik[key] = (portaalGebruik[key] || 0) + 1;\n            if (portaalGebruik[key] > 1) ongeldig = true;   // max 1x per portaal per zet\n            continue;\n        }\n        const iv = idx(van), inr = idx(naar);\n        if (N < 2 || iv < 0 || inr < 0) continue;\n        const fd = (((inr - iv) % N) + N) % N;\n        const bd = N - fd;\n        if (fd <= bd) { voor += fd; if (inr < iv) kruist = true; } else achter += bd;   // forward-wrap = oversteek middernacht\n    }\n    return { voor, achter, ongeldig, bewogen, kruist };\n}\n\nconst doelwitSet = new Set(v.doelwit || []);\nconst start = v.startPosities || {};\nconst voorwaarde = v.voorwaarde || \"geen\";\nconst x = v.getal;\nconst y = v.getal2;\nconst bewegingEvent = (voorwaarde === \"min\" || voorwaarde === \"max\" || voorwaarde === \"of\");\n\n// NUKE (wereld-event): geen bewegings-straffen — iedereen mocht vluchten. Wie bij de controle nog\n// gedetecteerd is (in spelerLocaties) zat binnen het bereik en ONTPLOFT (uren 0 + sterfte); wie\n// ontkomen is (onder de RSSI-vloer / buiten het veld, dus weg uit spelerLocaties) is VEILIG.\nconst _huidig = global.get(\"pofHuidigEvent\") || {};\nif ((_huidig.gevolgen || []).some(g => g.type === \"nuke\")) {\n    let nrijen = [];\n    for (const naam in start) {\n        let s = stats[naam] || {}; if (s.totaalUren === undefined) s.totaalUren = 0; if (s.sterftes === undefined) s.sterftes = 0;\n        const gedetecteerd = loc[naam] != null;\n        let st;\n        if (gedetecteerd) { s.totaalUren = 0; s.sterftes += 1; st = \"ONTPLOFT\"; }\n        else st = \"VEILIG (ontkomen)\";\n        stats[naam] = s;\n        nrijen.push({ Speler: naam, Tag: \"-\", Verplaatst: gedetecteerd ? \"in zone\" : \"uit zone\", Status: st, _status: st, _delta: gedetecteerd ? \"-alles\" : 0 });\n    }\n    global.set(\"spelerStats\", stats);\n    global.set(\"pofPad\", {});\n    // Een nuke wist de wereld: ruim ook de ziekte-episode (zieken + medicijnen) en dienaars op.\n    // 'Ziekte-beheer' (via output 1) herpubliceert daarna lege pof/ziekte + pof/dienaars en herstelt de LEDs.\n    global.set(\"ziekeSpelers\", {});\n    global.set(\"dienaars\", {});\n    for (const _u in bord) { const _fx = ((bord[_u].effecten) || []).filter(e => e.effect !== \"medicijn\"); if (_fx.length) bord[_u].effecten = _fx; else delete bord[_u]; }\n    global.set(\"bordStaat\", bord);\n    global.set(\"nukeActief\", false); global.set(\"paalLedForceRebuild\", true);   // ring weg, LEDs herstellen\n    // Regroup-fase i.p.v. de normale aanloop.\n    global.set(\"pofFase\", \"regroup\");\n    global.set(\"pofTeller\", _huidig.regroup_s || 60);\n    const nctrl = { topic: \"pof/controle\", payload: { event: \"Nuke\", resultaten: nrijen.map(r => ({ speler: r.Speler, status: r._status, verplaatst: r.Verplaatst, delta: r._delta, tag: \"-\" })) } };\n    const ntabel = nrijen.map(r => ({ Speler: r.Speler, Tag: r.Tag, Verplaatst: r.Verplaatst, Status: r.Status }));\n    global.set(\"pofLaatsteControle\", ntabel);\n    msg.payload = ntabel.length ? ntabel : [{ Speler:\"-\", Tag:\"-\", Verplaatst:\"-\", Status:\"geen spelers\" }];\n    return [msg, nctrl];\n}\n\nlet rijen = [];\nlet genezen = [];\nfor (const naam in start) {\n    let s = stats[naam] || {};\n    if (s.totaalUren === undefined) s.totaalUren = 0;\n    if (s.sterftes === undefined) s.sterftes = 0;\n    if (s.tijdTerug === undefined) s.tijdTerug = false;\n\n    const heeftBlok = (se[naam] || []).some(e => e.effect === \"mag_niet_bewegen\");\n    const r = ontleed(pad[naam]);\n    const isDoel = bewegingEvent && doelwitSet.has(naam);\n    let status, delta = 0;\n\n    if (heeftBlok) { status = \"GEBLOKKEERD\"; delta = 0; }\n    else if (isDoel) {\n        if (r.ongeldig) { status = \"ONGELDIGE TELEPORT\"; delta = -r.voor; }\n        else if (r.achter > 0) { status = \"TERUG IN TIJD\"; delta = -r.achter; }\n        else if (voorwaarde === \"max\" && r.voor > x) { status = \"TE VEEL\"; delta = -(r.voor - x); }\n        else if (voorwaarde === \"min\" && r.voor < x) { status = \"TE WEINIG\"; delta = -r.voor; }\n        else if (voorwaarde === \"of\" && r.voor !== x && r.voor !== y) { status = \"ONGELDIGE KEUZE\"; delta = -r.voor; }\n        else { status = \"OK\"; delta = r.voor; }\n    } else {\n        // Niet-(bewegings)doelwit: moet stil blijven staan.\n        if (!r.bewogen && !r.ongeldig) { status = \"OK (stil)\"; delta = 0; }\n        else { status = \"BEWOOG (mocht niet)\"; delta = -(r.voor + r.achter); }\n    }\n\n    // Middernacht-poort dicht: een speler die OP de middernacht-paal staat mag niet bewegen.\n    if (mnDicht && start[naam] === mnPaal && r.bewogen) { status = \"MIDDERNACHT DICHT\"; delta = -r.voor; }\n\n    // Ziekte-modifier: zieke speler loopt door de NORMALE controle (geen vrijstelling). Hij verdient\n    // geen levensuren (winst -> 0), maar verliest wel bij onwettige zetten. Genezen kan ENKEL als de zet\n    // legaal was (OK / OK (stil)) en hij op een medicijn-uur eindigt.\n    if (ziek[naam] != null) {\n        if (delta > 0) delta = 0;\n        const legaal = (status === \"OK\" || status === \"OK (stil)\");\n        const opMed = ((bord[loc[naam]] || {}).effecten || []).some(e => e.effect === \"medicijn\");\n        if (legaal && opMed) { status = \"GENEZEN\"; genezen.push({ naam: naam, uur: loc[naam] }); }\n        else if (legaal) { status = \"ZIEK\"; }\n    }\n\n    // Happy hour x2 op een LEGAAL verdiende beloning (eindpaal heeft happy_hour).\n    if (delta > 0) {\n        const happy = ((bord[loc[naam]] || {}).effecten || []).some(e => e.effect === \"happy_hour\");\n        if (happy) { delta *= 2; status += \" (happy hour x2)\"; }\n    }\n    // Toepassen + sterfte. Een DIENAAR verdient niets voor zichzelf: positieve winst gaat naar de meester\n    // (die kan ze niet meer verliezen); verlies + sterfte blijven wel bij de dienaar.\n    const meester = dienaars[naam];\n    if (meester != null && delta > 0) {\n        let m = stats[meester] || {}; if (m.totaalUren===undefined) m.totaalUren=0; if (m.sterftes===undefined) m.sterftes=0;\n        m.totaalUren += delta; stats[meester] = m;\n        status += \" -> dient \" + meester + \" (+\" + delta + \")\";\n    } else {\n        const nieuw = s.totaalUren + delta;\n        if (nieuw < 0) { s.totaalUren = 0; s.sterftes += 1; status += \" -> STERFTE\"; }\n        else s.totaalUren = nieuw;\n    }\n    stats[naam] = s;\n\n    const paalFX = ((bord[loc[naam]] || {}).effecten || []).map(e => e.naam);\n    const allFX = [...(se[naam] || []).map(e => e.naam), ...we.map(e => e.naam), ...paalFX];\n    const tag = allFX.length ? allFX.join(\", \") : \"-\";\n    const dStr = (delta >= 0 ? \"+\" : \"\") + delta;\n    rijen.push({ Speler: naam, Tag: tag, Verplaatst: (r.voor - r.achter), Status: status + \" (\" + dStr + \" uur)\", _status: status, _delta: delta });\n}\nglobal.set(\"spelerStats\", stats);\nglobal.set(\"pofGenezen\", genezen);\n\nconst manueel = global.get(\"pofManueel\") === true;\nglobal.set(\"pofFase\", manueel ? \"wacht\" : \"aanloop\");\nglobal.set(\"pofTeller\", manueel ? 0 : 5);\nglobal.set(\"pofPad\", {});\n\nconst FOUT = new Set([\"TERUG IN TIJD\", \"TE VEEL\", \"TE WEINIG\", \"ONGELDIGE KEUZE\", \"BEWOOG (mocht niet)\", \"ONGELDIGE TELEPORT\"]);\nconst controleMsg = {\n    topic: \"pof/controle\",\n    payload: {\n        event: (global.get(\"pofHuidigEvent\") || {}).naam || \"\",\n        resultaten: rijen.map(r => ({ speler: r.Speler, status: FOUT.has(r._status) ? r._status : \"OK\", verplaatst: r.Verplaatst, delta: r._delta, tag: r.Tag }))\n    }\n};\nconst tabel = rijen.map(r => ({ Speler: r.Speler, Tag: r.Tag, Verplaatst: r.Verplaatst, Status: r.Status }));\nglobal.set(\"pofLaatsteControle\", tabel);\nmsg.payload = tabel.length ? tabel : [{ Speler:\"-\", Tag:\"-\", Verplaatst:\"-\", Status:\"geen spelers\" }];\nreturn [msg, controleMsg];\n","id":"c6a0000000000027","initialize":"","libs":[],"name":"Verifieer beweging","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000029","c6a0000000000011","c6a0000000000071"],["c6a000000000ee01"]],"x":720,"y":540,"z":"c6a0000000000001"},
    {"crontab":"","id":"c6a0000000000022","name":"1s-ticker","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"topic","vt":"str"}],"repeat":"1","topic":"tick","type":"inject","wires":[["c6a0000000000007"]],"x":180,"y":380,"z":"c6a0000000000001"},
    {"className":"","decouple":"true","group":"b3d100000000000a","height":0,"id":"c6a0000000000024","label":"Manueel","name":"Manueel","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#0277bd","onicon":"","onvalue":"true","onvalueType":"bool","order":3,"passthru":false,"style":"","topic":"","topicType":"str","type":"ui-switch","width":0,"wires":[["f0a0000000000004"]],"x":180,"y":700,"z":"c6a0000000000001"},
    {"action":"","from":"","id":"c6a0000000000025","name":"Sla pofManueel op","property":"","reg":false,"rules":[{"p":"pofManueel","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[[]],"x":460,"y":700,"z":"c6a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"b3d100000000000a","height":1,"icon":"skip-next","iconPosition":"left","id":"c6a0000000000026","label":"Volgende event","name":"Volgende event","order":4,"payload":"volgende","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"In manueel-modus: start het volgende event","topic":"pof_volgende","topicType":"str","type":"ui-button","width":3,"wires":[["c6a0000000000007"]],"x":200,"y":440,"z":"c6a0000000000001"},
    {"color":"#0277bd","font":"","fontSize":34,"format":"{{msg.payload}}","group":"c6a0000000000021","height":1,"id":"c6a0000000000028","label":"Timer","layout":"col-center","name":"Timer","order":6,"style":true,"type":"ui-text","width":6,"wires":[],"z":"c6a0000000000001"},
    {"color":"#717171","font":"","fontSize":16,"format":"{{msg.payload}}","group":"c6a0000000000021","height":1,"id":"c6a000000000002d","label":"Events deze ronde","layout":"row-spread","name":"Events deze ronde","order":10,"style":false,"type":"ui-text","width":6,"wires":[],"z":"c6a0000000000001"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Speler","type":"text","width":""},{"align":"center","key":"Tag","keyType":"key","title":"Tag","type":"text","width":""},{"align":"center","key":"Verplaatst","keyType":"key","title":"Verplaatst","type":"text","width":""},{"align":"center","key":"Status","keyType":"key","title":"Status","type":"text","width":""}],"deselect":true,"group":"c6a0000000000021","height":0,"id":"c6a0000000000029","label":"Controle laatste event","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Controle","order":9,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":980,"y":540,"z":"c6a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"lightbulb-off","iconPosition":"left","id":"c5a000000000000a","label":"Paal-effecten → 0 (stap 2)","name":"Reset Paal-effecten","order":5,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Wis alle blijvende effecten op de palen (bordStaat)","topic":"reset_paaleffecten","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":360,"z":"c5a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"account-off","iconPosition":"left","id":"c5a000000000000b","label":"Speler-effecten → 0 (stap 2)","name":"Reset Speler-effecten","order":6,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Wis alle blijvende effecten op spelers (spelerEffecten) en de wereld (wereldEffecten)","topic":"reset_spelereffecten","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":420,"z":"c5a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"account-alert","iconPosition":"left","id":"c5a0000000000020","label":"Speler-toestanden → 0 (stap 2)","name":"Reset Speler-toestanden","order":7,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Wis alle toestanden van spelers: effecten, ziekte en dienaar-status (zodat niemand met oude toestanden in een nieuw spel start)","topic":"reset_spelertoestanden","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":480,"z":"c5a0000000000001"},
    {"bgcolor":"#c62828","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"c5a0000000000011","height":1,"icon":"delete-sweep","iconPosition":"left","id":"c5a0000000000021","label":"ALLES → 0 (stap 2)","name":"Reset ALLES","order":8,"payload":"go","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Voert alle individuele resets in één klik uit: levensuren/dagen, sterftes, paal-/speler-/wereld-effecten, ziekte en dienaar-status","topic":"reset_alles","topicType":"str","type":"ui-button","width":6,"wires":[["c5a0000000000006"]],"x":200,"y":540,"z":"c5a0000000000001"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"b3d100000000000a","height":1,"icon":"check-decagram","iconPosition":"left","id":"c6a000000000002c","label":"Controle (manueel)","name":"Controle","order":5,"payload":"controle","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"In manueel-modus: voer nu de controle van het event uit","topic":"pof_controle","topicType":"str","type":"ui-button","width":3,"wires":[["c6a0000000000007"]],"x":200,"y":500,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c0a0000000000010","name":"commando/master1","qos":"2","respTopic":"","retain":"","topic":"commando/master1","type":"mqtt out","userProps":"","wires":[],"x":760,"y":460,"z":"c0a0000000000001"},
    {"crontab":"","id":"c0a0000000000080","name":"[TEST] LED (portaal-kleur)","once":false,"onceDelay":0.1,"payload":"{\"paal\": 1, \"actie\": 1}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c0a0000000000010"]],"x":230,"y":400,"z":"c0a0000000000001"},
    {"crontab":"","id":"c0a0000000000081","name":"[TEST] Zoemer (piep)","once":false,"onceDelay":0.1,"payload":"{\"paal\": 1, \"actie\": 3}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c0a0000000000010"]],"x":230,"y":460,"z":"c0a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c5a000000000000a","name":"Speler pauze","order":2,"page":"c5a0000000000010","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"crontab":"","id":"c5a000000000000b","name":"Ververs pauze (2s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["c5a000000000000c"]],"x":200,"y":460,"z":"c5a0000000000001"},
    {"finalize":"","func":"const spelersLijst = global.get(\"spelersLijst\") || {};\nconst gp = global.get(\"gespauzeerdePlayers\") || {};\nmsg.payload = Object.values(spelersLijst).map(naam => ({\n    naam: naam,\n    gepauzeerd: gp[naam] === true\n}));\nreturn msg;","id":"c5a000000000000c","initialize":"","libs":[],"name":"Bouw pauze-overzicht","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c5a000000000000d"]],"x":450,"y":460,"z":"c5a0000000000001"},
    {"className":"","format":"<template>\n    <div v-for=\"speler in (msg.payload || [])\" :key=\"speler.naam\"\n         style=\"display:flex; align-items:center; padding:8px 4px; border-bottom:1px solid #eee;\">\n        <span style=\"flex:1; font-size:16px;\">{{ speler.naam }}</span>\n        <v-btn\n            :color=\"speler.gepauzeerd ? 'warning' : 'success'\"\n            variant=\"tonal\"\n            @click=\"send({payload:{speler:speler.naam, gepauzeerd:!speler.gepauzeerd}})\"\n        >\n            {{ speler.gepauzeerd ? 'GEPAUZEERD' : 'Actief' }}\n        </v-btn>\n    </div>\n</template>","group":"c5a000000000000a","head":"","height":0,"id":"c5a000000000000d","name":"Speler pauze knoppen","order":1,"page":"","passthru":true,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":0,"wires":[["c5a000000000000e"]],"x":700,"y":460,"z":"c5a0000000000001"},
    {"finalize":"","func":"if (!msg.payload || !msg.payload.speler) return null;\nconst gp = global.get(\"gespauzeerdePlayers\") || {};\ngp[msg.payload.speler] = msg.payload.gepauzeerd;\nglobal.set(\"gespauzeerdePlayers\", gp);\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nmsg.payload = Object.values(spelersLijst).map(naam => ({\n    naam: naam,\n    gepauzeerd: gp[naam] === true\n}));\nreturn msg;","id":"c5a000000000000e","initialize":"","libs":[],"name":"Verwerk speler pauze","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c5a000000000000d"]],"x":980,"y":460,"z":"c5a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"b3d1000000000010","name":"Noodstop","order":7,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","decouple":"true","group":"b3d1000000000010","height":0,"id":"b3d1000000000011","label":"Bevestig stop (stap 1)","name":"Bevestig stop","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#c62828","onicon":"","onvalue":"true","onvalueType":"bool","order":1,"passthru":false,"style":"","topic":"","topicType":"str","type":"ui-switch","width":0,"wires":[["f0a0000000000005"]],"x":200,"y":400,"z":"b3d1000000000001"},
    {"action":"","from":"","id":"b3d1000000000012","name":"Sla stop_bevestigd op","property":"","reg":false,"rules":[{"p":"stop_bevestigd","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[[]],"x":480,"y":400,"z":"b3d1000000000001"},
    {"bgcolor":"#b71c1c","className":"","color":"white","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"b3d1000000000010","height":1,"icon":"stop","iconPosition":"left","id":"b3d1000000000013","label":"STOP SPEL (stap 2)","name":"Stop spel","order":2,"payload":"stop_spel","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"Stopt het huidige spel definitief. Scores en uren blijven bewaard.","topic":"noodstop","topicType":"str","type":"ui-button","width":6,"wires":[["b3d1000000000014"]],"x":200,"y":460,"z":"b3d1000000000001"},
    {"finalize":"","func":"const bevestigd = global.get(\"stop_bevestigd\") === true;\nif (!bevestigd) {\n    msg.payload = \"GEBLOKKEERD - zet eerst 'Bevestig stop' aan (stap 1).\";\n    return [msg, null];\n}\nglobal.set(\"spelToestand\", \"gestopt\");\nglobal.set(\"pofActief\", false);\nglobal.set(\"pofFase\", \"idle\");\nglobal.set(\"stop_bevestigd\", false);\n// Historiek: bundel het huidige spel en bewaar in de historiek\nconst _afgerond = global.get(\"pofHuidigSpel\");\nif (_afgerond && _afgerond.events.length) {\n    _afgerond.eind = new Date().toISOString();\n    let _hist = global.get(\"spelHistorie\") || [];\n    _hist.unshift(_afgerond);\n    global.set(\"spelHistorie\", _hist);\n}\nglobal.set(\"pofHuidigSpel\", null);\nglobal.set(\"pofHuidigEvent\", null);\nglobal.set(\"pofWachtrij\", []);\nglobal.set(\"pofEventenRonde\", 0);\nglobal.set(\"pofDoelwitReveal\", \"\");\nglobal.set(\"bordStaat\", {});\nglobal.set(\"spelerEffecten\", {});\nglobal.set(\"wereldEffecten\", []);\nglobal.set(\"pofVerificatie\", {});\nglobal.set(\"pofLaatsteControle\", []);\n// GLOBALE stats (levensdagen/levensuren/sterftes/skills) blijven bewaard.\nmsg.payload = \"Spel GESTOPT. Globale stats blijven bewaard ([BEHEER] Wis globale stats wist ze).\";\nreturn [msg, { payload: false }, { payload: \"Gestopt\" }, { payload: \"Events deze ronde: 0\" }, { payload: \"—\" }, { payload: \"rebuild\" }];\n","id":"b3d1000000000014","initialize":"","libs":[],"name":"Verwerk noodstop","noerr":0,"outputs":6,"timeout":0,"type":"function","wires":[["b3d1000000000015"],["b3d1000000000011"],["b3d1000000000007"],["c6a000000000002d"],["c6a000000000fe02"],["c6a0000000000013","c6a000000000002f"]],"x":480,"y":460,"z":"b3d1000000000001"},
    {"allowConfirm":false,"allowDismiss":true,"className":"","color":"#b71c1c","colorDefault":false,"confirmText":"","dismissText":"OK","displayTime":"5","id":"b3d1000000000015","name":"Noodstop melding","outputs":0,"position":"center","raw":false,"showCountdown":true,"type":"ui-notification","ui":"2560e15da2c4a046","wires":[],"x":720,"y":460,"z":"b3d1000000000001"},
    {"crontab":"","id":"b3d1000000000016","name":"Init: stop_bevestigd=false bij opstart","once":true,"onceDelay":0.5,"payload":"false","payloadType":"bool","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["b3d1000000000012"]],"x":240,"y":340,"z":"b3d1000000000001"},
    {"env":[],"id":"7b7840fe576ebdbe","modules":{"@flowfuse/node-red-dashboard":"1.30.2"},"type":"global-config"},
    {"crontab":"","id":"c6a000000000ff01","name":"pof/status ticker","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"1","topic":"","type":"inject","wires":[["c6a000000000ff02"]],"x":900,"y":400,"z":"c6a0000000000001"},
    {"finalize":"","func":"const actief = global.get(\"pofActief\") === true;\nconst fase   = global.get(\"pofFase\") || \"idle\";\nconst event  = global.get(\"pofHuidigEvent\") || {};\nconst teller = global.get(\"pofTeller\") ?? null;\nconst maxT   = global.get(\"pofTellerMax\") ?? null;\nconst ver    = global.get(\"pofVerificatie\") || {};\nconst reveal = global.get(\"pofDoelwitReveal\") || \"\";\n\n// Wachtrij: plan tot 5 volgende kiesbare events vooruit (voor de simulator-preview).\nconst lopend = (global.get(\"spelToestand\") || \"gestopt\") === \"lopend\";\nlet wachtrij = global.get(\"pofWachtrij\") || [];\nlet wachtrijNamen = [];\nif (actief && lopend) {\n    const evs = global.get(\"pofEvents\") || [];\n    const uitg = new Set(global.get(\"uitgeslotenEvents\") || []);\n    const inst = (id) => { const s = new Set(); const bord = global.get(\"bordStaat\") || {}; for (const u in bord) for (const e of (bord[u].effecten || [])) if (e.bron === id) s.add(e.instId); const se = global.get(\"spelerEffecten\") || {}; for (const n in se) for (const e of se[n]) if (e.bron === id) s.add(e.instId); for (const e of (global.get(\"wereldEffecten\") || [])) if (e.bron === id) s.add(e.instId); return s.size; };\n    const kiesbaar = evs.filter(e => !uitg.has(e.id) && (e.max == null || inst(e.id) < e.max));\n    const kiesbaarIds = new Set(kiesbaar.map(e => e.id));\n    wachtrij = wachtrij.filter(id => kiesbaarIds.has(id));\n    while (wachtrij.length < 5 && kiesbaar.length) wachtrij.push(kiesbaar[Math.floor(Math.random() * kiesbaar.length)].id);\n    const naamVan = {}; for (const e of evs) naamVan[e.id] = e.naam || e.id;\n    wachtrijNamen = wachtrij.map(id => ({ id, naam: naamVan[id] || id }));\n} else { wachtrij = []; }\nglobal.set(\"pofWachtrij\", wachtrij);\n\nmsg.payload = {\n    actief,\n    fase,\n    eventNaam:   event.naam || \"\",\n    eventTekst:  event.tekstIngevuld || \"\",\n    doelwit:     ver.doelwit || [],\n    doelwitType: (event.doelwit && event.doelwit.type) || \"geen\",\n    groepLabel: (ver.groepVeld ? ver.groepVeld + \": \" + ver.groepWaarde : null),\n    doelwitReveal: reveal,\n    getalWaarde: event.getalWaarde ?? null,\n    getalWaarde2: event.getalWaarde2 ?? null,\n    eventenRonde: global.get(\"pofEventenRonde\") || 0,\n    teller,\n    maxTeller: maxT,\n    wachtrij: wachtrijNamen\n};\nmsg.topic = \"pof/status\";\nreturn msg;\n","id":"c6a000000000ff02","initialize":"","libs":[],"name":"Bouw pof/status","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a000000000ff03"]],"x":1100,"y":400,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a000000000ff03","name":"pof/status","qos":"0","respTopic":"","retain":"false","topic":"pof/status","type":"mqtt out","userProps":"","wires":[],"x":1290,"y":400,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Onthul de doelwitten een-voor-een (dashboard + global voor simulator).\n// out1 -> Doelwit ui_text | out2 -> Voer gevolg uit | out3 -> Controle-tabel | out4 -> commando/master1 (buzzer-piep per uur)\nconst doelwit = msg.doelwit || [];\nconst _groep = msg.event && msg.event.doelwit && msg.event.doelwit.type === \"groep\";\nconst namen = _groep ? [\"Groep \" + (msg.groepLabel || \"?\")] : (doelwit.length ? doelwit : [\"(niemand)\"]);\nconst STAP = 1200;\nconst uurType = msg.event && msg.event.doelwit && msg.event.doelwit.type === \"uur\";\nlet lijnen = [];\nglobal.set(\"pofDoelwitReveal\", \"\");\n\nconst spelersLijst = global.get(\"spelersLijst\") || {};\nconst loc = global.get(\"spelerLocaties\") || {};\nconst se = global.get(\"spelerEffecten\") || {};\nconst we = global.get(\"wereldEffecten\") || [];\nconst bord = global.get(\"bordStaat\") || {};\nconst doelSet = new Set(doelwit);\nlet beginRijen = [];\nfor (const mac in spelersLijst) {\n    const naam = spelersLijst[mac];\n    const paalFX = ((bord[loc[naam]] || {}).effecten || []).map(e => e.naam);\n    const allFX = [...(se[naam] || []).map(e => e.naam), ...we.map(e => e.naam), ...paalFX];\n    beginRijen.push({ Speler: naam, Tag: allFX.length ? allFX.join(\", \") : \"-\", Verplaatst: 0, Status: doelSet.has(naam) ? \"afwachten...\" : \"-\" });\n}\nif (!beginRijen.length) beginRijen = [{ Speler:\"-\", Tag:\"-\", Verplaatst:\"-\", Status:\"afwachten...\" }];\n\nnamen.forEach((naam, i) => {\n    setTimeout(() => {\n        lijnen.push(\"- \" + naam);\n        const tekst = lijnen.join(\"\\n\");\n        global.set(\"pofDoelwitReveal\", tekst);\n        const buzz = uurType ? { payload: { paal: naam, actie: 3 } } : null;\n        node.send([{ payload: tekst }, null, null, buzz]);\n    }, i * STAP);\n});\nsetTimeout(() => { node.send([null, msg, null, null]); }, namen.length * STAP + 600);\nreturn [null, null, { payload: beginRijen }, null];\n","id":"c6a000000000fd01","initialize":"","libs":[],"name":"Doelwit reveal","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["c6a000000000fe02"],["c6a000000000000c"],["c6a0000000000029"],["c6a000000000000e"]],"x":720,"y":460,"z":"c6a0000000000001"},
    {"color":"#717171","font":"","fontSize":16,"format":"{{msg.payload}}","group":"c6a0000000000021","height":0,"id":"c6a000000000fe02","label":"Doelwit","layout":"col-center","name":"Doelwit","order":8,"style":false,"type":"ui-text","width":0,"wires":[],"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a000000000ee01","name":"pof/controle","qos":"0","respTopic":"","retain":"false","topic":"pof/controle","type":"mqtt out","userProps":"","wires":[],"x":1000,"y":540,"z":"c6a0000000000001"},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"access-point","id":"e1a0000000000001","layout":"grid","name":"Beacons & Locatie","order":5,"path":"/beacons","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e1a0000000000010","name":"Locatie-instellingen","order":1,"page":"e1a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e1a0000000000020","name":"Beacon-stabiliteit","order":2,"page":"e1a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":12},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e1a0000000000030","name":"Beacon-kalibratie (RSSI-offset)","order":3,"page":"e1a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"crontab":"","id":"c0a0000000000050","name":"[CONFIG] Locatie-defaults","once":true,"onceDelay":0.6,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["e1a0000000000015"]],"x":200,"y":460,"z":"124aa052f3987c33"},
    {"finalize":"","func":"let P = global.get(\"locParams\");\nif (!P) { P = { vensterMs:6000, hystereseDbm:6, rssiVloer:-92, graceMs:4000, switchSamples:2, minSamples:2 }; global.set(\"locParams\", P); }\nreturn [ {payload:P.vensterMs}, {payload:P.hystereseDbm}, {payload:P.rssiVloer}, {payload:P.graceMs}, {payload:P.switchSamples}, {payload:P.minSamples} ];","id":"e1a0000000000015","initialize":"","libs":[],"name":"Init locatie-params","noerr":0,"outputs":6,"timeout":0,"type":"function","wires":[["e1a0000000000060"],["e1a0000000000061"],["e1a0000000000062"],["e1a0000000000063"],["e1a0000000000064"],["e1a0000000000065"]],"x":440,"y":460,"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000060","label":"Venster (ms) - hoe lang RSSI meetelt","max":12000,"min":2000,"name":"Venster (ms)","order":1,"outs":"end","passthru":true,"showTicks":false,"step":500,"thumbLabel":"always","tooltip":"","topic":"venster","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000061","label":"Hysterese (dB) - hoeveel sterker om te wisselen","max":20,"min":0,"name":"Hysterese (dB)","order":2,"outs":"end","passthru":true,"showTicks":false,"step":1,"thumbLabel":"always","tooltip":"","topic":"hysterese","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000062","label":"RSSI-vloer (dBm) - zwakker = ruis","max":-70,"min":-100,"name":"RSSI-vloer (dBm)","order":3,"outs":"end","passthru":true,"showTicks":false,"step":1,"thumbLabel":"always","tooltip":"","topic":"vloer","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000063","label":"Grace (ms) - paal vasthouden bij stilte","max":10000,"min":0,"name":"Grace (ms)","order":4,"outs":"end","passthru":true,"showTicks":false,"step":500,"thumbLabel":"always","tooltip":"","topic":"grace","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000064","label":"Switch-samples - keren leiden voor wissel","max":5,"min":1,"name":"Switch-samples","order":5,"outs":"end","passthru":true,"showTicks":false,"step":1,"thumbLabel":"always","tooltip":"","topic":"switch","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"className":"","group":"e1a0000000000010","height":1,"id":"e1a0000000000065","label":"Min-samples - minimum om kandidaat te zijn","max":6,"min":1,"name":"Min-samples","order":6,"outs":"end","passthru":true,"showTicks":false,"step":1,"thumbLabel":"always","tooltip":"","topic":"minsamp","topicType":"str","type":"ui-slider","width":6,"wires":[["e1a0000000000011"]],"z":"124aa052f3987c33"},
    {"finalize":"","func":"let P = global.get(\"locParams\") || {};\nconst map = { venster:\"vensterMs\", hysterese:\"hystereseDbm\", vloer:\"rssiVloer\", grace:\"graceMs\", switch:\"switchSamples\", minsamp:\"minSamples\" };\nconst k = map[msg.topic];\nif (k) { P[k] = Number(msg.payload); global.set(\"locParams\", P); }\nmsg.payload = \"Actief: \" + JSON.stringify(global.get(\"locParams\"));\nreturn msg;","id":"e1a0000000000011","initialize":"","libs":[],"name":"Sla locatie-param op","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e1a0000000000014"]],"x":720,"y":460,"z":"124aa052f3987c33"},
    {"color":"#717171","font":"","fontSize":13,"format":"{{msg.payload}}","group":"e1a0000000000010","height":1,"id":"e1a0000000000014","label":"","layout":"row-left","name":"Actieve locatie-parameters","order":7,"style":false,"type":"ui-text","width":12,"wires":[],"z":"124aa052f3987c33"},
    {"finalize":"","func":"// Verzamel per beacon-MAC ruwe RSSI-samples voor stabiliteitsanalyse.\nconst d = msg.payload;\nif (!d || d.mac === undefined || d.rssi === undefined) return null; // batterij-regels overslaan\nconst nu = Date.now();\nlet buf = global.get(\"beaconBuf\") || {};\n(buf[d.mac] = buf[d.mac] || []).push({ rssi: d.rssi, ts: nu, paal: d.paal });\nif (buf[d.mac].length > 400) buf[d.mac] = buf[d.mac].slice(-400);\nglobal.set(\"beaconBuf\", buf);\nreturn null;","id":"e1a0000000000021","initialize":"","libs":[],"name":"Beacon-monitor","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":540,"y":240,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e1a0000000000022","name":"Beacon-tabel (2s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["e1a0000000000023"]],"x":200,"y":540,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const nu = Date.now();\nconst VENSTER = 15000;\nlet buf = global.get(\"beaconBuf\") || {};\nconst spelers = global.get(\"spelersLijst\") || {};\nconst kal = global.get(\"beaconKalibratie\") || {};\nlet rows = [], lijst = [];\nfor (const mac in buf) {\n    let arr = buf[mac].filter(x => nu - x.ts <= VENSTER);\n    buf[mac] = arr;\n    if (!arr.length) { delete buf[mac]; continue; }\n    const n = arr.length;\n    const dur = Math.max(1, (nu - arr[0].ts) / 1000);\n    const rate = n / dur;\n    const mean = arr.reduce((a,b)=>a+b.rssi,0)/n;\n    const sd = Math.sqrt(arr.reduce((a,b)=>a+Math.pow(b.rssi-mean,2),0)/n);\n    let maxGap = 0;\n    for (let i=1;i<arr.length;i++) maxGap = Math.max(maxGap, arr[i].ts-arr[i-1].ts);\n    const palen = new Set(arr.map(x=>x.paal)).size;\n    let score = 100 - sd*4 - Math.max(0,maxGap-1500)/40 - Math.max(0,3-rate)*15;\n    score = Math.max(0, Math.min(100, Math.round(score)));\n    let advies = \"OK\";\n    if (rate < 1.2) advies = \"adv-interval verlagen (300 ms)\";\n    else if (maxGap > 4000) advies = \"mist advertenties - batterij/positie\";\n    else if (sd > 8) advies = \"plaatsing/antenne/tx-power\";\n    const naam = spelers[mac] || \"(onbekend)\";\n    rows.push({ Beacon: naam, MAC: mac, Rate: rate.toFixed(1), \"RSSI sigma\": sd.toFixed(1), MaxGap: Math.round(maxGap)+\"ms\", Palen: palen, Score: score, Offset: (kal[mac]||0)+\" dB\", Advies: advies });\n    lijst.push({ mac, naam, offset: kal[mac]||0, score });\n}\nglobal.set(\"beaconBuf\", buf);\nrows.sort((a,b)=>a.Score-b.Score);\nlijst.sort((a,b)=>a.score-b.score);\nreturn [{ payload: rows }, { payload: lijst }];","id":"e1a0000000000023","initialize":"","libs":[],"name":"Bouw beacon-tabel","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["e1a0000000000024"],["e1a0000000000031"]],"x":440,"y":540,"z":"124aa052f3987c33"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"left","key":"Beacon","keyType":"key","title":"Beacon","type":"text","width":""},{"align":"left","key":"MAC","keyType":"key","title":"MAC","type":"text","width":""},{"align":"center","key":"Rate","keyType":"key","title":"Rate (/s)","type":"text","width":""},{"align":"center","key":"RSSI sigma","keyType":"key","title":"RSSI sigma","type":"text","width":""},{"align":"center","key":"MaxGap","keyType":"key","title":"Max gap","type":"text","width":""},{"align":"center","key":"Palen","keyType":"key","title":"Palen","type":"text","width":""},{"align":"center","key":"Score","keyType":"key","title":"Score","type":"text","width":""},{"align":"center","key":"Offset","keyType":"key","title":"Offset","type":"text","width":""},{"align":"left","key":"Advies","keyType":"key","title":"Advies","type":"text","width":""}],"deselect":true,"group":"e1a0000000000020","height":0,"id":"e1a0000000000024","label":"Beacon-stabiliteit (laagste score bovenaan)","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Beacon-stabiliteit","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":540,"z":"124aa052f3987c33"},
    {"className":"","format":"<template>\n    <div>\n        <div v-for=\"b in (msg.payload || [])\" :key=\"b.mac\"\n             style=\"display:flex; align-items:center; gap:8px; padding:6px 4px; border-bottom:1px solid #eee;\">\n            <span style=\"flex:1; font-size:15px;\">{{ b.naam }} <small style=\"color:#888;\">{{ b.mac }}</small></span>\n            <span style=\"width:64px; text-align:right;\">nu {{ b.offset }} dB</span>\n            <input type=\"number\" step=\"1\" min=\"-20\" max=\"20\" :placeholder=\"b.offset\"\n                   @change=\"send({payload:{mac:b.mac, offset:Math.max(-20,Math.min(20,Number($event.target.value)||0))}})\"\n                   style=\"width:74px; padding:4px;\"/>\n        </div>\n        <div v-if=\"!(msg.payload && msg.payload.length)\" style=\"color:#888; padding:8px;\">Nog geen beacons gezien.</div>\n    </div>\n</template>","group":"e1a0000000000030","head":"","height":0,"id":"e1a0000000000031","name":"Beacon-kalibratie","order":1,"page":"","passthru":false,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":0,"wires":[["e1a0000000000032"]],"x":700,"y":600,"z":"124aa052f3987c33"},
    {"finalize":"","func":"if (!msg.payload || !msg.payload.mac) return null;\nlet K = global.get(\"beaconKalibratie\") || {};\nK[msg.payload.mac] = Number(msg.payload.offset) || 0;\nglobal.set(\"beaconKalibratie\", K);\nreturn null;","id":"e1a0000000000032","initialize":"","libs":[],"name":"Sla kalibratie op","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":940,"y":600,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e2a0000000000001","name":"Sim-uitzending (1s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"1","topic":"","type":"inject","wires":[["e2a0000000000002"]],"x":200,"y":640,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const loc = global.get(\"spelerLocaties\") || {};\nconst spel = global.get(\"pofHuidigSpel\") || null;\nreturn [\n  { topic: \"locatie/spelers\", payload: loc },\n  { topic: \"spel/historie\", payload: spel ? { actief: true, start: spel.start, events: spel.events } : { actief: false, events: [] } }\n];","id":"e2a0000000000002","initialize":"","libs":[],"name":"Bouw sim-uitzending","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["e2a0000000000003"],["e2a0000000000004"]],"x":440,"y":640,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"e2a0000000000003","name":"locatie/spelers","qos":"0","respTopic":"","retain":"false","topic":"locatie/spelers","type":"mqtt out","userProps":"","wires":[],"x":700,"y":620,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"e2a0000000000004","name":"spel/historie","qos":"0","respTopic":"","retain":"false","topic":"spel/historie","type":"mqtt out","userProps":"","wires":[],"x":700,"y":660,"z":"124aa052f3987c33"},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"history","id":"e2a0000000000020","layout":"grid","name":"Historiek","order":6,"path":"/historiek","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e2a0000000000021","name":"Spel-historiek","order":1,"page":"e2a0000000000020","showTitle":true,"type":"ui-group","visible":"true","width":12},
    {"crontab":"","id":"e2a0000000000022","name":"Historie verversen (2s)","once":true,"onceDelay":1.5,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["e2a0000000000023"]],"x":200,"y":720,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const hist = global.get(\"spelHistorie\") || [];\nconst fmt = (iso) => { try { return new Date(iso).toLocaleString(\"nl-BE\"); } catch(e){ return iso; } };\nmsg.payload = hist.map(s => ({\n  id: s.id,\n  start: fmt(s.start),\n  aantal: s.events.length,\n  events: s.events.map(e => ({ nr: e.nr, tekst: e.tekst, doelwit: e.doelwit || [], getalWaarde: e.getalWaarde }))\n}));\nreturn msg;","id":"e2a0000000000023","initialize":"","libs":[],"name":"Bouw historie","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e2a0000000000024"]],"x":440,"y":720,"z":"124aa052f3987c33"},
    {"className":"","format":"<template>\n  <div>\n    <div v-if=\"!(msg.payload && msg.payload.length)\" style=\"color:#888;padding:8px;\">Nog geen spellen in de historiek.</div>\n    <div v-for=\"spel in (msg.payload || [])\" :key=\"spel.id\" style=\"border-bottom:1px solid #ddd;padding:6px 4px;\">\n      <div style=\"display:flex;align-items:center;gap:8px;\">\n        <input type=\"checkbox\" v-model=\"sel[spel.id]\"/>\n        <span style=\"flex:1;cursor:pointer;font-weight:600;\" @click=\"open[spel.id]=!open[spel.id]\">\n          {{ open[spel.id] ? '\\u25be' : '\\u25b8' }} {{ spel.start }} \\u2014 {{ spel.aantal }} events\n        </span>\n      </div>\n      <div v-if=\"open[spel.id]\" style=\"padding:4px 0 4px 24px;\">\n        <div v-for=\"e in spel.events\" :key=\"e.nr\" style=\"padding:3px 0;font-size:14px;\">\n          <b>{{ e.nr }}.</b> {{ e.tekst }}\n          <span v-if=\"e.doelwit && e.doelwit.length\" style=\"color:#0277bd;\"> \\u2192 {{ e.doelwit.join(', ') }}</span>\n        </div>\n      </div>\n    </div>\n    <v-btn v-if=\"msg.payload && msg.payload.length\" color=\"error\" variant=\"tonal\" size=\"small\" style=\"margin-top:8px;\" @click=\"wis()\">Wis geselecteerde</v-btn>\n  </div>\n</template>\n<script>\nexport default {\n  data(){ return { open:{}, sel:{} } },\n  methods: {\n    wis(){\n      const ids = Object.keys(this.sel).filter(k => this.sel[k]).map(Number);\n      if(ids.length && confirm('Geselecteerde spellen definitief uit de historiek verwijderen?')){ this.send({ delete: ids }); this.sel = {}; }\n    }\n  }\n}\n</script>","group":"e2a0000000000021","head":"","height":0,"id":"e2a0000000000024","name":"Historiek","order":1,"page":"","passthru":false,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":0,"wires":[["e2a0000000000025"]],"x":700,"y":720,"z":"124aa052f3987c33"},
    {"finalize":"","func":"if (msg.delete && Array.isArray(msg.delete)) {\n    const weg = new Set(msg.delete.map(Number));\n    let hist = global.get(\"spelHistorie\") || [];\n    hist = hist.filter(s => !weg.has(s.id));\n    global.set(\"spelHistorie\", hist);\n}\nreturn msg;","id":"e2a0000000000025","initialize":"","libs":[],"name":"Wis historie","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e2a0000000000023"]],"x":940,"y":720,"z":"124aa052f3987c33"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e1a0000000000040","name":"Ruwe RSSI (diagnose)","order":4,"page":"e1a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":12},
    {"className":"","decouple":"true","group":"e1a0000000000040","height":1,"id":"e1a0000000000041","label":"Toon ruwe RSSI (diagnose)","name":"Toon ruwe RSSI","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"#0277bd","onicon":"","onvalue":"true","onvalueType":"bool","order":1,"passthru":false,"style":"","topic":"rssidiag","topicType":"str","type":"ui-switch","width":6,"wires":[["e1a0000000000042"]],"x":200,"y":800,"z":"124aa052f3987c33"},
    {"finalize":"","func":"global.set(\"rssiDiagAan\", msg.payload === true);\nreturn {payload: !!msg.payload};","id":"e1a0000000000042","initialize":"","libs":[],"name":"Diag-toggle","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e1a0000000000041"]],"x":440,"y":800,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e1a0000000000043","name":"RSSI-tabel (1s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"1","topic":"","type":"inject","wires":[["e1a0000000000044"]],"x":200,"y":860,"z":"124aa052f3987c33"},
    {"finalize":"","func":"if (global.get(\"rssiDiagAan\") !== true) { msg.payload = []; return msg; }\nconst nu = Date.now();\nconst VENSTER = 6000;\nconst buf = global.get(\"beaconBuf\") || {};\nconst spelers = global.get(\"spelersLijst\") || {};\nlet rows = [];\nfor (const mac in buf) {\n    const per = {};\n    for (const s of buf[mac]) {\n        if (nu - s.ts > VENSTER) continue;\n        (per[s.paal] = per[s.paal] || []).push(s.rssi);\n    }\n    const naam = spelers[mac] || \"(onbekend)\";\n    for (const paal in per) {\n        const arr = per[paal];\n        rows.push({ Beacon: naam, Paal: Number(paal), Laatste: arr[arr.length-1], Min: Math.min(...arr), Max: Math.max(...arr), n: arr.length });\n    }\n}\nrows.sort((a,b) => a.Beacon.localeCompare(b.Beacon) || b.Laatste - a.Laatste);\nmsg.payload = rows;\nreturn msg;","id":"e1a0000000000044","initialize":"","libs":[],"name":"Bouw RSSI-tabel","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e1a0000000000045"]],"x":440,"y":860,"z":"124aa052f3987c33"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"left","key":"Beacon","keyType":"key","title":"Beacon","type":"text","width":""},{"align":"center","key":"Paal","keyType":"key","title":"Paal","type":"text","width":""},{"align":"center","key":"Laatste","keyType":"key","title":"Laatste (dBm)","type":"text","width":""},{"align":"center","key":"Min","keyType":"key","title":"Min","type":"text","width":""},{"align":"center","key":"Max","keyType":"key","title":"Max","type":"text","width":""},{"align":"center","key":"n","keyType":"key","title":"n","type":"text","width":""}],"deselect":true,"group":"e1a0000000000040","height":0,"id":"e1a0000000000045","label":"Ruwe RSSI per beacon per paal (laatste 6 s)","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Ruwe RSSI per paal","order":2,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":860,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e3a0000000000001","name":"TEST: publiceer plaatjes/data","once":false,"onceDelay":0.1,"payload":"{\"paal\":1,\"mac\":\"48:87:2d:9d:bb:7d\",\"rssi\":-60}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["e3a0000000000002"]],"x":240,"y":920,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"e3a0000000000002","name":"TEST -> plaatjes/data","qos":"0","respTopic":"","retain":"false","topic":"plaatjes/data","type":"mqtt out","userProps":"","wires":[],"x":560,"y":920,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","datatype":"json","id":"e4a0000000000001","inputs":0,"name":"sim/modus","nl":false,"qos":"0","rap":true,"rh":0,"topic":"sim/modus","type":"mqtt in","wires":[["e4a0000000000002"]],"x":200,"y":980,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const sim24 = msg.payload && msg.payload.sim24 === true;\nglobal.set(\"simVeld24\", sim24);\nconst palen = sim24 ? Array.from({length:24},(_,i)=>i+1) : (global.get(\"paaltjesLijst\")||[]);\nglobal.set(\"palenActief\", palen);\nreturn null;","id":"e4a0000000000002","initialize":"","libs":[],"name":"Sim-veld instellen","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":460,"y":980,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","datatype":"json","id":"e4a0000000000003","inputs":0,"name":"sim/locatie","nl":false,"qos":"0","rap":true,"rh":0,"topic":"sim/locatie","type":"mqtt in","wires":[["e4a0000000000004"]],"x":200,"y":1040,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","datatype":"json","id":"e4a000000000ec01","inputs":0,"name":"sim/events-config","nl":false,"qos":"0","rap":true,"rh":2,"topic":"sim/events-config","type":"mqtt in","wires":[["e4a000000000ec02"]],"x":200,"y":1070,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const arr = (msg.payload && Array.isArray(msg.payload.uitgesloten)) ? msg.payload.uitgesloten : [];\nglobal.set(\"uitgeslotenEvents\", arr);\nreturn null;","id":"e4a000000000ec02","initialize":"","libs":[],"name":"Sla uitgeslotenEvents op","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":480,"y":1070,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","datatype":"json","id":"e4a000000000ed01","inputs":0,"name":"sim/middernacht-config","nl":false,"qos":"0","rap":true,"rh":2,"topic":"sim/middernacht-config","type":"mqtt in","wires":[["e4a000000000ed02"]],"x":210,"y":1110,"z":"124aa052f3987c33"},
    {"broker":"0f3c274c3514a5f8","datatype":"utf8","id":"e4a000000000fb01","inputs":0,"name":"sim/bediening","nl":false,"qos":"0","rap":true,"rh":0,"topic":"sim/bediening","type":"mqtt in","wires":[["e4a000000000fb02"]],"x":200,"y":1150,"z":"124aa052f3987c33"},
    {"finalize":"","func":"// Verwerk sim/bediening: programmatische engine-besturing voor het AI-testharnas.\n// Werkt ENKEL in sim-modus (simVeld24===true) zodat een echt spel nooit geraakt wordt.\n// out1 -> Spel aan/uit (start/stop) | out2 -> Sla pofManueel op (bool) | out3 -> Engine tick (pof_volgende/pof_controle) | out4 -> Wis globale stats\nconst cmd = (typeof msg.payload === \"string\") ? msg.payload.trim().toLowerCase() : msg.payload;\nif (global.get(\"simVeld24\") !== true) {\n    node.warn(\"sim/bediening genegeerd (niet in sim-modus): \" + cmd);\n    return null;\n}\nswitch (cmd) {\n    case \"start\": case \"aan\":  return [{ payload: \"start\" }, null, null, null];\n    case \"stop\": case \"uit\":  return [{ payload: \"stop\" }, null, null, null];\n    case \"manueel-aan\":        return [null, { payload: true }, null, null];\n    case \"manueel-uit\":        return [null, { payload: false }, null, null];\n    case \"volgende\":           return [null, null, { topic: \"pof_volgende\" }, null];\n    case \"controle\":           return [null, null, { topic: \"pof_controle\" }, null];\n    case \"wis-stats\":          return [null, null, null, { payload: \"\" }];\n    default:\n        node.warn(\"sim/bediening onbekende actie: \" + cmd);\n        return null;\n}","id":"e4a000000000fb02","initialize":"","libs":[],"name":"Verwerk sim-bediening","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["c6a0000000000080"],["c6a0000000000025"],["c6a0000000000007"],["c6a0000000000065"]],"x":480,"y":1150,"z":"124aa052f3987c33"},
    {"finalize":"","func":"// Middernacht-aan/uit uit de simulator-checkbox. Default (geen bericht / geen veld) = AAN.\nglobal.set(\"middernachtAan\", !!(msg.payload && msg.payload.aan !== false));\nreturn null;","id":"e4a000000000ed02","initialize":"","libs":[],"name":"Sla middernachtAan op","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":490,"y":1110,"z":"124aa052f3987c33"},
    {"finalize":"","func":"if (global.get(\"simVeld24\") !== true) return null;   // alleen actief in sim-modus\nconst lijst = msg.payload || [];\nconst spelers = global.get(\"spelersLijst\") || {};\nconst vorige = global.get(\"spelerLocaties\") || {};\nlet nieuw = {}, actief = [], bewegingen = [];\nconst nu = Date.now();\nlet seenMac = global.get(\"status_lastSeenMac\") || {};\nlet seenPaal = global.get(\"status_lastSeenPaal\") || {};\nfor (const d of lijst) {\n    const naam = spelers[d.mac]; if (!naam) continue;\n    nieuw[naam] = d.paal; actief.push(naam);\n    if (vorige[naam] !== d.paal) bewegingen.push({ payload: { speler: naam, vanPaal: (vorige[naam] !== undefined ? vorige[naam] : d.paal), naarPaal: d.paal } });\n    seenMac[d.mac] = nu;\n    seenPaal[d.paal] = nu;\n}\nglobal.set(\"spelerLocaties\", nieuw);\nglobal.set(\"simActieveSpelers\", actief);\nglobal.set(\"status_lastSeenMac\", seenMac);\nglobal.set(\"status_lastSeenPaal\", seenPaal);\nglobal.set(\"status_lastDataTs\", nu);\nreturn [ null, bewegingen.length ? bewegingen : null ];","id":"e4a0000000000004","initialize":"","libs":[],"name":"Sim directe locatie","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[[],["c1b0000000000001"]],"x":460,"y":1040,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e4a0000000000010","name":"Spelerstabel (2s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["e4a0000000000011"]],"x":200,"y":1100,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const sim = global.get(\"simVeld24\") === true;\nconst lopend = (global.get(\"spelToestand\")||\"gestopt\") === \"lopend\";\nif (!sim && lopend) return null;   // tijdens echt spel laat de locatie-functie de radar lopen\nconst spelers = global.get(\"spelersLijst\")||{};\nconst loc = global.get(\"spelerLocaties\")||{};\nconst stats = global.get(\"spelerStats\")||{};\nlet rows=[];\nfor (const mac in spelers){\n    const n = spelers[mac];\n    if (sim && !(n in loc)) continue;\n    const t = (stats[n] && stats[n].totaalUren) || 0;\n    rows.push({ Speler:n, Locatie: (loc[n]!=null?\"Paal \"+loc[n]:\"-\"), RSSI:\"-\", Levensdagen: Math.floor(t/24), Levensuren: t%24, Sterftes: (stats[n] && stats[n].sterftes)||0 });\n}\nmsg.payload = rows;\nreturn msg;","id":"e4a0000000000011","initialize":"","libs":[],"name":"Bouw spelerstabel","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["2f75d20d1f49851d"]],"x":460,"y":1100,"z":"124aa052f3987c33"},
    {"breakpoints":[{"cols":"3","name":"Default","px":"0"},{"cols":"6","name":"Tablet","px":"576"},{"cols":"9","name":"Small Desktop","px":"768"},{"cols":"12","name":"Desktop","px":"1024"}],"className":"","disabled":"false","icon":"test-tube","id":"e5a0000000000001","layout":"grid","name":"Simulatie","order":3,"path":"/simulatie","theme":"f4af76d3be7f4001","type":"ui-page","ui":"2560e15da2c4a046","visible":"true"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e5a0000000000010","name":"Sim — Plates of Fate besturing","order":1,"page":"e5a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e5a0000000000020","name":"Sim — Live radar","order":2,"page":"e5a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"e5a0000000000010","height":1,"icon":"skip-next","iconPosition":"left","id":"e5a0000000000013","label":"Volgende event","name":"Volgende event","order":4,"payload":"volgende","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"In manueel-modus: start het volgende event","topic":"pof_volgende","topicType":"str","type":"ui-button","width":3,"wires":[["c6a0000000000007"]],"x":200,"y":1260,"z":"124aa052f3987c33"},
    {"bgcolor":"","className":"","color":"","emulateClick":false,"enableClick":true,"enablePointerdown":false,"enablePointerup":false,"group":"e5a0000000000010","height":1,"icon":"check","iconPosition":"left","id":"e5a0000000000014","label":"Controle (manueel)","name":"Controle","order":5,"payload":"controle","payloadType":"str","pointerdownPayload":"","pointerdownPayloadType":"str","pointerupPayload":"","pointerupPayloadType":"str","tooltip":"In manueel-modus: voer nu de controle van het event uit","topic":"pof_controle","topicType":"str","type":"ui-button","width":3,"wires":[["c6a0000000000007"]],"x":200,"y":1300,"z":"124aa052f3987c33"},
    {"className":"","decouple":"true","group":"e5a0000000000010","height":1,"id":"e5a0000000000015","label":"Manueel","name":"Manueel","offcolor":"","officon":"","offvalue":"false","offvalueType":"bool","oncolor":"","onicon":"","onvalue":"true","onvalueType":"bool","order":3,"passthru":false,"style":"","topic":"manueel","topicType":"str","type":"ui-switch","width":3,"wires":[["f0a0000000000006"]],"x":200,"y":1340,"z":"124aa052f3987c33"},
    {"color":"#717171","font":"","fontSize":16,"format":"{{msg.payload}}","group":"e5a0000000000010","height":1,"id":"e5a0000000000016","label":"Huidig event","layout":"col-center","name":"Sim Huidig event","order":6,"style":false,"type":"ui-text","width":6,"wires":[],"z":"124aa052f3987c33"},
    {"color":"#717171","font":"","fontSize":16,"format":"{{msg.payload}}","group":"e5a0000000000010","height":1,"id":"e5a0000000000017","label":"Doelwit","layout":"col-center","name":"Sim Doelwit","order":7,"style":false,"type":"ui-text","width":6,"wires":[],"z":"124aa052f3987c33"},
    {"color":"#0277bd","font":"","fontSize":34,"format":"{{msg.payload}}","group":"e5a0000000000010","height":1,"id":"e5a0000000000018","label":"Timer","layout":"col-center","name":"Sim Timer","order":8,"style":true,"type":"ui-text","width":6,"wires":[],"z":"124aa052f3987c33"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Speler","type":"text","width":""},{"align":"center","key":"Tag","keyType":"key","title":"Tag","type":"text","width":""},{"align":"center","key":"Verplaatst","keyType":"key","title":"Verplaatst","type":"text","width":""},{"align":"center","key":"Status","keyType":"key","title":"Status","type":"text","width":""}],"deselect":true,"group":"e5a0000000000010","height":0,"id":"e5a0000000000019","label":"Controle laatste event","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Sim Controle","order":9,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":1300,"z":"124aa052f3987c33"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Naam","type":"text","width":""},{"align":"center","key":"Locatie","keyType":"key","title":"Actieve paal","type":"text","width":""},{"align":"center","key":"Levensdagen","keyType":"key","title":"Levensdagen","type":"text","width":""},{"align":"center","key":"Levensuren","keyType":"key","title":"Levensuren","type":"text","width":""},{"align":"center","key":"Sterftes","keyType":"key","title":"Sterftes","type":"text","width":""}],"deselect":true,"group":"e5a0000000000020","height":0,"id":"e5a000000000001a","label":"Live radar (simulatie)","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Sim Live radar","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":1360,"z":"124aa052f3987c33"},
    {"crontab":"","id":"e5a0000000000030","name":"Bouw sim-dashboard (1s)","once":true,"onceDelay":1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"1","topic":"","type":"inject","wires":[["e5a0000000000031"],["e5a0000000000062"]],"x":210,"y":1400,"z":"124aa052f3987c33"},
    {"finalize":"","func":"const ev = global.get(\"pofHuidigEvent\") || {};\nconst fase = global.get(\"pofFase\") || \"idle\";\nconst teller = global.get(\"pofTeller\");\nconst reveal = global.get(\"pofDoelwitReveal\") || \"—\";\nconst controle = global.get(\"pofLaatsteControle\") || [];\nconst toestand = global.get(\"spelToestand\") || \"gestopt\";\nconst spelers = global.get(\"spelersLijst\")||{}, loc = global.get(\"spelerLocaties\")||{}, stats = global.get(\"spelerStats\")||{};\nconst eventTekst = ev.naam ? (ev.naam + (ev.tekstIngevuld ? \" — \" + ev.tekstIngevuld : \"\")) : \"—\";\nconst timerTekst = ((fase === \"reactie\" || fase === \"aanloop\") && teller != null) ? (fase + \": \" + teller + \"s\") : fase;\nlet radar = [];\nfor (const mac in spelers){ const n=spelers[mac]; if(!(n in loc)) continue; const t=(stats[n]&&stats[n].totaalUren)||0;\n  radar.push({ Speler:n, Locatie:\"Paal \"+loc[n], Levensdagen:Math.floor(t/24), Levensuren:t%24, Sterftes:(stats[n]&&stats[n].sterftes)||0 }); }\nif (!radar.length) radar=[{ Speler:\"-\", Locatie:\"-\", Levensdagen:0, Levensuren:0, Achterstand:0 }];\nreturn [ {payload:eventTekst}, {payload:reveal}, {payload:timerTekst}, {payload: controle.length?controle:[{Speler:\"-\",Status:\"-\"}]}, {payload:radar}, {payload: \"Spel: \" + toestand.toUpperCase() + \"  |  POF: \" + fase} ];","id":"e5a0000000000031","initialize":"","libs":[],"name":"Bouw sim-dashboard","noerr":0,"outputs":6,"timeout":0,"type":"function","wires":[["e5a0000000000016"],["e5a0000000000017"],["e5a0000000000018"],["e5a0000000000019"],["e5a000000000001a"],["e5a0000000000044"]],"x":470,"y":1400,"z":"124aa052f3987c33"},
    {"className":"","format":"<template>\n  <div :style=\"{ backgroundColor: kleur, color:'white', padding:'12px 8px', textAlign:'center', fontWeight:'bold', borderRadius:'4px', fontSize:'16px' }\">{{ tekst }}</div>\n</template>\n<script>\nexport default {\n  computed: {\n    tekst(){ return (this.msg && this.msg.payload!=null && this.msg.payload!=='') ? String(this.msg.payload) : '-'; },\n    kleur(){ const t=this.tekst.toLowerCase(); if(/no-?go|gestopt|geblokkeerd/.test(t)) return '#c62828'; if(/pauze|wacht/.test(t)) return '#f9a825'; if(/\\bgo\\b|loopt|lopend|actief|klaar/.test(t)) return '#2e7d32'; return '#717171'; }\n  }\n}\n</script>","group":"e5a0000000000010","head":"","height":1,"id":"e5a0000000000044","name":"Sim Speltoestand","order":14,"page":"","passthru":true,"resendOnRefresh":true,"storeOutMessages":true,"templateScope":"local","type":"ui-template","ui":"","width":6,"wires":[[]],"x":700,"y":900,"z":"124aa052f3987c33"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c6a0000000000060","name":"Globale stats","order":4,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Speler","type":"text","width":""},{"align":"center","key":"Levensdagen","keyType":"key","title":"Levensdagen","type":"text","width":""},{"align":"center","key":"Levensuren","keyType":"key","title":"Levensuren","type":"text","width":""},{"align":"center","key":"Skills","keyType":"key","title":"Skills","type":"text","width":""},{"align":"center","key":"Sterftes","keyType":"key","title":"Sterftes","type":"text","width":""}],"deselect":true,"group":"c6a0000000000060","height":0,"id":"c6a0000000000061","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Tabel Globale stats","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":860,"y":720,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Bouw de globale-stats-tabel (blijft over Stop heen; wis met [BEHEER] Wis globale stats).\nconst spelers = global.get(\"spelersLijst\")||{};\nconst stats = global.get(\"spelerStats\")||{};\nlet rows=[];\nfor (const mac in spelers){\n    const n = spelers[mac];\n    const s = stats[n]||{};\n    const t = s.totaalUren||0;\n    const sk = (s.skills && s.skills.length) ? s.skills.join(\", \") : \"-\";\n    rows.push({ Speler:n, Levensdagen: Math.floor(t/24), Levensuren: t%24, Skills: sk, Sterftes: s.sterftes||0 });\n}\nif (!rows.length) rows=[{ Speler:\"-\", Levensdagen:0, Levensuren:0, Skills:\"-\", Sterftes:0 }];\nmsg.payload = rows;\nreturn msg;\n","id":"c6a0000000000062","initialize":"","libs":[],"name":"Bouw globale stats","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000061"]],"x":480,"y":720,"z":"c6a0000000000001"},
    {"crontab":"","id":"c6a0000000000063","name":"Ververs globale stats (2s)","once":true,"onceDelay":1.5,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"2","topic":"","type":"inject","wires":[["c6a0000000000062"]],"x":200,"y":720,"z":"c6a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"e5a0000000000060","name":"Sim — Globale stats","order":3,"page":"e5a0000000000001","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Speler","keyType":"key","title":"Speler","type":"text","width":""},{"align":"center","key":"Levensdagen","keyType":"key","title":"Levensdagen","type":"text","width":""},{"align":"center","key":"Levensuren","keyType":"key","title":"Levensuren","type":"text","width":""},{"align":"center","key":"Skills","keyType":"key","title":"Skills","type":"text","width":""},{"align":"center","key":"Sterftes","keyType":"key","title":"Sterftes","type":"text","width":""}],"deselect":true,"group":"e5a0000000000060","height":0,"id":"e5a0000000000061","label":"","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Sim globale stats","order":1,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"x":700,"y":1640,"z":"124aa052f3987c33"},
    {"finalize":"","func":"// Bouw de globale-stats-tabel (blijft over Stop heen; wis met [BEHEER] Wis globale stats).\nconst spelers = global.get(\"spelersLijst\")||{};\nconst stats = global.get(\"spelerStats\")||{};\nlet rows=[];\nfor (const mac in spelers){\n    const n = spelers[mac];\n    const s = stats[n]||{};\n    const t = s.totaalUren||0;\n    const sk = (s.skills && s.skills.length) ? s.skills.join(\", \") : \"-\";\n    rows.push({ Speler:n, Levensdagen: Math.floor(t/24), Levensuren: t%24, Skills: sk, Sterftes: s.sterftes||0 });\n}\nif (!rows.length) rows=[{ Speler:\"-\", Levensdagen:0, Levensuren:0, Skills:\"-\", Sterftes:0 }];\nmsg.payload = rows;\nreturn msg;\n","id":"e5a0000000000062","initialize":"","libs":[],"name":"Bouw sim globale stats","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["e5a0000000000061"]],"x":440,"y":1640,"z":"124aa052f3987c33"},
    {"crontab":"","id":"c6a0000000000064","name":"[BEHEER] Wis globale stats","once":false,"onceDelay":0.1,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c6a0000000000065"]],"x":210,"y":760,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Wis de globale stats (levensuren/levensdagen/sterftes/skills) van alle spelers.\nlet stats = global.get(\"spelerStats\") || {};\nfor (const n in stats) { stats[n].totaalUren = 0; stats[n].sterftes = 0; stats[n].achterstand = 0; stats[n].skills = []; }\nglobal.set(\"spelerStats\", stats);\nmsg.payload = \"Globale stats gewist.\";\nreturn msg;\n","id":"c6a0000000000065","initialize":"","libs":[],"name":"Wis globale stats","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000062"]],"x":480,"y":760,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Eén schakelaar voor start/stop van spel + POF, en wist meteen alle paal-LEDs\n// (defensief: stale LED's van verwijderde/oude events gaan zo altijd uit).\nconst aan = (msg.payload === true || msg.payload === \"aan\" || msg.payload === \"start\");\nconst manueel = global.get(\"pofManueel\") === true;\nfunction resetSpelStaat() {\n    const _af = global.get(\"pofHuidigSpel\");\n    if (_af && _af.events && _af.events.length) { _af.eind = new Date().toISOString(); const _h = global.get(\"spelHistorie\") || []; _h.unshift(_af); global.set(\"spelHistorie\", _h); }\n    global.set(\"pofHuidigSpel\", null); global.set(\"pofHuidigEvent\", null); global.set(\"pofWachtrij\", []);\n    global.set(\"pofActief\", false); global.set(\"pofFase\", \"idle\"); global.set(\"pofTeller\", 0);\n    global.set(\"pofEventenRonde\", 0); global.set(\"pofDoelwitReveal\", \"\");\n    global.set(\"bordStaat\", {}); global.set(\"spelerEffecten\", {}); global.set(\"wereldEffecten\", []);\n    global.set(\"pofVerificatie\", {}); global.set(\"pofLaatsteControle\", []); global.set(\"pofPad\", {});\n}\nlet melding;\nif (aan) {\n    resetSpelStaat();\n    global.set(\"spelToestand\", \"lopend\"); global.set(\"pofActief\", true); global.set(\"pofEventenRonde\", 0);\n    global.set(\"pofHuidigSpel\", { id: Date.now(), start: new Date().toISOString(), events: [] });\n    if (manueel) { global.set(\"pofFase\", \"wacht\"); global.set(\"pofTeller\", 0); }\n    else { global.set(\"pofFase\", \"aanloop\"); global.set(\"pofTeller\", 5); }\n    melding = \"LOOPT\";\n} else {\n    resetSpelStaat(); global.set(\"spelToestand\", \"gestopt\"); melding = \"GESTOPT\";\n}\nconst palen = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []);\nconst cmds = palen.map(p => ({ payload: { paal: p, actie: 0 } }));\nglobal.set(\"paalLedActie\", {});\nreturn [ { payload: \"Toestand: \" + melding }, cmds.length ? cmds : null ];\n","id":"c6a0000000000080","initialize":"","libs":[],"name":"Spel aan/uit","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["b3d1000000000007"],["c6a000000000000e"]],"x":480,"y":60,"z":"c6a0000000000001"},
    {"className":"","decouple":"true","group":"b3d100000000000a","height":1,"id":"c6a0000000000081","label":"Spel: uit / LOOPT","name":"Spel (Bediening)","offcolor":"#c62828","officon":"","offvalue":"uit","offvalueType":"str","oncolor":"#2e7d32","onicon":"","onvalue":"aan","onvalueType":"str","order":1,"passthru":false,"style":"","topic":"spel","topicType":"str","type":"ui-switch","width":4,"wires":[["f0a0000000000007"]],"x":180,"y":60,"z":"c6a0000000000001"},
    {"className":"","decouple":"true","group":"b3d100000000000a","height":1,"id":"c6a0000000000082","label":"Pauze","name":"Pauze (Bediening)","offcolor":"","officon":"","offvalue":"hervat","offvalueType":"str","oncolor":"#f9a825","onicon":"","onvalue":"pauzeer","onvalueType":"str","order":2,"passthru":false,"style":"","topic":"bediening","topicType":"str","type":"ui-switch","width":3,"wires":[["f0a0000000000008"]],"x":180,"y":140,"z":"c6a0000000000001"},
    {"className":"","decouple":"true","group":"e5a0000000000010","height":1,"id":"c6a0000000000083","label":"Spel: uit / LOOPT","name":"Spel (Sim)","offcolor":"#c62828","officon":"","offvalue":"uit","offvalueType":"str","oncolor":"#2e7d32","onicon":"","onvalue":"aan","onvalueType":"str","order":1,"passthru":false,"style":"","topic":"spel","topicType":"str","type":"ui-switch","width":4,"wires":[["f0a0000000000009"]],"x":180,"y":1380,"z":"c6a0000000000001"},
    {"className":"","decouple":"true","group":"e5a0000000000010","height":1,"id":"c6a0000000000084","label":"Pauze","name":"Pauze (Sim)","offcolor":"","officon":"","offvalue":"hervat","offvalueType":"str","oncolor":"#f9a825","onicon":"","onvalue":"pauzeer","onvalueType":"str","order":2,"passthru":false,"style":"","topic":"bediening","topicType":"str","type":"ui-switch","width":3,"wires":[["f0a000000000000a"]],"x":180,"y":1420,"z":"c6a0000000000001"},
    {"crontab":"","id":"c0a0000000000090","name":"[CONFIG] Spelerslijst","once":true,"onceDelay":0.3,"payload":"{\"48:87:2d:9d:bb:7d\":\"Lilou\",\"48:87:2d:9d:ba:5c\":\"Zoë\",\"48:87:2d:9d:ba:cc\":\"Louisa\",\"48:87:2d:9d:ba:5f\":\"Lola\",\"48:87:2d:9d:bb:0b\":\"Maud\",\"48:87:2d:9d:ba:a5\":\"Mien\"}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["4b34e1666df93bbb"]],"x":200,"y":120,"z":"c0a0000000000001"},
    {"crontab":"","id":"c0a0000000000095","name":"[CONFIG] Speler-eigenschappen","once":true,"onceDelay":0.35,"payload":"{\"Aagje\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Alix D\":{\"kleur\":\"rood\",\"jaar\":\"derde\"},\"Attah\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Emma\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Blanche\":{\"kleur\":\"rood\",\"jaar\":\"derde\"},\"Casper\":{\"kleur\":\"rood\",\"jaar\":\"derde\"},\"Elias\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Tobin\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Margaux\":{\"kleur\":\"rood\",\"jaar\":\"eerste\"},\"Louisa\":{\"kleur\":\"rood\",\"jaar\":\"derde\"},\"Jinte\":{\"kleur\":\"zwart\",\"jaar\":\"eerste\"},\"Aster\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Suzan\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Lotta\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Elisa\":{\"kleur\":\"zwart\",\"jaar\":\"tweede\"},\"Maud\":{\"kleur\":\"zwart\",\"jaar\":\"eerste\"},\"Anna\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Lilou\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Marie S\":{\"kleur\":\"zwart\",\"jaar\":\"tweede\"},\"Lore\":{\"kleur\":\"zwart\",\"jaar\":\"derde\"},\"Marie D\":{\"kleur\":\"blauw\",\"jaar\":\"derde\"},\"Mauro\":{\"kleur\":\"blauw\",\"jaar\":\"derde\"},\"Amélie\":{\"kleur\":\"blauw\",\"jaar\":\"derde\"},\"Mien\":{\"kleur\":\"blauw\",\"jaar\":\"tweede\"},\"Alix R\":{\"kleur\":\"blauw\",\"jaar\":\"derde\"},\"Mila\":{\"kleur\":\"blauw\",\"jaar\":\"tweede\"},\"Ina\":{\"kleur\":\"blauw\",\"jaar\":\"tweede\"},\"Stelle\":{\"kleur\":\"blauw\",\"jaar\":\"derde\"},\"Estée\":{\"kleur\":\"blauw\",\"jaar\":\"eerste\"},\"Lola\":{\"kleur\":\"blauw\",\"jaar\":\"eerste\"},\"Zoë\":{\"kleur\":\"blauw\",\"jaar\":\"eerste\"}}","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c0a0000000000092"]],"x":210,"y":200,"z":"c0a0000000000001"},
    {"action":"","from":"","id":"c0a0000000000092","name":"Sla op als spelerEigenschappen","property":"","reg":false,"rules":[{"p":"spelerEigenschappen","pt":"global","t":"set","to":"payload","tot":"msg"}],"to":"","type":"change","wires":[[]],"x":510,"y":200,"z":"c0a0000000000001"},
    {"crontab":"","id":"c0a0000000000091","name":"[CONFIG] Paaltjeslijst","once":true,"onceDelay":0.4,"payload":"[1, 2, 3]","payloadType":"json","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c0a0000000000003"]],"x":200,"y":240,"z":"c0a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000001","initialize":"","libs":[],"name":"Feedback Toon batterij","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["a1b2c3d4e5f60125"],["a1b2c3d4e5f60126"]],"x":340,"y":580,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000002","initialize":"","libs":[],"name":"Feedback Override NO-GO","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["a1b2c3d4e5f60127"],["a1b2c3d4e5f60128"]],"x":340,"y":640,"z":"a1b2c3d4e5f60101"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000003","initialize":"","libs":[],"name":"Feedback Admin ontgrendelen","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c5a0000000000002"],["c5a0000000000003"]],"x":340,"y":120,"z":"c5a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000004","initialize":"","libs":[],"name":"Feedback Manueel Bediening","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000024"],["c6a0000000000025"]],"x":340,"y":700,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000005","initialize":"","libs":[],"name":"Feedback Bevestig stop","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["b3d1000000000011"],["b3d1000000000012"]],"x":340,"y":400,"z":"b3d1000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000006","initialize":"","libs":[],"name":"Feedback Manueel Sim","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["e5a0000000000015"],["c6a0000000000025"]],"x":340,"y":1340,"z":"124aa052f3987c33"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000007","initialize":"","libs":[],"name":"Feedback Spel Bediening","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000081"],["c6a0000000000080"]],"x":340,"y":60,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000008","initialize":"","libs":[],"name":"Feedback Pauze Bediening","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000082"],["b3d1000000000006"]],"x":340,"y":140,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a0000000000009","initialize":"","libs":[],"name":"Feedback Spel Sim","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000083"],["c6a0000000000080"]],"x":340,"y":1380,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Schakelaar C feedback: stuur payload terug naar schakelaar voor visuele update.\nreturn [{payload: msg.payload}, msg];","id":"f0a000000000000a","initialize":"","libs":[],"name":"Feedback Pauze Sim","noerr":0,"outputs":2,"timeout":0,"type":"function","wires":[["c6a0000000000084"],["b3d1000000000006"]],"x":340,"y":1420,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a000000000ee20","name":"pof/events (retain)","qos":"1","respTopic":"","retain":"true","topic":"pof/events","type":"mqtt out","userProps":"","wires":[],"x":720,"y":200,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Ziekte-lifecycle na de controle (draait elke ronde): genezen, dubbel-genezing,\n// aftellen, sterfte, hartslag-waarschuwing en opschoning van medicijnen.\n// out1 -> commando/master1 (zoemer-waarschuwing) | out2 -> pof/ziekte | out3 -> rebuild LEDs/tabel\nlet ziek = global.get(\"ziekeSpelers\") || {};\nconst loc = global.get(\"spelerLocaties\") || {};\nlet bord = global.get(\"bordStaat\") || {};\nlet stats = global.get(\"spelerStats\") || {};\nfunction isMedicijnUur(u){ return (((bord[u]||{}).effecten)||[]).some(e=>e.effect===\"medicijn\"); }\n\n// 1) Genezen: enkel spelers die in 'Verifieer beweging' WETTELIJK op een medicijn-uur eindigden\n// (lijst pofGenezen). Tel cures per uur voor de dubbel-genezing.\nconst teGenezen = global.get(\"pofGenezen\") || [];\nconst cureCount = {};\nfor (const g of teGenezen) {\n    if (ziek[g.naam] == null) continue;\n    delete ziek[g.naam];\n    if (g.uur != null) cureCount[g.uur] = (cureCount[g.uur] || 0) + 1;\n}\nglobal.set(\"pofGenezen\", []);\n\n// 2) Dubbel-genezing: een medicijn-uur waar >=2 zieken samen genazen, wordt verbruikt.\nfor (const u in cureCount) {\n    if (cureCount[u] >= 2 && bord[u]) bord[u].effecten = (bord[u].effecten||[]).filter(e=>e.effect!==\"medicijn\");\n}\n\n// 3) Resterende zieken: aftellen; bij 0 sterven (uren 0 + sterfte), anders bij <=3 waarschuwen.\nlet cmds = [];\nfor (const naam in ziek) {\n    let over = ziek[naam] - 1;\n    if (over <= 0) {\n        let s = stats[naam] || {}; if (s.totaalUren===undefined) s.totaalUren=0; if (s.sterftes===undefined) s.sterftes=0;\n        s.totaalUren = 0; s.sterftes += 1; stats[naam] = s;\n        delete ziek[naam];\n        node.warn(\"Ziekte: \" + naam + \" is gestorven (geen medicijn op tijd)\");\n    } else {\n        ziek[naam] = over;\n        if (over <= 3) { const actie = over===3?5:(over===2?6:7); const u = loc[naam]; if (u != null) cmds.push({ payload: { paal: u, actie: actie } }); }\n    }\n}\n\n// 4) Opschonen: geen zieken meer -> alle medicijnen weg (episode voorbij).\nif (Object.keys(ziek).length === 0) {\n    for (const u in bord) bord[u].effecten = ((bord[u].effecten)||[]).filter(e=>e.effect!==\"medicijn\");\n}\nfor (const u in bord) { if (!(((bord[u]||{}).effecten)||[]).length) delete bord[u]; }\n\nglobal.set(\"ziekeSpelers\", ziek);\nglobal.set(\"spelerStats\", stats);\nglobal.set(\"bordStaat\", bord);\n\nconst lijst = Object.keys(ziek).map(n => ({ speler:n, rondesOver: ziek[n], uur: loc[n] != null ? loc[n] : null }));\nreturn [ cmds.length ? cmds : null, { topic:\"pof/ziekte\", payload: lijst }, { payload:\"rebuild\" }, { topic:\"pof/dienaars\", payload: global.get(\"dienaars\") || {} } ];\n","id":"c6a0000000000071","initialize":"","libs":[],"name":"Ziekte-beheer","noerr":0,"outputs":4,"timeout":0,"type":"function","wires":[["c6a000000000000e"],["c6a0000000000072"],["c6a0000000000050","c6a0000000000013"],["c6a00000000000c4","c6a00000000000d2"]],"x":980,"y":600,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a0000000000072","name":"pof/ziekte (retain)","qos":"1","respTopic":"","retain":"true","topic":"pof/ziekte","type":"mqtt out","userProps":"","wires":[],"x":1240,"y":600,"z":"c6a0000000000001"},
    {"crontab":"","id":"c6a00000000000c0","name":"[CONFIG] Pi-cijfers","once":true,"onceDelay":0.2,"payload":"","payloadType":"date","props":[{"p":"payload"}],"repeat":"","topic":"","type":"inject","wires":[["c6a00000000000c1"]],"x":200,"y":1500,"z":"c6a0000000000001"},
    {"finalize":"","func":"// Bereken de eerste 500 cijfers van pi via Machin (BigInt) en zet global.piDigits.\nconst N = 500;\nconst SCALE = 10n ** BigInt(N + 12);\nfunction arccot(x){ const xb=BigInt(x), x2=xb*xb; let xpow=SCALE/xb, sum=xpow, n=1n, sign=-1n; while(xpow>0n){ xpow=xpow/x2; const term=xpow/(2n*n+1n); sum+=sign*term; sign=-sign; n++; } return sum; }\nconst pi = 16n*arccot(5) - 4n*arccot(239);\nconst s = pi.toString();\nglobal.set(\"piDigits\", s.slice(0, N).split(\"\").map(d=>parseInt(d,10)));\nnode.warn(\"Pi-cijfers berekend: \" + s.slice(0,12) + \"... (\" + N + \" cijfers)\");\nreturn null;\n","id":"c6a00000000000c1","initialize":"","libs":[],"name":"Bereken pi-cijfers","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[[]],"x":470,"y":1500,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a00000000000c3","name":"pof/middernacht (retain)","qos":"1","respTopic":"","retain":"true","topic":"pof/middernacht","type":"mqtt out","userProps":"","wires":[],"x":1000,"y":1560,"z":"c6a0000000000001"},
    {"broker":"0f3c274c3514a5f8","contentType":"","correl":"","expiry":"","id":"c6a00000000000c4","name":"pof/dienaars (retain)","qos":"1","respTopic":"","retain":"true","topic":"pof/dienaars","type":"mqtt out","userProps":"","wires":[],"x":1000,"y":1600,"z":"c6a0000000000001"},
    {"id":"c6a00000000000c5","type":"delay","z":"c6a0000000000001","name":"Oogst-delay (4s)","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1000,"y":1640,"wires":[["c6a00000000000c6"]]},
    {"finalize":"","func":"// Einde van de dramatische oogst-animatie: LED's herstellen naar normaal.\nglobal.set(\"middernachtOogst\", false);\nglobal.set(\"paalLedForceRebuild\", true);\nreturn { payload: \"oogst-einde\" };\n","id":"c6a00000000000c6","initialize":"","libs":[],"name":"Oogst-einde","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a0000000000050"]],"x":1200,"y":1640,"z":"c6a0000000000001"},
    {"finalize":"","func":"// MIDDERNACHT (één keer per event, getriggerd door 'Kies event'). De poort volgt de pi-cijfers:\n// start open; elke fase duurt 'cijfer' events, dan flip open<->dicht. Een 0-cijfer = OOGST (geen flip).\n// out1 -> commando/master1 (oogst-animatie) | out2 -> pof/middernacht | out3 -> pof/dienaars\n// out4 -> Sync LEDs (poort-LED) | out5 -> Oogst-delay (herstel na de animatie)\n// Uitgeschakeld via de simulator-checkbox: de hoogste paal is dan een NORMAAL uur (geen poort,\n// geen oogst, geen oversteek-blokkade). De pi-stand wordt NIET aangeraakt zodat ze bij weer\n// inschakelen verderloopt. Publiceer een lege poort-status en trigger een LED-sync (poort-LED weg).\nif (global.get(\"middernachtAan\") === false) {\n    global.set(\"middernachtActief\", false);\n    return [null, { topic: \"pof/middernacht\", payload: null }, null, { payload: \"sync\" }, null];\n}\nconst digits = global.get(\"piDigits\") || [];\nif (!digits.length) return null;\nconst palenRing = (global.get(\"palenActief\") || global.get(\"paaltjesLijst\") || []).slice();\nconst mnPaal = palenRing.length ? Math.max.apply(null, palenRing) : 24;\nglobal.set(\"middernachtPaal\", mnPaal);\nglobal.set(\"middernachtActief\", true);\nconst digitAt = (i) => digits[((i % digits.length) + digits.length) % digits.length];\n\nlet idx = global.get(\"midnightIndex\"); if (idx == null) idx = 0;\nlet open = global.get(\"midnightOpen\");\nlet rem = global.get(\"midnightRemaining\");\nlet harvest = false;\n\nif (rem == null) { open = true; rem = digitAt(0); idx = 1; }\nelse {\n    rem = rem - 1;\n    if (rem <= 0) {\n        while (true) {\n            const d = digitAt(idx); idx = idx + 1;\n            if (d === 0) { harvest = true; continue; }   // 0 = oogst, geen flip\n            open = !open; rem = d; break;\n        }\n    }\n}\nidx = ((idx % digits.length) + digits.length) % digits.length;\nglobal.set(\"midnightIndex\", idx);\nglobal.set(\"midnightOpen\", open);\nglobal.set(\"midnightRemaining\", rem);\n\nlet dienaars = global.get(\"dienaars\") || {};\nlet cmds = null;\nif (harvest) {\n    let stats = global.get(\"spelerStats\") || {};\n    const loc = global.get(\"spelerLocaties\") || {};\n    const opMN = Object.keys(loc).filter(n => loc[n] === mnPaal);\n    for (const naam of opMN) {\n        let s = stats[naam] || {}; if (s.totaalUren===undefined) s.totaalUren=0; if (s.sterftes===undefined) s.sterftes=0;\n        s.totaalUren = 0; s.sterftes += 1; stats[naam] = s;\n        if (!dienaars[naam]) {\n            const kand = Object.keys(loc).filter(m => opMN.indexOf(m) < 0 && !dienaars[m]);\n            let meester = null, minU = Infinity;\n            for (const m of kand) { const u = (stats[m] && stats[m].totaalUren) || 0; if (u < minU) { minU = u; meester = m; } }\n            if (meester) dienaars[naam] = meester;\n            node.warn(\"Middernacht-oogst: \" + naam + \" geoogst\" + (meester ? \" -> dient \" + meester : \" (geen meester)\"));\n        } else {\n            node.warn(\"Middernacht-oogst: \" + naam + \" geoogst (was al dienaar van \" + dienaars[naam] + \")\");\n        }\n    }\n    global.set(\"spelerStats\", stats);\n    global.set(\"dienaars\", dienaars);\n    global.set(\"middernachtOogst\", true);\n    global.set(\"paalLedForceRebuild\", true);\n    cmds = palenRing.map(u => ({ payload: { paal: u, actie: 11 } }));\n}\n\nfunction eventsTotOogst() {\n    let i = idx, r = rem, count = 0, guard = 0;\n    while (guard++ < 6000) {\n        count++; r = r - 1;\n        if (r <= 0) {\n            while (true) {\n                const d = digitAt(i); i = i + 1;\n                if (d === 0) return count;\n                r = d; break;\n            }\n        }\n    }\n    return null;\n}\n\nconst mn = { topic: \"pof/middernacht\", payload: { index: idx, open: open, remaining: rem, eventsTotOogst: eventsTotOogst(), paal: mnPaal } };\nconst dn = { topic: \"pof/dienaars\", payload: dienaars };\nreturn [ cmds, mn, dn, { payload: \"sync\" }, harvest ? { payload: \"oogst\" } : null ];\n","id":"c6a00000000000c2","initialize":"","libs":[],"name":"Middernacht","noerr":0,"outputs":5,"timeout":0,"type":"function","wires":[["c6a000000000000e"],["c6a00000000000c3","c6a00000000000d0"],["c6a00000000000c4","c6a00000000000d2"],["c6a0000000000050"],["c6a00000000000c5"]],"x":470,"y":1560,"z":"c6a0000000000001"},
    {"className":"","disabled":"false","groupType":"default","height":1,"id":"c6a00000000000d4","name":"Middernacht & Dienaren","order":7,"page":"b3d1000000000009","showTitle":true,"type":"ui-group","visible":"true","width":6},
    {"finalize":"","func":"const m = msg.payload || {};\nmsg.payload = (m.open ? \"🟢 Poort OPEN\" : \"🔴 Poort DICHT\") + \"  |  nog \" + (m.remaining!=null?m.remaining:\"?\") + \" events in fase  |  oogst over \" + (m.eventsTotOogst!=null?m.eventsTotOogst:\"?\") + \" events  (pi-index \" + (m.index!=null?m.index:\"?\") + \")\";\nreturn msg;\n","id":"c6a00000000000d0","initialize":"","libs":[],"name":"Bouw middernacht-tekst","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a00000000000d1"]],"x":760,"y":1560,"z":"c6a0000000000001"},
    {"color":"#4527a0","font":"","fontSize":15,"format":"{{msg.payload}}","group":"c6a00000000000d4","height":1,"id":"c6a00000000000d1","label":"Middernacht","layout":"row-spread","name":"Middernacht-status","order":1,"style":false,"type":"ui-text","width":6,"wires":[],"z":"c6a0000000000001"},
    {"finalize":"","func":"const d = msg.payload || {};\nconst rijen = Object.keys(d).map(n => ({ Dienaar: n, Meester: d[n] }));\nmsg.payload = rijen.length ? rijen : [{ Dienaar: \"-\", Meester: \"-\" }];\nreturn msg;\n","id":"c6a00000000000d2","initialize":"","libs":[],"name":"Bouw dienaren-tabel","noerr":0,"outputs":1,"timeout":0,"type":"function","wires":[["c6a00000000000d3"]],"x":760,"y":1600,"z":"c6a0000000000001"},
    {"action":"replace","autocols":false,"className":"","columns":[{"align":"center","key":"Dienaar","keyType":"key","title":"Dienaar","type":"text","width":""},{"align":"center","key":"Meester","keyType":"key","title":"Meester","type":"text","width":""}],"deselect":true,"group":"c6a00000000000d4","height":0,"id":"c6a00000000000d3","label":"Dienaren","maxrows":0,"mobileBreakpoint":"sm","mobileBreakpointType":"defaults","name":"Dienaren","order":2,"passthru":false,"selectionType":"none","showSearch":false,"type":"ui-table","width":0,"wires":[],"z":"c6a0000000000001"}
]